<section class="mt-11 md1:mt-8">
    <div class="container">
        <h2 class="title-2 text-center">Информация</h2>

        <div class="mt-20 md1:mt-8">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Общая информация</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-2" hidden>
                        <div class="flex flex-col gap-3">
                            <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                                <div class="flex items-center gap-3">
                                    <svg class="w-5 h-5 text-purpleSecond">
                                        <use xlink:href="img/sprite.svg#file-text"></use>
                                    </svg>
                                    Сведения об организации
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Отчетность</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-2" hidden>
                        <div class="flex flex-col gap-3">
                            <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                                <div class="flex items-center gap-3">
                                    <svg class="w-5 h-5 text-purpleSecond">
                                        <use xlink:href="img/sprite.svg#file-text"></use>
                                    </svg>
                                    Сведения об организации
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Разрешительная документация</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-2" hidden>
                        <div class="flex flex-col gap-3">
                            <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                                <div class="flex items-center gap-3">
                                    <svg class="w-5 h-5 text-purpleSecond">
                                        <use xlink:href="img/sprite.svg#file-text"></use>
                                    </svg>
                                    Сведения об организации1
                                </div>
                            </a>
                            <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                                <div class="flex items-center gap-3">
                                    <svg class="w-5 h-5 text-purpleSecond">
                                        <use xlink:href="img/sprite.svg#file-text"></use>
                                    </svg>
                                    Сведения об организации2
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
