<div class="bg-gray rounded-primary p-14 md1:py-6 md1:px-4">
    <div class="grid grid-cols-2 gap-6 md1:gap-4 md2:grid-cols-1">
        <a href="tel:84994447085" class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-3xl group">
            <div class="flex items-center gap-4">
                <svg class="w-6 h-6 text-purpleSecond">
                    <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                <h4 class="font-medium">Диспетчерская служба</h4>
            </div>
            <div class="mt-6">
                <span class="group-hover:text-hoverPrimary transition-primary-all">+7 499 444-70-85</span>
            </div>
        </a>
        <a href="tel:84994447085" class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-3xl group">
            <div class="flex items-center gap-4">
                <svg class="w-6 h-6 text-purpleSecond">
                    <use xlink:href="img/sprite.svg#directbox-notif"></use>
                </svg>
                <h4 class="font-medium">Охрана, заказ пропусков</h4>
            </div>
            <div class="mt-6">
                <span class="group-hover:text-hoverPrimary transition-primary-all">+7 499 444-70-85</span>
            </div>
        </a>
        <div class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-3xl">
            <div class="flex items-center gap-4">
                <h4 class="title-4">Управляющая компания</h4>
            </div>
            <div class="mt-10 flex flex-col gap-10 leading-[1.6]">
                <div>
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#phone"></use>
                        </svg>
                        <h4 class="font-medium">Офис, заказ пропусков</h4>
                    </div>
                    <div class="mt-6">
                        <a href="tel:84994447085" class="link-primary !font-normal">+7 499 444-70-85</a>
                    </div>
                </div>
                <div>
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#user-square"></use>
                        </svg>
                        <h4 class="font-medium">Управляющий домом</h4>
                    </div>
                    <div class="mt-6">
                        <span>Закамов Алексей Сергеевич</span>
                    </div>
                </div>
                <div>
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#location"></use>
                        </svg>
                        <h4 class="font-medium">Адрес офиса</h4>
                    </div>
                    <div class="mt-6">
                        <span>г. Москва, Ходынский бульвар, д. 2, -1 этаж, помещение № 42, вход с 1 этажа, дверь слева от стоматологии</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-3xl">
            <div class="flex items-center gap-4">
                <svg class="w-6 h-6 text-purpleSecond">
                    <use xlink:href="img/sprite.svg#clock"></use>
                </svg>
                <h4 class="font-medium">Часы приёма</h4>
            </div>
            <div class="mt-6 flex flex-col gap-1 leading-[1.6] max-w-[175px]">
                <div class="flex items-center justify-between gap-5">
                    <span class="w-14">Пн</span>
                    <span>—</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Вт</span>
                    <span>11:00-20:00</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Ср</span>
                    <span>09:00-18:00</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Чт</span>
                    <span>11:00-20:00</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Пт</span>
                    <span>09:00-18:00</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Сб</span>
                    <span>09:00-15:00</span>
                </div>
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Вс</span>
                    <span>—</span>
                </div>
            </div>
            <div class="mt-6 flex flex-col gap-1 leading-[1.6] max-w-[175px]">
                <div class="flex items-center justify-between gap-4">
                    <span class="w-14">Обед</span>
                    <span>13:00-14:00</span>
                </div>
            </div>
        </div>
    </div>
</div>
