<div class='md1:px-4'>
    <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Протоколы ОСС</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Инструкции и правила</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Договор с управляющей компанией</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Тарифы на коммунальные услуги</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Содержание и ремонт общего имущества</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
        <li class="faq__item">
            <button class="faq__btn" data-spoller>
                <h3 class="title-4">Дополнительные услуги</h3>
                <svg class="ml-3 faq__arrow">
                    <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                </svg>
            </button>
            <div class="faq__content text-paragraph-2" hidden>
                <div class="flex flex-col gap-3">
                    <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank">
                        <div class="flex items-center gap-3">
                            <svg class="w-5 h-5 text-purpleSecond">
                                <use xlink:href="img/sprite.svg#file-text"></use>
                            </svg>
                            Итоги ОСС от 20.02.2025
                        </div>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
