<section class="mt-11">
    <div class="container-desktop">
        <h2 class="title-2 text-center">Новости</h2>

        <div class="mt-20 md1:mt-8 bg-gray rounded-primary px-14 py-[52px] md1:p-6">
            <div class="grid grid-cols-2 gap-6 md1:gap-5 md2:grid-cols-1">
                <article class="news-card news-card--big">
                    <a href="#" class="news-card__wrapper">
                        <span class="news-card__badge">Новости УК</span>
                        <h3 class="news-card__title title-4">Мобильное приложение собственника</h3>
                        <p class="news-card__descr text-paragraph-2">
                            Своевременно предоставляйте собвственникам сведения о работе УК предоставляйте собвственникам сведения
                        </p>
                        <time datetime="2025-12-12" class="news-card__time">12.12.2025</time>
                        <svg class="news-card__arrow">
                            <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                        </svg>
                    </a>
                </article>
                <article class="news-card news-card--big">
                    <a href="#" class="news-card__wrapper">
                        <span class="news-card__badge">Новости УК</span>
                        <h3 class="news-card__title title-4">Мобильное приложение исполнителя</h3>
                        <p class="news-card__descr text-paragraph-2">
                            Своевременно предоставляйте собвственникам сведения о работе УК предоставляйте собвственникам сведения
                        </p>
                        <time datetime="2022-12-13" class="news-card__time">13.12.2022</time>
                        <svg class="news-card__arrow">
                            <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                        </svg>
                    </a>
                </article>
                <article class="news-card news-card--big">
                    <a href="#" class="news-card__wrapper">
                        <span class="news-card__badge">Новости УК</span>
                        <h3 class="news-card__title title-4">Мобильное приложение исполнителя</h3>
                        <p class="news-card__descr text-paragraph-2">
                            Своевременно предоставляйте собвственникам сведения о работе УК предоставляйте собвственникам сведения
                        </p>
                        <time datetime="2022-12-13" class="news-card__time">13.12.2022</time>
                        <svg class="news-card__arrow">
                            <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                        </svg>
                    </a>
                </article>
                <article class="news-card news-card--big">
                    <a href="#" class="news-card__wrapper">
                        <span class="news-card__badge">Новости УК</span>
                        <h3 class="news-card__title title-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, incidunt?</h3>
                        <p class="news-card__descr text-paragraph-2">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis incidunt facilis est tempore impedit nostrum provident
                            assumenda nesciunt praesentium vitae mollitia deserunt ipsa cum aperiam ea numquam quia obcaecati, nisi, perferendis eius
                            soluta? Rem quis aliquam magni excepturi maxime optio deleniti vero, beatae officia blanditiis debitis reprehenderit iure
                            id vitae.
                        </p>
                        <time datetime="2025-12-12" class="news-card__time">12.12.2025</time>
                        <svg class="news-card__arrow">
                            <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                        </svg>
                    </a>
                </article>
            </div>
            <button class="btn btn-primary btn-s-default mt-[100px] md1:mt-10 mx-auto">Еще новости</button>
        </div>
    </div>
</section>
