<section class="mt-[50px]">
    <div class="container">
        <div class="mmd1:ml-[54px]">
            <h1 class="title-1-5 mb-7 md1:mb-5 max-w-[1080px]">
                Договор №08/05/26 на предоставление права использования сервиса «КАК ДОМА» и оказание услуг по сопровождению
            </h1>
            <div class="flex items-center gap-2">
                <svg class="w-5 h-5 text-purpleSecond">
                    <use xlink:href="img/sprite.svg#file-text"></use>
                </svg>
                <p class="text-paragraph-2 !font-semibold">Договор</p>
            </div>
            <time datetime="2026-05-08" class="mt-20 md1:mt-10 text-paragraph-2 block">Москва, 08 мая 2026 г.</time>
            <div class="mt-[50px] md1:mt-8 text-paragraph-2 max-w-[950px] flex flex-col gap-8">
                <p>
                    Настоящая Оферта представляет собой официальное предложение Общества с ограниченной ответственностью«КАК ДОМА» (ИНН 5047318648,
                    КПП 504701001, г. Химки, ул Ивановская, д. 53, пом. 180) , далее именуемого «Лицензиар», разместившего настоящую публичную Оферту
                    в соответствии со ст. 435 и 437 Гражданского Кодекса Российской Федерации (далее – «Оферта») о предоставлении права использовать
                    программное обеспечение физическому и/или юридическому лицу, именуемому в дальнейшем «Лицензиат».  Условия об акцепте 1.1. Акцепт
                    настоящей Оферты означает полное и безоговорочное принятие Лицензиатом всех ее условий в порядке, предусмотренном статьей 438
                    Гражданского кодекса Российской Федерации. 1.2. Фактом акцепта настоящей Оферты признается совершение Лицензиатом действий,
                    свидетельствующих о его намерении вступить в договорные отношения с Лицензиаром (конклюдентные действия), включая, но не
                    ограничиваясь: Осуществление оплаты лицензионного вознаграждения в полном объеме или частично, в соответствии с выбранными
                    параметрами лицензии, размещенными на интернет-странице Лицензиара; Фактическим началом использования программного обеспечения
                    и/или доступом к его функциональным возможностям. 1.3. Акцепт Оферты Лицензиатом означает, что он ознакомлен с ее условиями,
                    понимает последствия их принятия и соглашается с ними без каких-либо оговорок.  1.4. С момента акцепта между Лицензиаром и
                    Лицензиатом считается заключенным Договор на условиях, изложенных в Оферте.  2. Правообладатель ПО 2.1. Реквизиты правообладателя:
                    Полное наименование юридического лица: Общество с ограниченной ответственностью «КАК ДОМА» ; ОГРН: 1255000075043; ИНН / КПП:
                    5047318648 / 504701001; Юридический адрес: г. Химки, ул Ивановская, д. 53, пом. 180; Расчетный счет: 40702810720000232393 (ООО
                    "Банк Точка"); Адрес электронной почты: support@kakdoma.life 2.2. Настоящий Договор заключен Лицензиаром с Лицензиатом в качестве
                    сублицензионного договора.  2.3. Лицензиар получил право предоставления Лицензиату прав использования соответствующего ПО на
                    основании лицензионного договора, заключенного с Правообладателем, предусматривающего право предоставления простых
                    неисключительных лицензий на использование. Предмет Договора 3.1. По настоящему Договору Лицензиар предоставляет Лицензиату за
                    вознаграждение неисключительные права использования результатов интеллектуальной деятельности — програмы для электронных
                    вычислительных машин, функционирующих в составе облачных сервисов «edsbot.ru», доступных по сетевым адресам «http://edsbot.ru»
                    соответственно, в объеме и на условиях, установленных настоящим Договором. 3.2. Сервис «edsbot.ru» представляет собой
                    программно-аппаратный комплекс, предназначенный для автоматизации процесса обработки обращений граждан, поступающих в адрес
                    управляющих организаций через платформу «eds.mosreg.ru».  Лицензиат получает возможность использовать указанный сервис для
                    автоматической маршрутизации и передачи таких обращений с целью обеспечения соблюдения нормативных сроков реагирования, а также
                    для минимизации влияния человеческого фактора при их обработке. Условия лицензии 4.1. Лицензиар предоставляет Лицензиату
                    возмездную простую (неисключительную) лицензию на использование программного обеспечения (далее – «ПО») в пределах, определённых
                    настоящим Договором. 4.2. Лицензия на использование ПО «edsbot.ru» предоставляется с ограничением по территории — исключительно на
                    территории Московской области. 4.3. Лицензия предоставляется на срок, соответствующий периоду оплаченного доступа к
                    соответствующему ПО. 4.4. Лицензиат вправе использовать ПО исключительно в соответствии с функционалом, представленном в ПО, в
                    рамках собственной хозяйственной деятельности. 4.5. Лицензиат не вправе передавать полученные права третьим лицам, включая
                    заключение сублицензионных Договоров, без предварительного письменного согласия Лицензиара. 4.6. Лицензиат не вправе
                    модифицировать, перерабатывать, декомпилировать, дизассемблировать или иным образом вмешиваться в программный код ПО. 4.7.
                    Лицензиар вправе вносить изменения в функциональные характеристики ПО, если такие изменения не препятствуют его использованию в
                    соответствии с назначением. 4.8. Лицензиат несет ответственность за соблюдение условий использования ПО лицами, получившими к нему
                    доступ от имени Лицензиата. 4.9. При нарушении условий лицензии Лицензиар вправе в одностороннем порядке приостановить или
                    прекратить доступ Лицензиата к ПО, уведомив его об этом посредством электронной почты без соблюдения срока на уведомление.
                    Функциональные возможности ПО 5.1. Лицензиар предоставляет Лицензиату право использования ПО в объеме, необходимом для достижения
                    целей автоматизации процессов приема, обработки и контроля заявок от потребителей жилищно-коммунальных услуг, поступающих в адрес
                    управляющих организаций (если иное не предусмотрено соглашением Сторон – Лицензиат обязан быть управляющей организацией). 
                    Функциональные возможности «edsbot.ru»: Возможность интеграции с Единой диспетчерской службой Московской области
                    («https://eds.mosreg.ru»), с последующей автоматизированной передачей обращений, поступивших в электронном виде, в адрес выбранной
                    управляющей организации. Возможность генерации и направления автоматизированных уведомлений ответственным представителям
                    управляющей организации посредством мессенджеров или электронной почты при наступлении событий, связанных с обработкой обращений.
                    Возможность удаленного подключения и ввода Программного продукта в эксплуатацию с последующим автоматическим запуском обмена
                    данными. 5.2. Функциональные возможности предоставляются в рамках действующего тарифного плана и используются Лицензиатом
                    исключительно для внутреннего делопроизводства и организационно-управленческих нужд в пределах хозяйственной деятельности.
                    Предоставление доступа 6.1. Доступ к программному обеспечению предоставляется Лицензиату после заключения Договора и оплаты
                    соответствующего лицензионного вознаграждения. 6.2. Для предоставления доступа к «edsbot.ru» Лицензиат обязуется предоставить
                    Лицензиару необходимые для подключения исходные данные, включая сведения, обеспечивающие техническую возможность входа в личный
                    кабинет Лицензиата на портале «eds.mosreg.ru». Доступ к «edsbot.ru» предоставляется Лицензиату не позднее 5 рабочих дней с момента
                    поступления лицензионного вознаграждения и получения исходных данных, необходимых для подключения. 6.3. Лицензиар вправе
                    приостановить или отложить предоставление доступа в случае неполного или недостоверного предоставления информации со стороны
                    Лицензиата, необходимой для интеграции. Доступные тарифные планы 7.1. Предоставление права использования ПО осуществляется на
                    условиях возмездности в соответствии с выбранным Лицензиатом тарифным планом (тарифом).  7.2. Размер лицензионного вознаграждения
                    зависит от объема предоставляемых прав использования, функциональности и режима доступа, предусмотренных соответствующим тарифом,
                    и подлежит предварительной оплате в полном объеме до момента начала предоставления доступа. Тарифы на использование «edsbot.ru»:
                    Тариф на 1 календарный месяц: 1100 рублей за один календарный месяц за одну организацию. Предусматривает доступ к полному
                    функционалу. 7.3. В случае досрочного расторжения (прекращения) Договора – уплаченные Лицензиатом денежные средства не подлежит
                    перерасчету или возврату; к настоящему Договору применяются положения законодательства РФ об абонентском договоре. Приемка услуг и
                    доступа к ПО 8.1. Предоставление Лицензиату доступа к ПО считается осуществлённым надлежащим образом и принятым Лицензиатом с
                    момента первой авторизации в ПО либо фактического использования его функционала. 8.2. Факт предоставления доступа фиксируется
                    техническими средствами Лицензиара и не требует дополнительного документального подтверждения со стороны Лицензиара.  8.3.
                    Лицензиат не вправе заявлять возражения относительно факта предоставления доступа после начала использования ПО. 8.4. Услуги,
                    оказываемые Лицензиаром в рамках Договора (включая техническую поддержку, сопровождение, консультации, настройку интеграций и иные
                    сопутствующие действия), подлежат ежемесячной приемке Лицензиатом. 8.5. В случае отсутствия письменных претензий со стороны
                    Лицензиата до окончания календарного месяца, в котором услуги оказывались, такие услуги считаются принятыми в полном объеме,
                    оказанными надлежащим образом и не подлежащими оспариванию. 8.6. По запросу Лицензиата Лицензиар вправе направить акт об оказанных
                    услугах за соответствующий отчетный период.  Лицензиат обязан в течение пяти рабочих дней с момента получения акта либо подписать
                    его, либо направить письменные мотивированные возражения.  В случае непредставления возражений в установленный срок акт считается
                    подписанным, а услуги — принятыми. Условия о персональных данных 9.1. В рамках исполнения настоящего Договора, а также при
                    использовании ПО, Лицензиаром осуществляется обработка персональных данных, содержащихся в заявках граждан, автоматически
                    передаваемых из внешних источников, включая, но не ограничиваясь, информационной системой «eds.mosreg.ru».  Такие персональные
                    данные могут включать фамилию, имя, отчество, адрес проживания, контактные телефоны, адреса электронной почты и иные сведения,
                    позволяющие идентифицировать субъектов персональных данных. 9.2. Лицензиар обрабатывает указанные персональные данные
                    исключительно по поручению Лицензиата, который в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных»
                    признается оператором персональных данных.  9.3. Лицензиат несёт ответственность за законность получения, хранения и передачи
                    персональных данных в процессе использования ПО, в том числе за наличие надлежащим образом оформленного согласия субъектов
                    персональных данных, если такое согласие необходимо в соответствии с законодательством. 9.4. Персональные данные обрабатываются в
                    рамках предоставления доступа к ПО, включая реализацию функций автоматической диспетчеризации обращений граждан, технической
                    поддержки и сопутствующих сервисов, предусмотренных функционалом ПО.  Ответственность сторон 10.1. Лицензиар предоставляет
                    Лицензиату доступ к использованию ПО на условиях «как есть» («as is»), что означает отсутствие каких-либо гарантий, прямо
                    выраженных или подразумеваемых, в отношении соответствия ПО индивидуальным ожиданиям Лицензиата, его пригодности для конкретных
                    целей, отсутствия ошибок, сбоев, вирусов или иных вредоносных компонентов, а также бесперебойности и безошибочности
                    функционирования. 10.2. Лицензиар не несет ответственности за любые убытки, включая, но не ограничиваясь, упущенной выгодой,
                    прямым или косвенным ущербом, причинённым Лицензиату или третьим лицам в результате использования или невозможности использования
                    ПО, в том числе за действия или бездействие Лицензиата при использовании ПО, а также за иные последствия, связанные с техническими
                    или организационными сбоями, прерыванием доступа, либо утратой данных. 10.3. Лицензиат несет полную ответственность за соблюдение
                    действующего законодательства, в том числе в сфере обработки персональных данных, при использовании ПО, а также за достоверность
                    предоставленных им сведений, учетных данных и правильность конфигурации используемого оборудования и программного обеспечения,
                    применяемого совместно с ПО. 10.4. Никакие положения настоящего Договора не могут толковаться как установление обязанности
                    Лицензиара по достижению какого-либо результата при использовании ПО, а также как предоставление технической поддержки за
                    пределами оговоренных условий. Обстоятельства непреодолимой силы 11.1.Сторона не несет ответственности за неисполнение любого из
                    своих обязательств, если докажет, что оно было вызвано препятствием вне ее контроля и что от нее нельзя было разумно ожидать
                    принятия этого препятствия в расчет при заключении Договора, либо избежания или преодоления этого препятствия или его последствий
                    (обстоятельства непреодолимой силы). 11.2.Обстоятельствами непреодолимой силы (включая, но не ограничиваясь; при их соответствии
                    условиям настоящего раздела) являются: Природные явления, если они препятствуют исполнению Договора. Война, разного рода военные
                    действия. Действия и бездействие государственных органов, если такие действия (бездействие) не вызваны виной Стороны. Массовые
                    эпидемии и пандемии, если они препятствуют исполнению Договора. 11.3.Если неисполнение Стороной своего обязательства вызвано
                    неисполнением третьим лицом, привлеченным ею для исполнения всего или части Договора, эта Сторона освобождается от ответственности
                    только в том случае, если: Она освобождается от ответственности на основании предыдущего пункта; Привлеченное ею лицо также было
                    бы освобождено от ответственности, если бы положения указанного пункта были применены в отношении этого лица. 11.5. Сторона,
                    которая не исполняет своего обязательства, обязуется дать извещение другой Стороне о препятствии и его влиянии на ее способность
                    осуществить исполнение, а в ином случае – нести риск неизвещения.  11.6.Если невозможность исполнения обязательства носит
                    перманентный (постоянный, окончательный) характер, то наряду с освобождением от ответственности, обязательство прекращается
                    невозможностью исполнения, кроме случаев, когда Сторона несет риск наступления таких обстоятельств. 11.7. Освобождение от
                    ответственности, предусмотренное настоящим разделом, распространяется лишь на тот период, в течение которого существует данное
                    препятствие. 12 Юридически значимые сообщения 12.1. Для целей Договора – «сообщение» включает уведомление, заявление, требование,
                    запрос или любое другое сообщение намерения (в том числе – в устной или электронной форме). 12.2.«Письменная форма» означает любой
                    вид сообщения или документа, который сохраняет запись информации, содержащейся в нем, и способный быть воспроизведенным.
                    12.3.Стороны признают юридическую силу документов и сообщений, направленных в электронной форме, в том числе посредством
                    электронной почты и мессенджеров, используемых Сторонами для взаимодействия. 12.4. Документы и сообщения, направленные Стороной в
                    электронной форме, считаются принятыми отправителем в полном объеме (Оферта), если иное не заявлено незамедлительно после их
                    получения другой Стороной или до их получения. 12.5. Акцептом документа признается согласие, выраженное в ответном сообщении, а
                    также совершение действий, свидетельствующих о принятии условий документа; как такие ответ и действия восприняло бы разумное лицо
                    в схожих обстоятельствах. 12.6. Электронная почта и аккаунты в мессенджерах, используемые Сторонами для взаимодействия,
                    определяются из существа правоотношений, исходя из ранее использованных адресов и учетных записей при заключении и исполнении
                    Договора. 12.7.Электронное сообщение считается полученным Стороной (надлежащим) с момента успешной отправки и при отсутствии
                    автоматического уведомления о невозможности доставки.  В случае уклонения Стороны от получения сообщения и/или документа (отказа в
                    его принятии), такое сообщение и/или документ считается полученным по истечении 5 календарных дней с момента его отправки. 12.8. В
                    случае, если ранее от имени Стороны вело переписку третье лицо (работник, контрагент по гражданско-правовому Договору или иное
                    аффилированное лицо) – полномочие на отправку и получение сообщений; направление и акцепт документов следует из обстоятельств.
                    Изменение контактных данных 13.1. Сторона вправе изменить адрес электронной почты или аккаунт мессенджеров, используемый для
                    взаимодействия, по своему усмотрению, уведомив другую Сторону об изменении в течение 3 календарных дней. 13.2. Все сообщения,
                    направленные на ранее используемый адрес электронной почты или аккаунт до момента уведомления об их изменении, считаются
                    полученными Стороной, если не будет доказано иное. 13.4. Риск последствий, вызванных неуведомлением другой Стороны об изменении
                    электронных средств связи, несет Сторона, осуществившая такое изменение. 13.5. Сторона, впервые направившая сообщение с нового
                    адреса электронной почты или через новый аккаунт в мессенджере, обязана подтвердить изменение контактных данных способом, с
                    разумной достоверностью исключающим возможность подлога или мошеннических действий, в противном случае такое сообщение не
                    считается надлежащим. 13.6. В случае направления уведомления или документа с электронного адреса или аккаунта, ранее не
                    использованного Стороной, принимающая Сторона вправе запросить подтверждение подлинности сообщения, приостановив исполнение
                    обязательств, требующих подтверждения или согласования. Исчисление сроков 14.1. Если иное не указано Стороной – срок
                    устанавливается в календарных днях и включительно. 14.2. Официальные праздники или нерабочие дни, приходящиеся на срок,
                    установленный Сторонами для совершения какого-либо действия, включаются в этот срок. 14.3. Однако, если последним днем срока
                    является официальный праздник или нерабочий день, то срок продлевается до первого следующего рабочего дня, если иное не следует из
                    обстоятельств. 14.4. Если иное не следует из обстоятельств, во внимание принимается тот часовой пояс, где находится место
                    деятельности или проживания Стороны, устанавливающей срок. Порядок разрешения споров 15.1. Все спорные вопросы, возникающие в
                    процессе исполнения Договора, стороны решают путем переговоров, а именно путем направления претензии.  Срок ответа на претензию
                    (т.е. срок, в течение которого Сторона Договора, получившая претензию, обязана сообщить другой Стороне о результатах рассмотрения
                    претензии) – 10 рабочих дней с момента её получения. 15.2. Спор, не урегулированный досудебном порядке, подлежит рассмотрению в
                    суде общей юрисдикции, или в арбитражном суде, в зависимости от подведомственности спора, по месту нахождения Лицензиара.
                    Изменения в Оферте 16.1. Лицензиар оставляет за собой право вносить изменения в настоящую Оферту и устанавливать новые или
                    дополнительные условия с обязательным предварительным уведомлением путем публикации обновленных условий на официальной
                    интернет-странице ПО за 1 календарный день до вступления в силу таких изменений, если иное не предусмотрено Договором.  16.2.
                    Лицензиар оставляет за собой право вносить изменения в действующие тарифы в одностороннем порядке с обязательным предварительным
                    уведомлением путем публикации обновленных условий на официальной интернет-странице ПО.  Обновленные тарифы применяются к
                    Лицензиату со следующего расчетного периода, если иное не предусмотрено соглашением Сторон. 16.3. Лицензиат единолично несёт
                    ответственность за регулярное ознакомление с Офертой. 16.4. Получение услуг или использование ПО после размещения Оферты в новой
                    редакции надлежит считать полным согласием Лицензиата с такими изменениями (акцептом).   Генеральный директор ООО «КАК ДОМА»
                    Д. А. Глухов
                </p>
            </div>
        </div>
    </div>
</section>
