.banner-slide {
    @apply bg-gray rounded-primary px-9 pt-[42px] pb-[77px] relative overflow-hidden flex flex-col;
    @media (max-width: $desktop) {
        @apply pt-6 px-6 pb-14;
    }
    &__parallax {
        @apply px-9 pt-[42px] pb-[77px];
        @media (max-width: $desktop) {
            @apply pt-6 px-6 pb-14;
        }
    }
    &.banner-slide--parallax {
        @apply p-0;
    }
}
