.complex-card {
    &__title {
        margin-top: 24px;
        transition: color $transitionSpeed $transitionFunction;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.28;
    }
    &__subtitle {
        margin-top: 4px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.8252;
        color: #8f8f90;
    }
    @media (min-width: $desktop-min) {
        &:hover {
            .complex-card__title {
                color: var(--blue);
            }
        }
    }
}
