.faq {
    &__item {
        @apply pt-9 pb-10 pl-12 pr-14 w-full border border-solid border-black cursor-pointer rounded-32 relative md1:rounded-3xl md1:py-6 md1:px-6;
    }
    &__btn {
        @apply w-full h-full flex items-center justify-between text-left text-black;

        &::after {
            content: "";
            @apply absolute inset-0 z-10;
        }

        &._spoller-active {
            .faq__arrow {
                @apply -rotate-180;
            }
        }
    }
    &__arrow {
        transition: transform $transitionSpeed $transitionFunction;
        @apply w-7-5 h-7-5 text-black md1:w-7 md1:h-7;
    }
    &__content {
        @apply mt-4 md1:mt-3;
    }
}
