.features-item-link {
    transition: all $transitionSpeed $transitionFunction;

    @apply flex items-center gap-[25px] bg-gray text-black rounded-32 pt-10 pb-10 pl-12 pr-14;

    &__icon {
        @apply w-10 h-10 text-[currentColor];

        @media (max-width: $desktop) {
            @apply w-7-5 h-7-5;
        }
    }

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-lightBlue text-white;
        }
    }

    @media (max-width: $mobile-max) {
        @apply gap-4 p-8 rounded-3xl;
    }
}
