.footer {
    background-color: var(--gray);
    padding-top: 56px;
    padding-bottom: 35px;

    &__items {
        display: grid;
        grid-template-columns: 1fr repeat(3, 266px);
        grid-row-gap: 32px;
        margin-bottom: 64px;
        @media (max-width: $desktop) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $mobile-max) {
            grid-template-columns: 1fr;
        }
    }

    &__link {
        padding-top: 4px;
        padding-bottom: 4px;
        line-height: 1.5;
    }

    &__app {
        border-bottom: 1px solid #e6e6e6;
        border-top: 1px solid #e6e6e6;
        padding: 17px 12px;

        display: flex;
        align-items: center;
        @media (max-width: $desktop) {
            padding: 12px 0;
        }
    }

    &__bottom {
        margin-top: 38px;
        margin-left: 12px;

        display: flex;
        align-items: center;
        gap: 62px;
        font-weight: 500;
        line-height: 1.5;
        @media (max-width: $desktop) {
            margin-top: 24px;
            flex-direction: column;
            gap: 12px;
            margin-left: 0;
        }
    }
    @media (max-width: $desktop) {
        padding-top: 32px;
        padding-bottom: 24px;
    }
}
