.header {
    height: 104px;
    position: relative;
    z-index: 99;
    background-color: var(--white);
    @media (min-width: $desktop-min) {
        border-bottom: 1px solid #e6e6e6;
    }
    @media (max-width: $desktop) {
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: var(--white);
        &.header--border-bottom {
            border-bottom: 1px solid #e6e6e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}

.nav {
    margin-left: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    @media (max-width: $desktop) {
        visibility: hidden;

        transform: translateX(100%);
        transition: all $transitionSpeed $transitionFunction;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 12px 32px 20px;
        position: absolute;
        top: 100%;
        left: -16px;
        z-index: 4;
        width: calc(100% + 32px);
        min-height: calc(var(--vh, 100vh) - var(--header-height, 60px));
        margin: 0;
        background-color: var(--white);
        overflow-y: auto;
        z-index: 999;
        &.menu--active {
            visibility: visible;
            transform: translateX(0);
            border-top: 1px solid #ebebeb;
        }
    }
}

.nav-dropdown {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 100%;

    &__link {
        padding: 14px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @media (max-width: $desktop) {
            &._spoller-active {
                color: var(--hover-primary);
            }
            padding: 10px 0;
        }
    }

    &__subitem {
        background-color: transparent;
        border-radius: 5px;
        transition: all $transitionSpeed $transitionFunction;

        > a {
            font-size: 13px;
            line-height: 1.84;
            color: var(--gray-medium);
            padding: 6px 11px;
            width: 100%;
        }

        @media (max-width: $desktop) {
            width: 100%;
            text-align: center;
        }

        @media (min-width: $desktop-min) {
            &:hover {
                background-color: var(--gray);

                > a {
                    color: var(--black);
                }
            }
        }
    }

    &__container {
        @media (min-width: $desktop-min) {
            padding: 10px 0 0;
            height: 100%;
            top: 100%;
            left: 0;
            width: 96%;
            min-height: 535px;

            opacity: 0;
            visibility: hidden;
            transform: translateY(20px);

            transition: all $transitionSpeedFast $transitionFunction;

            position: absolute;
            z-index: 99;
        }
        @media (max-width: $desktop) {
            width: 100%;
            padding: 0;
        }
    }

    &__content {
        display: flex;
        gap: 40px;
        padding: 35px 30px 40px 30px;
        border-radius: 30px;
        height: 100%;
        background-color: var(--white);
        @media (max-width: $desktop) {
            flex-direction: column;
            padding: 8px 0 0;
        }
    }

    &__sidebar {
        min-width: 271px;
        @media (max-width: $desktop) {
            text-align: center;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 2px;
        position: relative;

        @media (max-width: $desktop) {
            align-items: center;
        }
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 260px));
        row-gap: 50px;
        column-gap: 40px;
        @media (max-width: $desktop) {
            display: none;
        }
    }
    &__item {
    }
    &__item-links {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
    &__banner {
        @media (max-width: $desktop) {
            display: none;
        }
    }

    &._active {
        .nav-dropdown__container {
            opacity: 1;
            transform: translateY(0);
            visibility: visible;
        }
    }
    @media (max-width: $desktop) {
        width: 100%;
        padding: 0;
        flex-direction: column;
    }
}

.nav-menu-item {
    @apply w-full text-xs font-semibold h-[110px] bg-gray rounded-[10px] p-3 leading-[1.67] hover:text-hoverPrimary transition-all;
}
