.header {
    height: 104px;
    position: relative;
    z-index: 99;
    background-color: var(--white);
    @media (min-width: $desktop-min) {
        border-bottom: 1px solid #e6e6e6;
    }
    @media (max-width: $desktop) {
        height: 55px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        background-color: var(--white);
        &.header--border-bottom {
            border-bottom: 1px solid #e6e6e6;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    }
}

.nav {
    margin-left: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $desktop) {
        visibility: hidden;

        transform: translateX(100%);
        transition: all $transitionSpeed $transitionFunction;
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        padding: 12px 32px 20px;
        position: absolute;
        top: 100%;
        left: -16px;
        z-index: 4;
        width: calc(100% + 32px);
        height: 100%;
        min-height: calc(var(--vh, 100vh) - var(--header-height, 60px));
        margin: 0;
        background-color: var(--white);
        overflow-y: auto;
        z-index: 999;
        &.menu--active {
            visibility: visible;
            transform: translateX(0);
            border-top: 1px solid #ebebeb;
        }
    }
}

.nav-dropdown {
    position: relative;

    &__link {
        padding: 14px 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;

        @media (max-width: $desktop) {
            &._spoller-active {
                color: var(--hover-primary);
            }
            padding: 10px 0;
        }
    }

    &__subitem {
        @media (max-width: $desktop) {
            width: 100%;
            text-align: center;
        }
        @media (min-width: $desktop-min) {
            padding: 0 28px;
        }
        &._active {
            > a {
                color: var(--hover-primary);
            }
        }
        > a {
            padding: 15px 0;
            width: 100%;
        }
    }

    &__container {
        @media (min-width: $desktop-min) {
            padding: 16px 0 0;
            top: 100%;
            left: 0;
            width: max-content;

            transition: all $transitionSpeedFast $transitionFunction;

            z-index: 999;

            position: absolute;
            max-width: 720px;
            min-width: 720px;
            height: 574px;
            opacity: 0;
            transform: scale(0.95);
            visibility: hidden;
        }
        @media (max-width: $desktop) {
            width: 100%;
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: column;
        position: relative;

        @media (min-width: $desktop-min) {
            padding: 16px 0;
            border-radius: 16px;
            background-color: var(--white);
            border: 1px solid #eee;
            box-shadow: 0px 5px 15px rgba(86, 72, 70, 0.05);
            width: max-content;
            height: 100%;
        }

        @media (max-width: $desktop) {
            align-items: center;
        }
    }

    &__subitem-bridge {
        @media (min-width: $desktop-min) {
            position: absolute;
            top: 0;
            left: 100%;
            width: 16px;
            height: 100%;
            z-index: 1000;
            pointer-events: none;
            background: transparent;
        }

        .nav-dropdown__subitem:hover & {
            pointer-events: auto;
        }

        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__subitem-container {
        @media (min-width: $desktop-min) {
            position: absolute;
            top: 0;
            left: calc(100% + 16px);
            background-color: var(--white);
            width: 100%;
            height: 100%;
            padding: 24px 28px;
            border-radius: 16px;
            background-color: var(--white);
            border: 1px solid #eee;
            box-shadow: 0px 5px 15px rgba(86, 72, 70, 0.05);

            opacity: 0;
            transform: scale(0.95);
            visibility: hidden;

            transition: all $transitionSpeed $transitionFunction;

            pointer-events: none;
        }

        &._active {
            @media (min-width: $desktop-min) {
                opacity: 1;
                transform: scale(1);
                visibility: visible;
                pointer-events: auto;
            }
        }

        @media (max-width: $desktop) {
            display: none;
        }
    }

    &__subitem-container-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        @media (max-width: $desktop) {
            grid-template-columns: 1fr;
        }
    }

    &._active {
        .nav-dropdown__container {
            opacity: 1;
            transform: scale(1);
            visibility: visible;
        }
    }
    @media (max-width: $desktop) {
        width: 100%;
    }
}

.nav-menu-item {
    @apply w-full text-xs font-semibold h-[110px] bg-gray rounded-[10px] p-3 leading-[1.67] hover:text-hoverPrimary transition-all;
}
