.news-card {
    @apply border border-solid border-[#dbe2ed] rounded-32 md1:rounded-3xl p-8 md1:p-6 flex flex-col;
    &__badge {
        @apply mb-8 h-[34px] px-4 flex-center-all gap-2 self-start text-[16px] font-medium text-black rounded-[56px] bg-gray 
        backdrop-blur-[20px];

        svg {
            @apply w-5 h-5 text-[currentColor];
        }
    }
    &__title {
    }
    &__descr {
        @apply text-grayDark mt-4;
    }
}
