.our-growth {
    &__container {
        @media (min-width: $desktop-min) {
            padding: 0;
        }
    }
    &__number {
        @apply block font-Inter;

        font-weight: 700;
        font-size: 200px;
        line-height: 1.05;
        background: linear-gradient(215deg, #44ca6d 0%, #249e4a 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $transitionSpeed $transitionFunction;
        @media (max-width: $desktop) {
            font-size: 165px;
        }
        @media (max-width: $mobile-max) {
            font-size: 120px;
        }
    }
    @media (min-width: $desktop-min) {
        width: 1184px;
        margin-left: auto;
        margin-right: auto;
    }
}
