.our-growth {
    &__number {
        @apply block;

        font-weight: 700;
        font-size: 180px;
        line-height: 1.05;
        background: linear-gradient(215deg, #44ca6d 0%, #249e4a 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all $transitionSpeed $transitionFunction;
        @media (max-width: $desktop) {
            font-size: 160px;
        }
        @media (max-width: $mobile-max) {
            font-size: 120px;
        }
    }
}
