.product-card-tariff {
    display: flex;
    flex-direction: column;
    padding: 40px 56px 56px;
    background-color: var(--gray);
    position: relative;
    @apply rounded-32;

    &__mode {
        font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        margin-bottom: 16px;
    }

    &__title {
        margin-bottom: 16px;
        font-weight: 700;
    }
    &__descr {
        margin-bottom: 24px;
    }
    &__descr,
    &__price-descr {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.3;
        color: var(--gray-dark);
    }

    &__price {
        font-weight: 600;
    }

    &__btn {
        margin-top: 63px;
        width: 100%;
        @media (max-width: $desktop) {
            margin-top: 40px;
        }
    }

    &__badge {
        position: absolute;
        top: 29px;
        right: 31px;

        padding: 0 16px;
        font-size: 16px;
        line-height: 1.375;
        font-weight: 600;
        color: #2ead56;
        border-radius: 55px;
        height: 34px;

        backdrop-filter: blur(20px);
        background-color: var(--white);

        display: flex;
        align-items: center;
    }

    &__info {
        margin-top: 46px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    &__info-item {
        color: var(--gray-dark);
        font-weight: 500;
        display: flex;
        align-items: center;
        gap: 16px;
        svg {
            width: 18px;
            height: 18px;
            color: #4a3aff;
        }
    }

    &--text-white {
        color: var(--white);
        .product-card-tariff {
            &__descr,
            &__price-descr {
                color: var(--white);
            }
            &__info-item {
                color: var(--white);
                svg {
                    color: var(--white);
                }
            }
        }
    }

    &--green {
        background: linear-gradient(215deg, #44ca6d 0%, #249e4a 100%);
    }

    &--purple {
        background: linear-gradient(215deg, #9e68f3 0%, #7f42e1 100%);
    }

    &--dark {
        background: linear-gradient(215deg, #232323 0%, #232323 100%);
    }

    @media (max-width: $desktop) {
        padding: 32px;
        @apply rounded-2xl;
    }
}
