.product-card {
    padding: 32px 32px 0 32px;
    border-radius: 32px;
    background-color: var(--gray);
    min-height: 340px;
    width: 100%;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    position: relative;

    &__badge {
        margin-bottom: 12px;

        padding: 0 16px;
        font-size: 16px;
        line-height: 1.375;
        font-weight: 500;
        color: var(--black);
        border-radius: 55px;
        height: 34px;

        backdrop-filter: blur(20px);
        background-color: var(--white);

        display: flex;
        align-items: center;
        align-self: start;
        gap: 8px;

        svg {
            width: 20px;
            height: 20px;
            color: currentColor;
        }
    }

    &__content {
        margin-top: auto;
    }
    &__title {
        color: var(--black);
    }
    &__descr {
        padding-top: 16px;
        font-size: 16px;
        line-height: 1.56;
        color: var(--black);
        letter-spacing: 0.3px;
        opacity: 0;
        max-height: 32px;
        transition:
            opacity 0.2s $transitionFunction,
            max-height 0.25s $transitionFunction;
        @media (min-width: $desktop-min) {
            &::after {
                content: "";
                display: block;
                height: 0;
                transition: height 0.25s $transitionFunction;
            }
        }
        @media (max-width: $desktop) {
            opacity: 1;
            max-height: 170px;
        }
    }

    &__arrow {
        position: absolute;
        top: 34px;
        right: 28px;
        width: 25px;
        height: 25px;
        color: var(--black);

        opacity: 0;
        transform: translate3d(-4px, 4px, 0);
        transition:
            opacity 0.2s ease-out 0.05s,
            transform 0.2s ease-out 0.05s;
    }

    &.product-card--green {
        background: linear-gradient(215deg, #44ca6d 0%, #249e4a 100%);
        .product-card {
            &__badge {
                background: rgba(255, 255, 255, 0.2);
                color: var(--white);
            }
            &__title {
                color: var(--white);
            }
            &__descr {
                color: var(--white);
            }
            &__arrow {
                color: var(--white);
            }
        }
    }

    &.product-card--white {
        background-color: var(--white);
        .product-card {
            &__badge {
                background-color: var(--gray);
            }
        }
    }
    &.product-card--cyan {
        background-color: var(--cyan);
        padding-bottom: 32px;
    }

    @media (min-width: $desktop-min) {
        &:hover {
            .product-card {
                &__title {
                }
                &__descr {
                    opacity: 1;
                    max-height: 170px;
                    &::after {
                        height: 32px;
                    }
                }
                &__arrow {
                    opacity: 1;
                    transform: translateZ(0);
                }
            }
        }
    }

    @media (max-width: $desktop) {
        padding: 24px;
        border-radius: 24px;
        min-height: 300px;
    }
}
