<section class="mt-[140px] relative md1:mt-20">
    <div class="container">
        <div class="bg-gray rounded-primary px-14 pt-[60px] pb-24 relative md1:p-6 overflow-hidden flex gap-20">
            <div class="mmd1:max-w-[490px]">
                <h2 class="title-2">О нас</h2>
                <p class="mt-6 text-paragraph-2">
                    Мы&nbsp;занимаемся обслуживанием и&nbsp;управлением домами, регулярно модернизируем сервис ЖКХ. Находим и&nbsp;внедряем лучшие
                    из&nbsp;возможных решений в&nbsp;сфере управления жилой недвижимостью.
                </p>
            </div>
            <div class="flex-grow grid grid-cols-2 gap-8 mt-5">
                <div class="rounded-20 bg-white py-6 px-7 min-h-[132px] h-max">
                    <h3 class="title-2">38</h3>
                    <p class="mt-2">Объектов в управлении</p>
                </div>
                <div class="rounded-20 bg-white py-6 px-7 min-h-[132px] h-max">
                    <h3 class="title-2">
                        7
                        <span class="text-[20px]">лет</span>
                    </h3>
                    <p class="mt-2">Опыт управления объектами</p>
                </div>
                <div class="rounded-20 bg-white py-6 px-7 min-h-[132px] h-max">
                    <h3 class="title-2">
                        >1
                        <span class="text-[20px]">млн. м2</span>
                    </h3>
                    <p class="mt-2">Обслуживаемая площадь</p>
                </div>
                <div class="rounded-20 bg-white py-6 px-7 min-h-[132px] h-max">
                    <h3 class="title-2 flex items-center gap-4">
                        <span>4,9</span>
                        <div class="flex items-center gap-1">
                            <svg class="text-yellow w-25 h-25">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="text-yellow w-25 h-25">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="text-yellow w-25 h-25">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="text-yellow w-25 h-25">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                            <svg class="text-[#e9ebf0] w-25 h-25">
                                <use xlink:href="img/sprite.svg#star"></use>
                            </svg>
                        </div>
                    </h3>
                    <p class="mt-2">Оценка жителей</p>
                </div>
            </div>
        </div>
    </div>
</section>
