<section class="mt-[160px] relative md1:mt-20">
    <div class="container-desktop">
        <div id="js-show-iframe-wrapper">
            <div class="pos-banner-fluid bf-38">
                <div class="bf-38__decor">
                    <div class="bf-38__logo-wrap">
                        <img class="bf-38__logo" src="https://pos.gosuslugi.ru/bin/banner-fluid/gosuslugi-logo-blue.svg" alt="Госуслуги" />
                        <div class="bf-38__slogan">Решаем вместе</div>
                    </div>
                </div>
                <div class="bf-38__content">
                    <div class="bf-38__description">
                        <span class="bf-38__text"> В квитанциях ошибки, в подъезде мусор, сотрудники управляющей хамят? </span>
                        <span class="bf-38__text bf-38__text_small"> Расскажите о проблемах с ЖКХ </span>
                    </div>

                    <div class="bf-38__bottom-wrap">
                        <div class="bf-38__btn-wrap">
                            <button class="pos-banner-btn_2" type="button">Написать о проблеме</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
