<section class="mt-[160px] relative md1:mt-20">
    <div class="container-desktop">
        <div class="bg-bluePale rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none md1:pb-0 gap-12">
            <div class="mmd1:max-w-[541px] flex flex-col flex-grow">
                <h1 class="title-2">Жители используют мобильное приложение</h1>
                <p class="mt-5 text-paragraph-2">
                    Создают заявки, передают показания счетчиков, оплачивают услуги ЖКУ, создают пропускоа и&nbsp;многое другое
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="app-for-onwners"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Скачать
                        </button>
                        <a href="#" class="btn btn-five btn-five btn-s-default">О приложении</a>
                    </div>
                </div>
            </div>

            <picture class="mmd1:absolute bottom-0 right-[98px]">
                <source srcset="./img/property-banner-phones.webp" type="image/webp" />
                <img loading="lazy" src="./img/property-banner-phones.png" width="529" height="508" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
