<section class="mt-[50px] md1:mt-0 md1:bg-gray rounded-b-3xl" id="hero-block">
    <div class="container-desktop">
        <div
            class="bg-bluePale rounded-primary mmd1:rounded-br-none md1:rounded-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
            <div class="mmd1:max-w-[580px] flex flex-col flex-grow">
                <span class="mb-5">Управляющая компания</span>
                <h1 class="title-1">М-Проперти</h1>
                <p class="mt-7 text-paragraph-2">
                    Это сайт управляющей компании &laquo;М-Проперти&raquo;. Читайте свежие новости, оплачивайте квитанции, оставляйте обращения.
                    Мы&nbsp;на&nbsp;связи.
                </p>
                <div class="mt-auto">
                    <div class="mt-[83px] flex gap-3 md3:flex-col md1:mt-12">
                        <a href="#" class="btn btn-primary btn-s-default">Личный кабинет </a>
                    </div>
                </div>
            </div>

            <picture>
                <source srcset="./img/property-hero-bg.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/property-hero-bg.png"
                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                    width="570"
                    height="451"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container-desktop !mt-6 md1:!-mt-2 relative">
        <div class="px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:grid-cols-1 md1:p-6 mmd1:bg-gray">
            <div>
                <h3 class="title-4-5 !leading-[1.4] mb-3">Оплата квитанций за&nbsp;ЖКУ и&nbsp;капитальный ремонт</h3>
                <a href="#" class="link-arrow">
                    Оплатить
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right-circle"></use>
                    </svg>
                </a>
            </div>
            <div>
                <h3 class="title-4-5 !leading-[1.4] mb-3">Создание обращений на&nbsp;сайте и&nbsp;отслеживание статуса</h3>
                <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="link-arrow">
                    Создать заявку
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right-circle"></use>
                    </svg>
                </button>
            </div>
            <div>
                <h3 class="title-4-5 !leading-[1.4] mb-3">Заказ дополнительных услуг и&nbsp;оплата в&nbsp;личном кабинете</h3>
                <a href="#" class="link-arrow">
                    Заказать услугу
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right-circle"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
