<section class="mt-[160px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-[56px] mb-20 md1:mb-8 flex items-center justify-between">
            <h2 class="title-2">Новости</h2>
            <a href="#" class="link-arrow">
                Все новости
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right-circle"></use>
                </svg>
            </a>
        </div>
        <div class="grid grid-cols-3 gap-6 md1:gap-5 md1:grid-cols-2 md3:grid-cols-1">
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <span class="news-card__badge">Новости УК</span>
                    <h3 class="news-card__title title-4">Мобильное приложение собственника</h3>
                    <p class="news-card__descr text-paragraph-2">Своевременно предоставляйте собвственникам сведения о работе УК</p>
                    <svg class="news-card__arrow">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
            </article>
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <span class="news-card__badge">Новости УК</span>
                    <h3 class="news-card__title title-4">Мобильное приложение исполнителя</h3>
                    <p class="news-card__descr text-paragraph-2">Своевременно предоставляйте собвственникам сведения о работе УК</p>
                    <svg class="news-card__arrow">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
            </article>
            <article class="news-card">
                <a href="#" class="news-card__wrapper">
                    <span class="news-card__badge">Новости УК</span>
                    <h3 class="news-card__title title-4">CRM-ситема для управляющей компании</h3>
                    <p class="news-card__descr text-paragraph-2">Своевременно предоставляйте собвственникам сведения о работе УК</p>
                    <svg class="news-card__arrow">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
            </article>
        </div>
    </div>
</section>
