<section class="mt-[160px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-[56px] mb-20 md1:mb-8 flex items-center justify-between">
            <h2 class="title-2">Услуги</h2>
            <a href="#" class="link-arrow">
                Все услуги
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right-circle"></use>
                </svg>
            </a>
        </div>
        <div class="grid grid-cols-4 gap-6 md1:gap-5 md1:grid-cols-2 md3:grid-cols-1">
            <a
                href="#"
                class="bg-bluePale rounded-32 md1:rounded-3xl p-8 md1:p-6 flex flex-col h-[220px] md1:h-[120px] mmd1:hover:-translate-y-2 transition-primary-all">
                <h3 class="title-4 text-[22px]">Поверка счетчиков</h3>
            </a>
            <a
                href="#"
                class="bg-bluePale rounded-32 md1:rounded-3xl p-8 md1:p-6 flex flex-col h-[220px] md1:h-[120px] mmd1:hover:-translate-y-2 transition-primary-all">
                <h3 class="title-4 text-[22px]">Google Play</h3>
            </a>
            <a
                href="#"
                class="bg-bluePale rounded-32 md1:rounded-3xl p-8 md1:p-6 flex flex-col h-[220px] md1:h-[120px] mmd1:hover:-translate-y-2 transition-primary-all">
                <h3 class="title-4 text-[22px]">RuStore</h3>
            </a>
            <a
                href="#"
                class="bg-bluePale rounded-32 md1:rounded-3xl p-8 md1:p-6 flex flex-col h-[220px] md1:h-[120px] mmd1:hover:-translate-y-2 transition-primary-all">
                <h3 class="title-4 text-[22px]">RuStore</h3>
            </a>
        </div>
    </div>
</section>
