<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <div class="grid grid-cols-2 md2:grid-cols-1 gap-5 md1:gap-4">
            <div
                class="mmd2:col-span-2 bg-grayTwo rounded-32 md1:rounded-3xl p-11 md1:p-6 h-[410px] md1:h-[350px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                <div class="mmd1:max-w-[513px] flex flex-col flex-grow relative z-10">
                    <h2 class="title-4">Мебелируем ваш объект для аренды</h2>
                    <p class="mt-5 text-paragraph-3 text-grayDark">
                        Поможем с&nbsp;мебелью и&nbsp;обустройством, чтобы квартира выглядела привлекательно для будущих жильцов
                    </p>
                </div>

                <picture>
                    <source srcset="./img/furniture-banner.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/furniture-banner.jpg"
                        class="absolute inset-0 w-full h-full"
                        width="1186"
                        height="410"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <article class="rounded-20 p-10 md1:p-6 flex flex-col bg-grayTwo h-[410px] md1:h-[350px] relative overflow-hidden">
                <h3 class="title-4">Платим вперёд за&nbsp;жильцов</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">
                    Не&nbsp;ждите пока арендатор переведёт деньги, получите сумму вперед отправив запрос в&nbsp;личном кабинете
                </p>
                <img
                    loading="lazy"
                    src="./img/curved-line-2.svg"
                    class="absolute left-[28%] -bottom-[45px] md1:max-w-[220px] md1:left-auto md1:right-0 md1:-bottom-[65px]"
                    width="312"
                    height="280"
                    alt="" />
            </article>
            <article class="rounded-20 p-10 pt-7 md1:p-6 flex flex-col border border-solid border-[#e0e0e0] h-[410px] md1:h-[350px]">
                <p class="text-paragraph-2 text-grayDark">Отзыв</p>
                <h3 class="title-4-5 mt-2 mb-auto !leading-[1.55]">
                    Передала квартиру в&nbsp;управление. Всё прозрачно, жильцы найдены быстро, а&nbsp;оплату можно получать заранее&nbsp;&mdash; это
                    действительно удобно
                </h3>
                <div class="mt-12 flex flex-col">
                    <picture>
                        <source srcset="./img/avatar-7.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatar-7.png" width="50" height="50" alt="Фото Екатерины" />
                    </picture>
                    <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Екатерина А.</p>
                    <p class="mt-1 font-medium leading-[1.24] text-[14px] text-[#A3A6A9]">Собственник аппартаментов</p>
                </div>
            </article>
        </div>
    </div>
</section>
