<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Какие услуги можно размещать</h2>
        <div class="mt-20 md1:mt-8 flex items-center gap-[10px] flex-wrap mmd1:max-w-[1100px]">
            <div class="tag tag-five tag-big-lg">Уборка</div>
            <div class="tag tag-five tag-big-lg">Электромонтажные работы</div>
            <div class="tag tag-five tag-big-lg">Сантехнические работы</div>
            <div class="tag tag-five tag-big-lg">Мелкий бытовой ремонт</div>
            <div class="tag tag-five tag-big-lg">Вывоз мусора</div>
            <div class="tag tag-five tag-big-lg">Домашний интернет</div>
            <div class="tag tag-five tag-big-lg">Доставка воды</div>
            <div class="tag tag-five tag-big-lg">Домофония</div>
            <div class="tag tag-five tag-big-lg">Страхование</div>
            <div class="tag tag-five tag-big-lg">Ремонт техники</div>
            <div class="tag tag-five tag-big-lg">и другие услуги</div>
        </div>
    </div>
</section>
