<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Какие услуги можно продавать?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Сантехнические и&nbsp;электромонтажные работы</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Клининговые услуги и&nbsp;мелкий бытовой ремонт</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Замена или установка нового оборудования</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Услуги подрядчиков и&nbsp;другие услуги для собственников</h4>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Подключить
        </button>
    </div>
</section>
