<section class="mt-[160px] md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>

        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Сколько это стоит?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>Самый популярный тарифт Базовый&nbsp;&mdash; это&nbsp;10% от&nbsp;арендной платы за&nbsp;объект в&nbsp;месяц.</p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Оставить заявку
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как работает доверительное управление арендой?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Мы&nbsp;полностью берём аренду квартиры на&nbsp;себя: от&nbsp;подготовки объекта и&nbsp;поиска жильцов до&nbsp;оплаты
                            коммунальных услуг и&nbsp;решения бытовых вопросов.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Кто будет общаться с&nbsp;жильцами?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Все коммуникации берём на&nbsp;себя: показы, договоры, поддержка арендаторов, решение вопросов и&nbsp;контроль оплаты.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что делать, если жильцы съедут раньше?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Мы&nbsp;оперативно найдём новых арендаторов и&nbsp;организуем повторную сдачу квартиры без вашего участия.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно&nbsp;ли получать оплату заранее?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, в&nbsp;сервисе доступна возможность получать арендные платежи авансом&nbsp;&mdash; без ожидания даты оплаты
                            от&nbsp;жильца.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Кто оплачивает коммунальные услуги?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            По&nbsp;вашему выбору, но&nbsp;чаще всего коммунальные платежи оплачивают жильцы, а&nbsp;вы&nbsp;контролируете оплату
                            через сервис.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что входит в&nbsp;подготовку квартиры?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Помогаем привести объект в&nbsp;порядок: клининг, мелкий ремонт, рекомендации по&nbsp;мебели и&nbsp;подготовка квартиры
                            к&nbsp;заселению.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как я&nbsp;могу следить за&nbsp;своей квартирой?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Вы&nbsp;всегда видите статус аренды, оплаты и&nbsp;обращения через удобный личный кабинет или отчёты от&nbsp;менеджера.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Нужно&nbsp;ли приезжать для подписания документов?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Нет, большинство процессов можно оформить дистанционно&nbsp;&mdash; от&nbsp;договора до&nbsp;передачи квартиры
                            в&nbsp;управление.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что будет, если в&nbsp;квартире что-то сломается?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Мы&nbsp;организуем решение бытовых вопросов и&nbsp;при необходимости вызовем мастеров, чтобы вам не&nbsp;приходилось
                            заниматься этим самостоятельно.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
