<section class="mt-[50px] md1:mt-0 md1:bg-grayTwo mmd1:rounded-b-3xl" id="hero-block">
    <div class="container-desktop">
        <div class="bg-gray rounded-primary md1:rounded-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex relative md1:gap-10 md1:flex-col">
            <div class="mmd1:max-w-[574px] flex flex-col flex-grow">
                <h1 class="title-1-25">Владельцы квартир <span class="text-orangeLight">зарабатывают</span> с&nbsp;нами</h1>
                <p class="mt-6 text-paragraph">
                    Сервис аренды квартир &laquo;Как Дома&raquo; поможет обустроить, подготовить и&nbsp;сдать вашу квартиру в&nbsp;аренду, как
                    на&nbsp;краткосрочный, так и&nbsp;на&nbsp;долгосрочный период.
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Оставить заявку
                        </button>
                    </div>
                </div>
            </div>

            <div class="relative flex-grow md1:hidden">
                <div class="absolute right-[0%] bottom-[44.3%]">
                    <picture>
                        <source srcset="./img/paid-services-hero-5.webp" type="image/webp" />
                        <img loading="lazy" src="./img/paid-services-hero-5.png" width="191" height="217" alt="" />
                    </picture>
                </div>
                <div class="absolute right-[15.9%] bottom-[17.5%] shadow-[0_22px_58px_0_rgba(31,76,192,0.2)] rounded-[28px]">
                    <picture>
                        <source srcset="./img/paid-services-hero-4.webp" type="image/webp" />
                        <img loading="lazy" src="./img/paid-services-hero-4.png" width="136" height="136" alt="" />
                    </picture>
                    <span
                        class="absolute top-4 left-[15px] text-[15px] leading-[1.33] font-semibold text-white -tracking-[0.02em]"
                        data-current-month></span>
                </div>
                <div class="absolute right-[0%] -bottom-[3.4%]">
                    <picture>
                        <source srcset="./img/paid-services-hero-3.webp" type="image/webp" />
                        <img loading="lazy" src="./img/paid-services-hero-3.png" width="91" height="92" alt="" />
                    </picture>
                </div>
                <div class="absolute left-[44.1%] top-[5.5%]">
                    <picture>
                        <source srcset="./img/paid-services-hero-2.webp" type="image/webp" />
                        <img loading="lazy" src="./img/paid-services-hero-2.png" width="113" height="86" alt="" />
                    </picture>
                </div>
                <div class="absolute left-[10%] bottom-[2.6%]">
                    <picture>
                        <source srcset="./img/paid-services-hero-1.webp" type="image/webp" />
                        <img loading="lazy" src="./img/paid-services-hero-1.png" width="290" height="218" alt="" />
                    </picture>
                    <div
                        class="w-[152px] h-[74px] rounded-[26px] bg-white shadow-[0_22px_58px_0_rgba(137,121,104,0.2)] flex-center-all flex-col absolute top-[30px] right-0">
                        <p class="text-[19px] text-black font-semibold text-center">+80 000 ₽</p>
                        <p class="mt-1.5 text-[8px] text-[#a2a2a2] font-semibold text-center">от Натальи, арендатор</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-desktop !mt-5 md1:!-mt-2 relative">
        <div
            class="px-14 py-[54px] pb-[46px] grid grid-cols-4 gap-5 rounded-primary md1:grid-cols-1 md1:p-6 mmd1:border mmd1:border-solid mmd1:border-[#8e8e96]">
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Найдем жильцов и&nbsp;подготовим квартиру</h3>
                <p class="text-grayDark leading-[1.875]">Берём на&nbsp;себя показы и&nbsp;переговоры с&nbsp;арендаторами</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Проконсультируем по&nbsp;юридическим вопросам</h3>
                <p class="text-grayDark leading-[1.875]">Учитываем все нюансы аренды и&nbsp;особенности вашего обьекта</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Проконтролируем процесс проживания</h3>
                <p class="text-grayDark leading-[1.875]">Проследим, чтоб квартира используется бережно</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Возьмем на&nbsp;себя часть расходов на&nbsp;старте</h3>
                <p class="text-grayDark leading-[1.875]">Установим электронные замки, мебелируем, покрасим стены</p>
            </div>
        </div>
    </div>
</section>
