<section class="mt-[50px] md1:mt-0">
    <div class="container-desktop">
        <div
            class="bg-[#7f42e1] rounded-primary overflow-hidden py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none gap-12">
            <div class="mmd1:max-w-[500px] flex flex-col flex-grow">
                <h1 class="title-1 !text-white">Платные услуги управляющей компании</h1>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="app-for-employee"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container !mt-5">
        <div class="mmd1:ml-14 mmd1:mr-14 pt-[54px] md1:pt-0 flex gap-32 mmd1:justify-between md1:flex-col md1:gap-6">
            <div class="max-w-[545px]">
                <h3 class="title-3">
                    Маркетплейс платных <br class="md1:hidden" />
                    услуг для собственников
                </h3>
            </div>
            <div class="max-w-[523px]">
                <h3 class="title-4-5">Создавайте и&nbsp;продавайте дополнительные услуги через цифровые каналы и&nbsp;мобильное приложение</h3>
            </div>
        </div>
    </div>
</section>
