<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-2 mb-5">Как работает маркетплейс</h2>
        <p class="text-paragraph">Дополнительный канал дохода для управляющей компании с&nbsp;онлайн оплатой</p>
        <div class="mmd1:ml-auto mt-20 md1:mt-8 mmd1:max-w-[753px] flex flex-col gap-4">
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-[#7f42e1] flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">УК создаёт услуги в CRM-системе</h4>
                    <p class="text-paragraph-2 md1:text-center">Указывает описание, стоимость и условия.</p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-[#7f42e1] flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Собственники оформляют заказы</h4>
                    <p class="text-paragraph-2 md1:text-center">Заказ можно оформить с любого устройства в удобное время.</p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-[#7f42e1] flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">УК получает информацию о заказе</h4>
                    <p class="text-paragraph-2 md1:text-center">Удобный формат без звонков и визитов в офис.</p>
                </div>
            </div>
        </div>
    </div>
</section>
