<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Ваш дополнительный доход</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md2:grid-cols-2 md3:grid-cols-1">
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Комиссии от заказов</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Получайте дополнительный доход с каждой заявки</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Партнерская программа</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Зарабатывайте на сервисах партнеров, внутри ваших ЖК</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-4">Процент с оплат</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Возвращаем часть комиссии банка при оплате услуг в приложении</p>
            </article>
        </div>
        <div class="mt-5 md1:mt-4 bg-darkBlue rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col">
            <div class="mmd1:max-w-[393px] flex flex-col flex-grow">
                <h2 class="title-4-25 !text-white !leading-[1.4]">Включите новые источники дохода и добавьте удобства жителям</h2>
            </div>
            <button type="button" class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full" data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350">
                Подключить
            </button>
        </div>
    </div>
</section>
