<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <div class="flex items-start gap-5 md2:flex-col">
            <div class="flex items-center gap-5">
                <picture>
                    <source srcset="./img/avatar-8.webp" type="image/webp" />
                    <img loading="lazy" src="./img/avatar-8.png" width="60" height="60" alt="Фото Новикова Дмитрия" />
                </picture>
                <div class="w-60">
                    <p class="text-paragraph-3 !font-semibold cut cut-1">Дмитрий</p>
                    <p class="text-paragraph-3 cut cut-1 text-[#a3a6a9] !text-[14px]">CEO &laquo;КАК ДОМА&raquo;</p>
                </div>
            </div>
            <h2 class="title-4 mmd1:text-[22px] mmd1:max-w-[783px]">
                Для нас доверительное управление — это не просто контроль всех процессов, а ежедневная ответственность перед собственником. Мы
                выстроили сервис так, чтобы аренда приносила стабильный доход.
            </h2>
        </div>
    </div>
</section>
