<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">
            Превратим вашу квартиру <br class="md1:hidden" />
            в&nbsp;источник стабильного дохода
        </h2>

        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="bg-gray rounded-32 md1:rounded-3xl px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-1-25 !leading-[1.4]">1125</h3>
                <p class="text-paragraph-2 text-grayDark mt-0.5">Довольных клиентов</p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-1-25 !leading-[1.4]">200+</h3>
                <p class="text-paragraph-2 text-grayDark mt-0.5">Объектов в управлении</p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-1-25 !leading-[1.4]">98%</h3>
                <p class="text-paragraph-2 text-grayDark mt-0.5">Арендаторов платят вовремя</p>
            </article>
        </div>
        <div
            class="mt-5 md1:mt-4 bg-grayTwo rounded-32 md1:rounded-3xl px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[468px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Защитим квартиру от&nbsp;неприятностей</h2>
                <p class="mt-5 leading-normal text-grayDark">
                    Финансовая защита, гарантия того, что с&nbsp;вашей квартирой всё будет в&nbsp;полном порядке.
                </p>
                <div class="mt-8 flex flex-wrap gap-2">
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Страхование </a>
                </div>
            </div>

            <picture class="self-end md1:self-center mmd1:mr-5 mb-7 md1:mb-4">
                <source srcset="./img/cat-in-box.webp" type="image/webp" />
                <img loading="lazy" src="./img/cat-in-box.png" width="444" height="303" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
        <div
            class="mt-5 md1:mt-4 bg-orangeLight rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col md2:items-start">
            <div class="mmd1:max-w-[393px] flex flex-col flex-grow">
                <h2 class="title-4-25 !text-white !leading-[1.4]">Собственная онлайн платформа для контроля процеса проживания</h2>
            </div>
            <button
                type="button"
                class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
    </div>
</section>
