<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Тарифы</h2>
        <div class="grid grid-cols-3 gap-5 md1:gap-4 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый</span>
                <h3 class="title-4 product-card-tariff__title !mb-8">10% от арендной платы</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Создание, размещение и&nbsp;продвижение рекламного обьявления на&nbsp;онлайн&nbsp;&mdash; площадках</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Прием и обработка звонков</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Показы объекта и подписание договора</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Заселение Арендаторов</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Ведение Арендаторов весь период проживания</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Контроль своевременной оплаты</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Контроль оплаты коммунальных услуг</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Выселение Арендатора, контроль повреждений, финальный расчет</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Коммуникация с управляющей компанией по всем вопросам</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подробнее
                    </button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Расширенный</span>
                <h3 class="title-4 product-card-tariff__title !mb-8">15% от арендной платы</h3>
                <p class="product-card-tariff__descr">Все опции входящие в&nbsp;пакет Базовый, плюс дополнительные услуги</p>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Генеральная уборка при выезде гостя</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Услуги мастеров (мелкий ремонт, диагностика транспортировка техники в&nbsp;ремонт и&nbsp;другие бытовые услуги)</span>
                    </li>
                </ul>
                <img loading="lazy" src="./img/curved-line.svg" class="self-end my-auto pt-10" width="170" height="162" alt="" />
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подробнее
                    </button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Премиум</span>
                <h3 class="title-4 product-card-tariff__title !mb-8">20% от арендной платы</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span
                            >Все опции входящие в&nbsp;пакет <b class="text-[#191919]">Базовый</b> и&nbsp;<b class="text-[#191919]">Расширенны</b>,
                            плюс дополнительные услуги</span
                        >
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Косметический ремонт через 7&nbsp;лет</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Добровольное страхование имущества</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Страхование гражданской ответственности</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Ущерб третьим лицам (затопление, пожар и&nbsp;т.п.) в&nbsp;пределах страховой выплаты</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Покрытиеущерба имуществу сверх залоговой стоимости, в&nbsp;пределах страховой выплаты</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подробнее
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
