<section class="@className md1:mt-20 bg-lightBlue py-24 md1:p-6 rounded-primary">
    <div class="container-desktop">
        <div class="mmd1:ml-14 text-white">
            <h2 class="title-2 mb-6">@title</h2>
            <p class="text-paragraph">@descr</p>
        </div>
        <div class="mt-14 md1:mt-10 relative">
            <div class="@classNameImage bg-[#f8f9fa] rounded-primary md1:p-3">
                <picture>
                    <source srcset="./img/@imageWebp" type="image/webp" />
                    <img loading="lazy" src="./img/@imageDefault" width="1226" height="470" class="w-full" alt="Фотография аналитики" />
                </picture>
            </div>
            <button
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350"
                class="btn btn-primary btn-s-default mmd1:absolute mmd1:bottom-16 mmd1:left-1/2 mmd1:-translate-x-1/2 mmd3:min-w-[344px] md3:w-full md1:mt-6 md1:mx-auto">
                Запросить презентацию
            </button>
        </div>
    </div>
</section>
