<section>
    <div class="container-desktop mmd1:max-w-[1184px] !px-0">
        <div
            class="bg-[#15171c] rounded-32 mmd1:rounded-br-none md1:rounded-none p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[497px] flex flex-col flex-grow">
                <h2 class="title-4 text-white">
                    Фирменное приложение <br class="md1:hidden" />
                    под вашим брендом
                </h2>
                <p class="mt-5 leading-normal text-[#cdcdcd]">
                    Сосредоточьтесь на&nbsp;росте и&nbsp;развитии бизнеса&nbsp;&mdash; все процессы, связанные с&nbsp;запуском, мы&nbsp;берём
                    на&nbsp;себя.
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <a href="/owner-account" class="btn btn-secondary btn-s-default">Подробнее</a>
                    </div>
                </div>
            </div>
            <div class="parallax-wrapper absolute top-0 -right-[50px] grid grid-cols-3 gap-6 md1:hidden">
                <div class="flex flex-col gap-6 relative top-[-37%]" data-simple-parallax-phone data-simple-parallax-phone-orientation="down">
                    <img loading="lazy" src="./img/branded-app-phone-1.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                    <img loading="lazy" src="./img/branded-app-phone-4.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                </div>
                <div class="flex flex-col gap-6 relative top-[-42%]" data-simple-parallax-phone data-simple-parallax-phone-orientation="down">
                    <img loading="lazy" src="./img/branded-app-phone-2.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                    <img loading="lazy" src="./img/branded-app-phone-5.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                </div>
                <div class="flex flex-col gap-6 relative top-[-14%]" data-simple-parallax-phone data-simple-parallax-phone-orientation="up">
                    <img loading="lazy" src="./img/branded-app-phone-3.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                    <img loading="lazy" src="./img/branded-app-phone-6.png" width="200" height="433" alt="" role="presentation" aria-hidden="true" />
                </div>
            </div>
            <div class="gap-4 flex bg-black py-10 px-6 rounded-20 overflow-y-hidden overflow-x-auto scrollbar-none mmd1:hidden">
                <img
                    loading="lazy"
                    src="./img/branded-app-phone-4.png"
                    width="200"
                    height="433"
                    alt=""
                    role="presentation"
                    aria-hidden="true"
                    class="md3:w-[150px] md3:h-max" />
                <img
                    loading="lazy"
                    src="./img/branded-app-phone-5.png"
                    width="200"
                    height="433"
                    alt=""
                    role="presentation"
                    aria-hidden="true"
                    class="md3:w-[150px] md3:h-max" />
                <img
                    loading="lazy"
                    src="./img/branded-app-phone-3.png"
                    width="200"
                    height="433"
                    alt=""
                    role="presentation"
                    aria-hidden="true"
                    class="md3:w-[150px] md3:h-max" />
            </div>
        </div>
    </div>
</section>
