<section>
    <div class="container-desktop mmd1:max-w-[1184px] !px-0">
        <div
            class="bg-grayTwo rounded-32 md1:rounded-none p-11 md1:p-6 mmd1:min-h-[470px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
            <div class="mmd1:max-w-[360px] flex flex-col flex-grow">
                <h2 class="title-4">
                    Услуги диспетческой <br />
                    Контакт-центр 24/7
                </h2>
                <p class="mt-5 leading-normal text-grayDark">
                    Берем на&nbsp;себя всю работу с&nbsp;заявками от&nbsp;собственников и&nbsp;контроль исполнителей
                </p>
                <div class="mt-4 flex flex-wrap gap-2">
                    <a href="#" class="tag tag-three tag-lg tag-three-link">АДС24</a>
                    <a href="#" class="tag tag-three tag-lg tag-three-link">ЕДС Московской области</a>
                </div>
            </div>

            <picture>
                <source srcset="./img/hero-banner-5.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/hero-banner-5.png"
                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                    width="490"
                    height="410"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
