<section class="@className md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25 mmd1:max-w-[605px]">Входит в&nbsp;экосистему сервисов для&nbsp;УК и&nbsp;ТСЖ</h2>
        <p class="mt-6 text-paragraph mmd1:max-w-[910px]">
            Сервисное приложение &laquo;КАК ДОМА&raquo; объединяет цифровую инфраструктуру по&nbsp;управлению объектами жилой и&nbsp;коммерческой
            недвижимости, помогая бизнесу работать эффективнее
        </p>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <a href="#" class="product-card product-card--cyan">
                <div class="product-card__badge">
                    <svg class="">
                        <use xlink:href="img/sprite.svg#smartphone"></use>
                    </svg>
                    <span>APP</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-3 product-card__title">Мобильное приложение собственника</h4>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
            <a href="#" class="product-card product-card--cyan">
                <div class="product-card__badge">
                    <svg class="">
                        <use xlink:href="img/sprite.svg#monitor"></use>
                    </svg>
                    <span>Автоматизация</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-3 product-card__title">CRM-ситема для управляющей компании</h4>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
