<section>
    <div class="container-desktop mmd1:max-w-[1184px] !px-0">
        <div class="grid grid-cols-2 gap-4 md2:grid-cols-1">
            <a href="#" class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Имидж современной управляющей компании</h4>
            </a>
            <a href="#" class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#user-check"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Доверительные отношения с жителями</h4>
            </a>
            <a href="#" class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#cpu"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Автоматизация процессов</h4>
            </a>
            <a href="#" class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#bell"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Оповещения и уведомления о начиследниях</h4>
            </a>
        </div>
    </div>
</section>
