<section class="@className md1:mt-20">
    <div class="container-desktop">
        <div class="bg-dark rounded-primary py-[54px] px-14 md1:p-6">
            <div class="flex gap-14 md1:flex-col md1:gap-8">
                <div class="flex-grow">
                    <h1 class="title-1 text-white">@title</h1>
                    <p class="mt-6 text-paragraph text-white">Наши менеджеры проведут презентацию и&nbsp;ответят на&nbsp;все возникшие вопросы</p>
                </div>
                <div class="mmd1:w-[470px] flex-shrink-0">
                    <form action="#" id="form-bid" class="mmd1:p-[42px] mmd1:rounded-[42px] mmd1:bg-[rgba(255,255,255,0.08)]">
                        <div class="flex flex-col gap-4">
                            <label class="form-input">
                                <input type="text" name="name" class="input input-secondary input-s-default" placeholder="Имя" />
                            </label>
                            <label class="form-input">
                                <input type="text" name="email" class="input input-secondary input-s-default" placeholder="Электронная почта" />
                            </label>
                            <label class="form-input">
                                <input type="tel" name="phone" class="input input-secondary input-s-default" placeholder="Телефон" />
                            </label>
                        </div>
                        <button type="submit" class="mt-4 btn btn-third btn-s-default w-full">Отправить заявку</button>
                        <div class="mt-5 checkbox checkbox-gray">
                            <input id="c_agreement_2" name="agreement" class="checkbox__input" type="checkbox" />
                            <label for="c_agreement_2" class="checkbox__label">
                                <div class="checkbox__mark">
                                    <div class="checkbox__mark-check"></div>
                                </div>
                                <span class="checkbox__text !text-[12px]">
                                    Заполняя форму, вы соглашаетесь на
                                    <a href="/policy" class="inline">обработку персональных данных</a>
                                </span>
                            </label>
                        </div>
                    </form>
                    <!-- у полей "name" связаны с валидацией, если валидация не нужна то с формы убирай id="form-bid"
                    const formBid = document.querySelector("#form-bid");
                    formBid.addEventListener("submit", e => {
                        if (e.target.classList.contains("is-valid")) {
                            console.log("submit");
                            const formData = new FormData(formBid);
                            for (let pair of formData.entries()) {
                                console.log(pair[0] + ": " + pair[1]);
                            }
                        }
                    });  -->
                </div>
            </div>
            <div class="mt-14 md1:mt-8 bg-[rgba(255,255,255,0.08)] rounded-primary py-[54px] px-14 md1:p-6 flex justify-between gap-6 md1:flex-col">
                <h4 class="title-4 text-white">Не хотите ждать звонка?</h4>
                <div class="mmd1:w-[413px]">
                    <a href="tel:84997068428" class="link-primary title-4 text-white">8 (499) 706-84-28</a>
                    <p class="mt-4 text-paragraph text-white">Свяжитесь с нами — ответим на все вопросы</p>
                </div>
            </div>
        </div>
    </div>
</section>
