<section class="@className md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Установка приложения</h2>
        <p class="mt-5 text-paragraph">Скачайте приложение по&nbsp;ссылке или отсканируйте QR-код</p>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="relative group mmd1:!p-8 mmd1:!pb-14 rounded-32 md1:rounded-3xl bg-gray flex flex-col md1:p-6">
                <a href="@urlApple" class="absolute inset-0" target="_blank" aria-hidden="true"></a>
                <h4 class="title-4">Apple Store</h4>
                <p class="mt-7-5 md1:mt-5 transition-all group-hover:text-hoverPrimary flex items-center gap-2">
                    <span class="font-medium">Скачать</span>
                    <svg class="w-5 h-5 text-[currentColor]">
                        <use xlink:href="img/sprite.svg#external-link"></use>
                    </svg>
                </p>

                <picture class="self-center">
                    <source srcset="./img/@QrCodeApple.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/@QrCodeApple.jpg"
                        class="mt-[58px] md1:mt-8 rounded-[15px]"
                        width="160"
                        height="160"
                        alt="Apple Store qr" />
                </picture>
            </article>
            <article class="relative group mmd1:!p-8 mmd1:!pb-14 rounded-32 md1:rounded-3xl bg-gray flex flex-col md1:p-6">
                <a href="@urlGoogle" class="absolute inset-0" target="_blank" aria-hidden="true"></a>
                <h4 class="title-4">Google Play</h4>
                <p class="mt-7-5 md1:mt-5 transition-all group-hover:text-hoverPrimary flex items-center gap-2">
                    <span class="font-medium">Скачать</span>
                    <svg class="w-5 h-5 text-[currentColor]">
                        <use xlink:href="img/sprite.svg#external-link"></use>
                    </svg>
                </p>
                <picture class="self-center">
                    <source srcset="./img/@QrCodeGoogle.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/@QrCodeGoogle.jpg"
                        class="mt-[58px] md1:mt-8 rounded-[15px]"
                        width="160"
                        height="160"
                        alt="Google Play qr" />
                </picture>
            </article>
            <article class="relative group mmd1:!p-8 mmd1:!pb-14 rounded-32 md1:rounded-3xl bg-gray flex flex-col md1:p-6">
                <a href="@urlRuStore" class="absolute inset-0" target="_blank" aria-hidden="true"></a>
                <h4 class="title-4">RuStore</h4>
                <p class="mt-7-5 md1:mt-5 transition-all group-hover:text-hoverPrimary flex items-center gap-2">
                    <span class="font-medium">Скачать</span>
                    <svg class="w-5 h-5 text-[currentColor]">
                        <use xlink:href="img/sprite.svg#external-link"></use>
                    </svg>
                </p>
                <picture class="self-center">
                    <source srcset="./img/@QrCodeRuStore.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/@QrCodeRuStore.jpg"
                        class="mt-[58px] md1:mt-8 rounded-[15px]"
                        width="160"
                        height="160"
                        alt="RuStore qr" />
                </picture>
            </article>
        </div>
    </div>
</section>
