<section>
    <div class="container-desktop mmd1:max-w-[1184px] !px-0">
        <div
            class="bg-grayTwo rounded-32 mmd1:rounded-br-none md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[468px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Мобильное приложение УК</h2>
                <p class="mt-5 leading-normal text-grayDark">
                    Удобный сервис для собственников и эффективный инструмент управления под вашим брендом
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <a href="/owner-account" class="btn btn-primary btn-s-default"> Подробнее </a>
                    </div>
                </div>
            </div>

            <picture class="self-end md1:self-center">
                <source srcset="./img/phone.webp" type="image/webp" />
                <img loading="lazy" src="./img/phone.png" width="240" height="345" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
