<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Еще статьи</h2>
        <div class="grid grid-cols-3 gap-5 md1:gap-4 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <a href="#" class="product-card-tariff !min-h-0">
                <span class="product-card-tariff__mode">Автоматизация</span>
                <h3 class="title-3 product-card-tariff__title">Голосовой робот диспетчер для&nbsp;УК</h3>
                <p class="product-card-tariff__descr">
                    Круглосуточная обработка поступающих заявок в&nbsp;ЕДС МО&nbsp;и&nbsp;установка для них статуса “В работе”
                </p>
            </a>
            <a href="#" class="product-card-tariff !min-h-0">
                <span class="product-card-tariff__mode">Автоматизация</span>
                <h3 class="title-3 product-card-tariff__title">Голосовой робот диспетчер для&nbsp;УК</h3>
                <p class="product-card-tariff__descr">
                    Круглосуточная обработка поступающих заявок в&nbsp;ЕДС МО&nbsp;и&nbsp;установка для них статуса “В работе”
                </p>
            </a>
            <a href="#" class="product-card-tariff !min-h-0">
                <span class="product-card-tariff__mode">Автоматизация</span>
                <h3 class="title-3 product-card-tariff__title">Голосовой робот диспетчер для&nbsp;УК</h3>
                <p class="product-card-tariff__descr">
                    Круглосуточная обработка поступающих заявок в&nbsp;ЕДС МО&nbsp;и&nbsp;установка для них статуса “В работе”
                </p>
            </a>
        </div>
    </div>
</section>
