<section class="bg-dark mt-[160px] md1:mt-20 pt-[160px] md1:pt-20 pb-[80px]" id="our-solutions">
    <div class="container">
        <h2 class="title-1-25 mmd1:ml-[56px] mb-20 md1:mb-8 text-white">@title</h2>
        <div class="swiper" id="swiper-solutions">
            <div class="swiper-wrapper">
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-1.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-1.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-2.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-2.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-3.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-3.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-4.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-4.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-5.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-5.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
                <div class="swiper-slide complex-card">
                    <div class="ibg complex-card__image !pb-0">
                        <picture>
                            <source srcset="./img/card-6.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-6.png" width="306" height="322" alt="ЖК Небо" class="w-full !static" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-12 flex-center-all gap-3">
        <button class="btn-nav btn-nav--prev" id="our-solutions-prev" aria-label="Предыдущий слайд">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-left"></use>
            </svg>
        </button>
        <button class="btn-nav btn-nav--next" id="our-solutions-next" aria-label="Следующий слайд">
            <svg>
                <use xlink:href="img/sprite.svg#arrow-right"></use>
            </svg>
        </button>
    </div>
</section>
