<section>
    <div class="container-desktop mmd1:max-w-[1186px] !px-0">
        <div class="flex flex-col gap-10">
            <article class="rounded-20 p-10 pt-7 md1:p-6 flex flex-col border border-solid border-[#e0e0e0] h-[410px] md1:h-[350px]">
                <p class="text-paragraph-2 text-grayDark">Отзыв</p>
                <h3 class="title-4-5 mt-2 mb-auto !leading-[1.55]">
                    Передала квартиру в&nbsp;управление. Всё прозрачно, жильцы найдены быстро, а&nbsp;оплату можно получать заранее&nbsp;&mdash; это
                    действительно удобно
                </h3>
                <div class="mt-12 flex flex-col">
                    <picture>
                        <source srcset="./img/avatar-7.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatar-7.png" width="50" height="50" alt="Фото Екатерины" />
                    </picture>
                    <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Екатерина А.</p>
                    <p class="mt-1 font-medium leading-[1.24] text-[14px] text-[#A3A6A9]">Собственник аппартаментов</p>
                </div>
            </article>
        </div>
    </div>
</section>
