<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px]">
        <h2 class="title-1-25 md1:px-4">Напоминания об&nbsp;оплате ЖКУ</h2>
        <div class="mt-20 md1:mt-8">
            <div
                class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[418px] flex flex-col flex-grow mmd1:pb-11">
                    <p class="leading-normal text-grayDark">30% платежей совершается после своевременного напоминания или уведомления</p>
                    <div class="mt-6 md1:mt-5 flex flex-wrap gap-2">
                        <a href="#" class="tag tag-three tag-lg tag-three-link">Пуш-уведомления</a>
                        <a href="#" class="tag tag-three tag-lg tag-three-link">СМС</a>
                    </div>
                </div>

                <picture class="self-end md1:self-center mmd1:mr-[28px]">
                    <source srcset="./img/phone-11.webp" type="image/webp" />
                    <img loading="lazy" src="./img/phone-11.png" width="315" height="546" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>

<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <div
            class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[468px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Единое окно для всех обращений</h2>
                <p class="mt-5 leading-normal text-grayDark">Формируется подробная история взаимодействия жителей и&nbsp;управляющей компании</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-five btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>

            <div class="relative self-end md1:self-center md2:senf-end md3:self-end mmd1:mr-[86px]">
                <picture class="w-max absolute top-[134px] -left-[191px] md2:top-[98px] md2:-left-[127px] z-10">
                    <source srcset="./img/notif.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/notif.png"
                        class="md2:max-w-[190px]"
                        width="245"
                        height="93"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>

                <picture class="md2:relative md2:-right-5">
                    <source srcset="./img/man-with-phone.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/man-with-phone.png"
                        class="md2:max-w-[210px]"
                        width="280"
                        height="388"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <div
            class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[602px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Современный сервис, который выбирают чаще</h2>
                <p class="mt-5 leading-normal text-grayDark mmd1:max-w-[494px]">
                    Объекты с&nbsp;удалённым заселением выглядят современнее, повышают доверие гостей и&nbsp;помогают выделиться среди конкурентов.
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-five btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>

            <div
                class="w-max mmd1:mt-14 mmd1:mr-[66px] rounded-20 bg-white flex justify-center flex-col pl-14 pr-9 h-[160px] md1:h-[110px] md1:px-7 md1:self-end md1:mr-7 md1:mb-[95px]">
                <div class="mmd1:!text-[50px] flex items-end gap-4">
                    <span class="title-1-5">5,0</span>
                    <div class="flex items-center gap-[3px] mb-1.5">
                        <svg class="text-[#f9a602] w-[30px] h-[30px] md1:w-25 md1:h-25">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="text-yellow w-[30px] h-[30px] md1:w-25 md1:h-25">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="text-yellow w-[30px] h-[30px] md1:w-25 md1:h-25">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="text-yellow w-[30px] h-[30px] md1:w-25 md1:h-25">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                        <svg class="text-yellow w-[30px] h-[30px] md1:w-25 md1:h-25">
                            <use xlink:href="img/sprite.svg#star"></use>
                        </svg>
                    </div>
                </div>
                <p class="mt-2 md1:text-[14px]">Оценка от арендаторов</p>
            </div>

            <picture class="w-max absolute bottom-0 right-0 z-10 md1:-bottom-4 md1:-right-7">
                <source srcset="./img/cat-paw.webp" type="image/webp" />
                <img loading="lazy" src="./img/cat-paw.png" class='md1:max-w-[185px]' width="253" height="119" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>

<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Выберите подходящий тариф</h2>
        <div class="grid grid-cols-3 gap-5 md1:gap-4 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Индивидуальный</span>
                <h3 class="title-3 product-card-tariff__title !mb-8">по запросу</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Всё из тарифа «Базовый»</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Расширенная структура сайта</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Индивидуальный дизайн</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Мобильное приложения</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Онлайн-оплата на сайте</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Модуль интеграции с 1С</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подробнее
                    </button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый</span>
                <h3 class="title-3 product-card-tariff__title !mb-8">от 2100₽ в месяц</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Готовый сайт для УК</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Формы обратной связи</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Хостинг и тех. обслуживание</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Адаптация под мобильные устройства</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Резервные копии</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Обновления и тех. поддержка</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>

            <div class="product-card-tariff !bg-blueLightest">
                <h3 class="title-4-5 !leading-[1.56]">
                    Берём на&nbsp;себя запуск и&nbsp;настройку&nbsp;&mdash; вы&nbsp;получаете готовый инструмент для работы с&nbsp;жителями
                    за&nbsp;1&nbsp;день
                </h3>

                <div class="mt-16 md1:mt-10 flex flex-col">
                    <picture>
                        <source srcset="./img/avatar-6.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatar-6.png" width="50" height="50" alt="Фото Марии" />
                    </picture>
                    <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Мария</p>
                    <p class="mt-1 font-medium leading-[1.24] text-[14px]">
                        Руководитель отдела продаж <br class="md1:hidden" />
                        “КАК ДОМА”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-desktop mmd1:max-w-[1186px] !px-0">
        <div class="flex flex-col gap-10">
            <article class="rounded-20 p-10 pt-7 md1:p-6 flex flex-col border border-solid border-[#e0e0e0] h-[410px] md1:h-[350px]">
                <p class="text-paragraph-2 text-grayDark">Отзыв</p>
                <h3 class="title-4-5 mt-2 mb-auto !leading-[1.55]">
                    Передала квартиру в&nbsp;управление. Всё прозрачно, жильцы найдены быстро, а&nbsp;оплату можно получать заранее&nbsp;&mdash; это
                    действительно удобно
                </h3>
                <div class="mt-12 flex flex-col">
                    <picture>
                        <source srcset="./img/avatar-7.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatar-7.png" width="50" height="50" alt="Фото Екатерины" />
                    </picture>
                    <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Екатерина А.</p>
                    <p class="mt-1 font-medium leading-[1.24] text-[14px] text-[#A3A6A9]">Собственник аппартаментов</p>
                </div>
            </article>
        </div>
    </div>
</section>
