<section>
    <div class="container-desktop mmd1:max-w-[1184px] !px-0">
        <div
            class="bg-grayTwo rounded-32 mmd1:rounded-br-none md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[471px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="flex flex-col flex-grow mmd2:max-w-[500px]">
                <h2 class="title-4">Сервисы безопасности</h2>
                <p class="mt-5 leading-normal text-grayDark mmd1:max-w-[400px]">
                    Облачный сервис для автоматизации заказа пропусков, позволит перевести заявки в цифровой вид и управлять ими онлайн
                </p>
                <div class="mt-14 flex flex-wrap gap-2">
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Бюро пропусков</a>
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Домофония</a>
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Видеонаблюдение</a>
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Электронные замки</a>
                    <a href="#" class="tag tag-three tag-lg tag-three-link">Шлагбаумы</a>
                </div>
            </div>

            <picture class="self-end md1:self-center">
                <source srcset="./img/new-pass.webp" type="image/webp" />
                <img loading="lazy" src="./img/new-pass.png" width="434" height="411" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
