<section>
    <div class="container-desktop mmd1:max-w-[1186px] !px-0">
        <div
            class="bg-grayTwo rounded-32 md1:rounded-3xl px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[471px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="flex flex-col flex-grow mmd2:max-w-[500px]">
                <h2 class="title-4">Сервисы безопасности</h2>
                <p class="mt-5 leading-normal text-grayDark mmd1:max-w-[400px]">
                    Включают все необходимое для безопасности жителей и территории ваших ЖК
                </p>
                <div class="mt-14 flex flex-wrap gap-2">
                    <a href="/cloud-pass-service" class="tag tag-three tag-lg tag-three-link">Бюро пропусков</a>
                    <a
                        href="#"
                        class="tag tag-three tag-lg tag-three-link"
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        >IP Домофония</a
                    >
                    <a
                        href="#"
                        class="tag tag-three tag-lg tag-three-link"
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        >Видеонаблюдение</a
                    >
                    <a href="/online-check-in" class="tag tag-three tag-lg tag-three-link">Электронные замки</a>
                    <a href="/barrier-installation" class="tag tag-three tag-lg tag-three-link">Шлагбаумы</a>
                </div>
            </div>

            <picture class="self-end md1:self-center">
                <source srcset="./img/new-pass.webp" type="image/webp" />
                <img loading="lazy" src="./img/new-pass.png" width="434" height="411" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
