<section class="mt-[50px] md1:mt-4">
    <div class="container-desktop">
        <div class="bg-cyan rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:pb-0 gap-12">
            <div class="mmd1:max-w-[500px] flex flex-col flex-grow">
                <h1 class="title-1">
                    Мобильное приложение <br class="md1:hidden" />
                    для сотрудников
                </h1>
                <div class="mt-auto">
                    <div class="mt-[76px] flex gap-3 md3:flex-col md1:mt-12">
                        <button class="btn btn-primary btn-s-default">Скачать</button>
                    </div>
                </div>
            </div>

            <picture class="mmd1:absolute -bottom-[100px] right-20 md1:mb-6">
                <source srcset="./img/employee-app-hero-phones.webp" type="image/webp" />
                <img loading="lazy" src="./img/employee-app-hero-phones.png" width="552" height="454" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container !mt-5">
        <div class="mmd1:ml-14 pt-[54px] md1:pt-5 max-w-[430px]">
            <h3 class="title-3 !leading-[1.4] mb-4">Доступно сразу после подключения к&nbsp;сервису</h3>
            <p class="text-grayDark leading-normal">Вам не&nbsp;придется ничего дополнительно настраивать, просто скачайте приложение</p>
        </div>
    </div>
</section>
