<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Контроль качества</h2>

        <div class="mt-20 md1:mt-8 grid grid-cols-3 md2:grid-cols-1 gap-5 md1:gap-4">
            <div class="mmd2:col-span-3 bg-grayTwo rounded-32 md1:rounded-3xl px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[513px] flex flex-col flex-grow mmd1:pb-11">
                    <h2 class="title-4">Формирование рейтинга исполнителей</h2>
                    <p class="mt-5 leading-normal text-grayDark">
                        Рейтинг формируется на основе оценок от жителей. Чем выше  рейтинг, тем больше платных заявок, а значит выше доход.
                    </p>
                </div>
                <picture class="self-end md1:self-center mmd1:mr-[66px]">
                    <source srcset="./img/employee-app-phone-quality.webp" type="image/webp">
                    <img loading="lazy" src="./img/employee-app-phone-quality.png" width="240" height="345" alt="" class="md3:max-w-[245px]" role="presentation" aria-hidden="true">
                </picture>
            </div>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Напоминания</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Помогают исполнителям не пропускать и не забывать о заявках</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Уведомления</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Помогают держать работу под полным контролем</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-4">Работает без интернета</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3">Работает в изолированных помещениях и при отключениях</p>
            </article>
        </div>
    </div>
</section>
