<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Кто использует приложение</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3">Сотрудники УК</h4>
                <p class="mt-5 mb-10 leading-normal text-grayMedium">
                    Работа с заявками, задачи, графики работ, формирование отчётов, тех. документация и другие возможности
                </p>
                <picture class="self-center mt-auto">
                    <source srcset="./img/who_use_app_1.webp" type="image/webp" />
                    <img loading="lazy" src="./img/who_use_app_1.png" width="293" height="378" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3">Инженерные службы УК</h4>
                <p class="mt-5 mb-10 leading-normal text-grayMedium">
                    Проведение плановых осмотров объектов и оборудования, обходы, фиксация нарушений, выполненых работ и прочее
                </p>
                <picture class="self-center mt-auto">
                    <source srcset="./img/who_use_app_2.webp" type="image/webp" />
                    <img loading="lazy" src="./img/who_use_app_2.png" width="293" height="378" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
        </div>
    </div>
</section>
