<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Кто использует?</h2>
        <div class="mt-20 md1:mt-8 flex items-center gap-[10px] flex-wrap mmd1:max-w-[1100px]">
            <div class="tag tag-five tag-big-lg">Управляющие компании</div>
            <div class="tag tag-five tag-big-lg">Клининговые компании</div>
            <div class="tag tag-five tag-big-lg">Обслуживающие компании</div>
            <div class="tag tag-five tag-big-lg">Бизнес-центры</div>
            <div class="tag tag-five tag-big-lg">Гостиницы и отели</div>
            <div class="tag tag-five tag-big-lg">Охранные предприятия</div>
            <div class="tag tag-five tag-big-lg">Застройщики</div>
            <div class="tag tag-five tag-big-lg">Производственные компании</div>
        </div>
    </div>
</section>
