<section class="mt-[128px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1184px] !p-0">
        <div
            class="bg-gray rounded-primary px-14 py-11 relative md1:p-6 bg-cover bg-no-repeat md1:bg-[top_0_right_72%]"
            style="background-image: url(&quot;./img/confident-management-banner.webp&quot;)">
            <div class="max-w-[495px]">
                <h2 class="title-3">Защитим вашу квартиру от&nbsp;неприятностей</h2>
                <p class="mt-6 text-paragraph-2 text-darkPressed">
                    Финансовая защита, гарантия того, что с&nbsp;вашей квартирой всё будет в&nbsp;порядке.
                </p>
                <button
                    class="btn btn-secondary btn-s-default mt-28 md1:mt-16"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Оставить заявку
                </button>
            </div>
        </div>
    </div>
</section>
