<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <div class="grid grid-cols-2 md2:grid-cols-1 gap-5 md1:gap-4">
            <div
                class="mmd2:col-span-2 bg-grayTwo rounded-32 md1:rounded-3xl p-11 md1:p-6 h-[410px] md1:h-[350px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                <div class="mmd1:max-w-[513px] flex flex-col flex-grow relative z-10">
                    <h2 class="title-4">Мебелируем ваш объект для аренды</h2>
                    <p class="mt-5 text-paragraph-3 text-grayDark">
                        Поможем с&nbsp;мебелью и&nbsp;обустройством, чтобы квартира выглядела привлекательно для будущих жильцов
                    </p>
                </div>

                <picture>
                    <source srcset="./img/furniture-banner.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/furniture-banner.jpg"
                        class="absolute inset-0 w-full h-full"
                        width="1186"
                        height="410"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <article class="rounded-20 p-10 md1:p-6 flex flex-col bg-grayTwo h-[410px] md1:h-[350px] relative overflow-hidden">
                <h3 class="title-4">Платим вперёд за&nbsp;жильцов</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">
                    Не&nbsp;ждите пока арендатор переведёт деньги, получите сумму вперед отправив запрос в&nbsp;личном кабинете
                </p>
                <img
                    loading="lazy"
                    src="./img/curved-line-2.svg"
                    class="absolute left-[28%] -bottom-[45px] md1:max-w-[220px] md1:left-auto md1:right-0 md1:-bottom-[65px]"
                    width="312"
                    height="280"
                    alt="" />
            </article>
            <article
                class="rounded-20 p-10 md1:p-6 flex flex-col border border-solid border-[#e0e0e0] h-[410px] md1:h-[350px] relative overflow-hidden">
                <h3 class="title-4 max-w-[363px] relative z-10">Оборудуем системой удаленного заселения</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3 max-w-[274px] relative z-10">Сервис, который арендаторы выбирают чаще</p>
                <div class="mt-auto relative z-10">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <a href="/owner-account" class="btn btn-five btn-five--white btn-s-default">Подробнее</a>
                    </div>
                </div>
                <picture>
                    <source srcset="./img/automation-4.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/automation-4.png"
                        width="200"
                        height="303"
                        class="absolute bottom-0 right-0 md3:max-w-[175px] md3:-right-8"
                        alt="Автоматизация" />
                </picture>
            </article>
        </div>
    </div>
</section>
