<section class="bg-grayTwo mt-[160px] md1:mt-20 py-[96px] md1:py-12 rounded-primary">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <div class="mb-14 md1:mb-8">
            <h2 class="title-1-25 mb-6 md1:mb-4">Сравните сами</h2>
            <p class="text-paragraph-2">Ни&nbsp;один агент не&nbsp;предоставит такой сервис и&nbsp;поддержку, как&nbsp;мы</p>
        </div>

        <div class="flex flex-col">
            <div class="ml-auto flex gap-2 mb-4">
                <p class="w-[320px] h-[91px] flex-center-all rounded-32 md1:rounded-3xl bg-white text-paragraph-2">Агент</p>
                <p class="w-[320px] h-[91px] flex-center-all rounded-32 md1:rounded-3xl bg-orangeLight text-white text-paragraph-2">
                    Сервис &laquo;Как дома&raquo;
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Бесконтактное заселение</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Круглосуточный контакт-центр</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Страхование квартиры</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Проверка арендатора</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Подготовка квартиры к сдаче</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Мебелировка квартиры</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Косметический ремонт</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Личный кабинет инвестора</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[565px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Отельный сервис</span>
                    <span class="text-paragraph">нет</span>
                    <span class="text-paragraph">да</span>
                </div>
            </div>
        </div>
        <div
            class="mt-14 md1:mt-8 bg-purpleSecond rounded-32 md1:rounded-3xl overflow-hidden px-11 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col">
            <div class="mmd1:max-w-[552px] flex flex-col flex-grow mmd1:py-10">
                <h2 class="title-4-25 !text-white !leading-[1.4]">
                    При подключении к&nbsp;сервису в&nbsp;мае, электронный замок с&nbsp;установкой в&nbsp;подарок.
                </h2>
            </div>
            <div class="flex items-center gap-7 md2:w-full">
                <picture class="md1:hidden">
                    <source srcset="./img/automation-3.webp" type="image/webp" />
                    <img loading="lazy" src="./img/automation-3.png" width="214" height="142" alt="" />
                </picture>
                <button
                    type="button"
                    class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Оставить заявку
                </button>
            </div>
        </div>
    </div>
</section>
