<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col md1:gap-10">
        <div class="mmd1:w-[400px] flex-shrink-0">
            <h2 class="title-2 mb-8 md1:mb-6">Как это работает</h2>
            <p class="text-paragraph-2 text-grayDark">Сдавайте квартиру без лишних забот, получайте арендную плату вовремя.</p>
            <button class="btn btn-primary btn-s-default mt-8" data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
        <div class="flex-grow flex flex-col gap-3">
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Оцениваем потенциал объекта</h4>
                    <p class="text-paragraph-2 md1:text-center">Учитываем месторасположение, транспортную доступность, соседей, целевую аудиторию</p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Готовим квартиру к сдаче в аренду</h4>
                    <p class="text-paragraph-2 md1:text-center">Проведем необходимые улучшения (хоумстейджинг), клининг и фотосъемку</p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Показываем и сдаем квартиру</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Создаем конкурентное предложение, размещем на площадках, показываем и заключаем надежный договор
                    </p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-blue md1:p-6 md1:gap-6 md2:flex-col md1:items-center text-white">
                <span class="w-9 h-9 rounded-full bg-white flex-shrink-0 flex-center-all text-blue text-paragraph !font-semibold">4</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Отчитываемся и переводим деньги</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Один раз в месяц мы направляем вам электронный отчёт и вместе с ним переводим денежные средства
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
