<section class="mt-[128px] md1:mt-4">
    <div class="container-desktop mmd1:max-w-[1184px] !p-0 grid grid-cols-2 gap-6 md1:grid-cols-1 md1:gap-4">
        <div class="py-10 px-14 bg-gray rounded-primary relative min-h-[275px] overflow-hidden md1:p-6">
            <div class="relative z-10">
                <h2 class="title-4 mb-6 md1:mb-4">Собственный персонал</h2>
                <p class="text-paragraph-2 text-grayDark mb-16">
                    Диспетчерская служба, администраторы, клининг, мастера по&nbsp;ремонту и&nbsp;обслуживанию
                </p>
            </div>
            <picture>
                <source srcset="./img/avatars.webp" type="image/webp" />
                <img loading="lazy" src="./img/avatars.png" width="182" height="79" class="md1:w-[150px]" alt="Диспетчеры" />
            </picture>
        </div>
        <div class="py-10 px-14 bg-gray rounded-primary relative min-h-[275px] overflow-hidden md1:p-6">
            <div class="max-w-[318px] relative z-10">
                <h2 class="title-4 mb-6 md1:mb-4">Автоматизация</h2>
                <p class="text-paragraph-2 text-grayDark mb-16">
                    Все обьекты обязательно <br />
                    оборудуются электронными <br />
                    замками
                </p>
            </div>

            <picture>
                <source srcset="./img/automation.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/automation.png"
                    width="207"
                    height="273"
                    class="absolute bottom-0 right-0 md3:max-w-[170px] md3:-right-16"
                    alt="Автоматизация" />
            </picture>
        </div>
    </div>
</section>
