<section class="mt-[128px] md1:mt-24">
    <div class="container">
        <div class="mmd1:ml-14 mmd1:max-w-[960px]">
            <h2 class="title-2 mb-8 md1:mb-6">Берем объекты в управление на любой стадии готовности</h2>
            <p class="text-paragraph">
                Объект может быть уже готов к проживанию или вы только получили ключи, мы подключаемся на любом этапе от чернового ремонта до
                полностью готового объекта.
            </p>
            <div class="mt-[76px] md1:mt-8 flex justify-between gap-16 md2:flex-col md2:items-center md2:text-center mmd2:flex-wrap">
                <div class="flex flex-col gap-2">
                    <span class="text-[70px] tracking-[0.01em] font-semibold text-[#222] leading-[1.2]">100+</span>
                    <span class="font-medium leading-[1.875] text-grayDark">Объектов в управлении</span>
                </div>
                <div class="flex flex-col gap-2">
                    <span class="text-[70px] tracking-[0.01em] font-semibold text-[#222] leading-[1.2]">7 лет</span>
                    <span class="font-medium leading-[1.875] text-grayDark">Опыт управления арендой</span>
                </div>
                <div class="flex flex-col gap-2">
                    <span class="text-[70px] tracking-[0.01em] font-semibold text-[#222] leading-[1.2]">24/7</span>
                    <span class="font-medium leading-[1.875] text-grayDark">Поддержка собственников</span>
                </div>
            </div>
        </div>
    </div>
</section>
