<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Круглосуточная поддержка</h2>

        <div class="mt-20 md1:mt-8 grid grid-cols-3 md2:grid-cols-1 gap-5 md1:gap-4">
            <div
                class="mmd2:col-span-3 bg-grayTwo rounded-32 md1:rounded-3xl px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[513px] flex flex-col flex-grow mmd1:pb-11">
                    <h2 class="title-4">Контакт-центр 24</h2>
                    <p class="mt-5 leading-normal text-grayDark">
                        Единый центр обработки обращений для коммуникации с&nbsp;жильцами по&nbsp;любым вопросам.
                    </p>
                    <div class="mt-auto">
                        <div class="mt-12 flex gap-3 md3:flex-col">
                            <a href="https://kakdoma.life/ads" class="btn btn-five btn-s-default">Подробнее</a>
                        </div>
                    </div>
                </div>
                <div class="self-end mmd1:mr-[66px] relative">
                    <div
                        class="bg-purpleSecond h-[51px] px-[19px] text-[15px] leading-[1.22] text-white font-semibold rounded-[10px] flex-center-all w-max absolute top-[79px] -left-[123px] md1:top-14 md1:-left-20 md3:h-7 md3:px-2 md3:text-[10px] md3:top-12 md3:-left-8 md3:rounded-md">
                        Мы всегда рядом
                        <svg
                            class="absolute -bottom-[2px] -right-[5.5px]"
                            width="17"
                            height="16"
                            viewBox="0 0 17 16"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M15.3269 15.2594L5.99646 14L4.49646 14L-4.88162e-05 14L9.64339 -0.000127435L10.9965 3.00098L12.1538 5.16954L16.3602 13.8316C16.7088 14.5493 16.1177 15.3662 15.3269 15.2594Z"
                                fill="#7D57DC" />
                        </svg>
                    </div>
                    <picture>
                        <source srcset="./img/dispatcher.webp" type="image/webp" />
                        <img
                            loading="lazy"
                            src="./img/dispatcher.png"
                            width="326"
                            height="368"
                            alt=""
                            class="md3:max-w-[245px]"
                            role="presentation"
                            aria-hidden="true" />
                    </picture>
                </div>
            </div>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Администраторы</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Служба по&nbsp;работе с&nbsp;собственниками и&nbsp;арендаторами</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Центр чистоты</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Высокие стандарты и&nbsp;собственный штат специалистов по&nbsp;уборке</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-4">Мастера по&nbsp;ремонту</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3">Электрики, сантехники, мастера бытовых услуг в&nbsp;штате</p>
            </article>
        </div>
    </div>
</section>
