<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1184px] mmd1:!p-0">
        <div
            class="bg-black rounded-32 md1:rounded-2xl overflow-hidden p-11 md1:p-6 grid grid-cols-2 relative md1:pb-0 gap-12">
            <div class="mmd1:max-w-[480px] flex flex-col flex-grow">
                <h1 class="title-3 !text-white">Расскажем подробнее</h1>
            </div>
            <div>
                <p class="text-white leading-normal">
                    Если у вас индивидуальный запрос, оставьте заявку и специалист перезвонит вам
                </p>
                <div class="mt-12 flex gap-3 md3:flex-col">
                    <button data-graph-path="create-bid" data-graph-animation="fadeInUp"
                        data-graph-speed="350" class="btn btn-secondary btn-s-default min-w-[172px]">
                        Оставить заявку
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
