<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25">Зачем подключать <br class="md1:hidden" />мобильное приложение?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md2:grid-cols-1">
            <div class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Имидж современной управляющей компании</h4>
            </div>
            <div class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#user-check"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Доверительные отношения с жителями</h4>
            </div>
            <div class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#cpu"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Актуализация базы контактов собственников </h4>
            </div>
            <div class="features-item-link-second">
                <div class="features-item-link-second__icon">
                    <svg>
                        <use xlink:href="img/sprite.svg#bell"></use>
                    </svg>
                </div>

                <h4 class="title-4 mmd1:text-[22px]">Оповещения и уведомления о начиследниях</h4>
            </div>
        </div>
    </div>
</section>
