<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Почему выбирают нас?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 mmd1:pr-8 md1:p-6 flex flex-col">
                <h4 class="title-4">Полностью готовое к запуску решение</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Вы получаете собственное  приложение за несколько недель<br/>&nbsp;
                </p>
                <div class="circle-icon circle-icon--secondary circle-icon--dark mt-12 md1:mt-8 ml-auto">
                    <svg>
                        <use xlink:href="img/sprite.svg#check-circle"></use>
                    </svg>
                </div>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Гибкость и кастомизация</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Приложение адаптируется под ваши запросы, возможны любые доработки и интеграции
                </p>
                <div class="circle-icon circle-icon--secondary circle-icon--dark mt-12 md1:mt-8 ml-auto">
                    <svg>
                        <use xlink:href="img/sprite.svg#maximize-2"></use>
                    </svg>
                </div>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Регулярные обновления и поддержка</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Ориентируемся на самые высокие современные стандарты и долгосрочное сотрудничество
                </p>
                <div class="circle-icon circle-icon--secondary circle-icon--dark mt-12 md1:mt-8 ml-auto">
                    <svg>
                        <use xlink:href="img/sprite.svg#refresh-cw"></use>
                    </svg>
                </div>
            </article>
        </div>
    </div>
</section>
