<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <div
            class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[468px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Единое окно для всех обращений</h2>
                <p class="mt-5 leading-normal text-grayDark">Формируется подробная история взаимодействия жителей и&nbsp;управляющей компании</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-five btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>

            <div class="relative self-end md1:self-center md2:senf-end md3:self-end mmd1:mr-[86px]">
                <picture class="w-max absolute top-[134px] -left-[191px] md2:top-[98px] md2:-left-[127px] z-10">
                    <source srcset="./img/notif.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/notif.png"
                        class="md2:max-w-[190px]"
                        width="245"
                        height="93"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>

                <picture class="md2:relative md2:-right-5">
                    <source srcset="./img/man-with-phone.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/man-with-phone.png"
                        class="md2:max-w-[210px]"
                        width="280"
                        height="388"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
