<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Контакты</h2>
        <div class="mt-20 md1:mt-8 flex flex-col">
            <a class="link-primary title-4-25 !leading-loose !font-medium" href="tel:84997068428">Телефон 8 (499) 706-84-28 </a>
            <a class="link-primary title-4-25 !leading-loose !font-medium" href="mailto:support@kakdoma.life">Email support@kakdoma.life </a>
        </div>
    </div>
</section>
