<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Реквизиты компании</h2>
        <div class="mt-20 md1:mt-8 flex flex-col">
            <div class="title-4-25 !leading-loose !font-medium mmd1:max-w-[690px]">
                <p>ООО «КАК ДОМА»</p>
                <p>ИНН 5047318648</p>
                <p>КПП 504701001</p>
                <p>ОГРН 1255000075043</p>
                <p>Основной код Общероссийского классификатора видов экономической деятельности:</p>
                <p>62.01 Разработка компьютерного программного обеспечения</p>
            </div>
        </div>
    </div>
</section>
