<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Нужно&nbsp;ли менять текущую систему учёта?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Подключение не&nbsp;требует изменения внутренних процессов УК. Сервис подстраивается под уже существующую схему работы.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько времени занимает подключение?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Срок подключения минимальный и&nbsp;зависит от&nbsp;банка, обычно это не&nbsp;более 7&nbsp;рабочих дней.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно&nbsp;ли принимать оплату не&nbsp;только за&nbsp;ЖКУ?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, вы&nbsp;можете принимать оплату за&nbsp;собственные товары и&nbsp;услуги управляющей компании.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">У&nbsp;нас несколько банковских счетов, можно&nbsp;ли разнести оплаты по&nbsp;счетам автоматически?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, это возможно. Для каждого типа оплаты, мы&nbsp;создаем отдельную форму и&nbsp;привязываем к&nbsp;ней нужный вам счет.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Почему у&nbsp;ваших конкурентов дороже, а&nbsp;услуга не&nbsp;отличается?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Мы&nbsp;создали сервис для клиентов и&nbsp;в&nbsp;данный момент он&nbsp;не&nbsp;требует дополнительных доработок
                            и&nbsp;постоянного внимания. По&nbsp;этому мы&nbsp;предлагаем его по&nbsp;такой стоимости.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
