<section class="mt-[50px] md1:mt-0 rounded-b-3xl">
    <div class="container-desktop">
        <div class="bg-[#FE4C4C] rounded-primary py-12 px-14 md1:py-8 md1:px-4">
            <h1 class="title-1-25 !text-white">О нас</h1>
        </div>
        <div class="mt-20 md1:mt-8 px-14 md1:px-4 flex items-start gap-5 md2:flex-col">
            <div class="flex items-center gap-5">
                <picture>
                    <source srcset="./img/avatar-2.webp" type="image/webp" />
                    <img loading="lazy" src="./img/avatar-2.png" width="50" height="50" alt="Фото Новикова Дмитрия" />
                </picture>
                <div class="w-60">
                    <p class="text-paragraph-3 !font-semibold cut cut-1">Новиков Дмитрий</p>
                    <p class="text-paragraph-3 cut cut-1">CEO сервиса</p>
                </div>
            </div>
            <h2 class="title-4-25 mmd1:max-w-[643px]">
                Мы помогаем управляющим организациям, девелоперам и другим компаниям запускать цифровые продукты — от архитектуры до внедрения.
            </h2>
        </div>
    </div>
</section>
