<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Как мы работаем</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-x-6 gap-y-5 md1:grid-cols-2 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4-25">Анализируем существующие процессы</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4-25">Внедряем цифровые инструменты</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4-25">Сопровождаем систему после запуска</h4>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Задать вопрос
        </button>
    </div>
</section>
