<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Что мы можем сделать для вас</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 mmd1:pr-8 md1:p-6 flex flex-col">
                <h4 class="title-4">Внедрить стандартное решение</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Стандартное решение для УК позволяет быстро автоматизировать и настроить все процессы
                </p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Разработать и внедрить индивидуальное решение</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                   Спроектриуем настроим и внедрим систему, бизнес процессы и цели вашей компании
                </p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Поможем перейти на наше решение с текущего</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                   Быстро, безопасно и без потери данных
                </p>
            </article>
        </div>
    </div>
</section>
