<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Наши преимущества</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md1:grid-cols-1">
            <article class="rounded-32 md1:rounded-2xl mmd1:px-10 mmd1:py-8 md1:p-6 flex flex-col bg-grayTwo relative overflow-hidden">
                <h3 class="title-3">&gt;1000&nbsp;МКД</h3>
                <p class="text-paragraph-2 mt-4 md1:mt-3 text-grayDark">Обслуживаем по всей России</p>
            </article>
            <article class="rounded-32 md1:rounded-2xl mmd1:px-10 mmd1:py-8 md1:p-6 flex flex-col bg-grayTwo relative overflow-hidden">
                <h3 class="title-3">5 сек</h3>
                <p class="text-paragraph-2 mt-4 md1:mt-3 text-grayDark">Время ответа на звонок</p>
                <img loading="lazy" src="./img/clock.png" class="absolute -bottom-3 -right-4" width="122" height="121" alt="Картинка часов" />
            </article>
            <article
                class="rounded-32 md1:rounded-2xl mmd1:px-10 mmd1:py-8 md1:p-6 flex flex-col border border-solid border-black relative overflow-hidden">
                <h3 class="title-3">10 лет</h3>
                <p class="text-paragraph-2 mt-4 md1:mt-3 text-grayDark">Опыт работы в ЖКХ</p>
            </article>
        </div>
        <div
            class="mt-5 md1:mt-4 bg-[#5046e5] rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col md2:items-start">
            <div class="flex-grow max-w-[645px]">
                <h2 class="text-white">
                    <span class="text-paragraph">
                        Собственная платформа и&nbsp;технологическая база, позволяет адаптироваться под любые задачи и&nbsp;бизнес-процессы УК
                    </span>
                </h2>
            </div>
            <button
                type="button"
                class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
    </div>
</section>
