<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <div class="bg-grayTwo rounded-32 md1:rounded-none p-11 md1:p-6 relative overflow-hidden">
            <div class="flex flex-col flex-grow">
                <h2 class="title-4">Аварийно диспетчерская служба &laquo;Домлайт&raquo;</h2>
                <p class="mt-4 text-paragraph-3 text-grayDark">
                    Предлагаем управляющим компаниям современное решение для эффективной работы с&nbsp;обращениями жителей. Автоматизация процессов
                    помогает сократить операционные затраты, повысить качество обслуживания и&nbsp;сделать работу с&nbsp;обращениями более прозрачной
                    и&nbsp;управляемой.
                </p>
                <p class="mt-2 text-paragraph-3 text-grayDark">
                    &laquo;Домлайт&raquo;&nbsp;&mdash; надёжный технологический партнёр для управляющих компаний, который помогает оптимизировать
                    ежедневные процессы и&nbsp;улучшать взаимодействие с&nbsp;жителями. Если вам интересно узнать больше о&nbsp;возможностях решения,
                    мы&nbsp;готовы провести подробную презентацию и&nbsp;продемонстрировать сервис в&nbsp;работе.
                </p>
                <div class="mt-auto">
                    <div class="mt-8 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Получить презентацию
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
