<section class="mt-[130px] md1:mt-20 bg-lightBlue py-24 md1:p-6 rounded-primary">
    <div class="container-desktop">
        <div class="mmd1:ml-14 text-white">
            <h2 class="title-2 mb-6">Всегда подробная аналитика по звонкам</h2>
            <p class="text-paragraph">
                Система собирает данные и формирует полную аналитику по всем <br class="md1:hidden" />
                необходимым параметрам для анализа эффективности
            </p>
        </div>
        <div class="mt-14 pt-9 pr-10 pb-10 pl-[30px] bg-[#f8f9fa] rounded-primary md1:p-3 md1:mt-10">
            <picture>
                <source srcset="./img/call-analytics-banner.webp" type="image/webp" />
                <img loading="lazy" src="./img/call-analytics-banner.jpg" width="1226" height="470" class="w-full" alt="Фотография аналитики" />
            </picture>
        </div>
    </div>
</section>
