<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <h2 class="title-1-25 mb-10 md1:mb-6">Как диспетчер общается с жителями</h2>
        <p class="text-paragraph">Реальные записи разговоров диспетчера.</p>
        <div class="mt-20 md1:mt-8 flex gap-4 md1:flex-col">
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-2xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;1&nbsp;&mdash; Прием заявки</h3>
                <p class="text-paragraph-3 mt-5 md1:mt-4 text-grayText">Диспетчер ведет диалог с&nbsp;жителем, который хочет оставить новую заявку</p>
                <div class="mt-10 md1:mt-8 max-w-[285px]" data-audio-src="./audio-example.mp3"></div>
            </div>
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-2xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;2&nbsp;&mdash; передача заявки в&nbsp;работу</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-4 text-grayText">
                    Диспетчер сообщает о&nbsp;заявке исполнителю и&nbsp;подтверждает взятие заявки в&nbsp;работу
                </p>
                <div class="mt-10 md1:mt-8 max-w-[285px]" data-audio-src="https://samplelib.com/mp3/sample-3s.mp3"></div>
            </div>
        </div>
    </div>
</section>
