<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Что входит в услугу?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Мы принимаем обращения жителей, регистрируем заявки, контролируем их исполнение и передаем информацию ответственным
                            специалистам и подрядчикам.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как жители могут оставить заявку?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Диспетчера обрабатывают заявки переданные по телефону, в мобильном приложении, в мессенджерах и по электронной почте.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Принимаете ли вы заявки в Добродел</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, мы принимаем в работу заявки которые жители направляю через единую диспетчерскую службу московской области на портале
                            eds.mosreg.ru меняем статус и информируем УК.
                        </p>
                        <div class="mt-5 flex gap-3">
                            <a href="/eds" class="btn btn-primary btn-s-default relative z-[11]">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Есть&nbsp;ли у&nbsp;вас Виртуальный диспетчер?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, платформа поддерживает современный стандарт диспетчеризации для управляющих компаний и&nbsp;ТСЖ. Виртуальный диспетчер
                            автоматизирует прием, обработку и&nbsp;контроль заявок жителей в&nbsp;режиме 24/7.
                        </p>
                        <p class="mt-2">Электронный диспетчер позволяет:</p>
                        <ul class="mt-2 list-[initial] list-inside pl-3">
                            <li>работать с&nbsp;обращениями жителей;</li>
                            <li>автоматизировать работу управляющей компании;</li>
                            <li>принимать онлайн-платежи ЖКУ;</li>
                            <li>контролировать работу сотрудников;</li>
                            <li>продавать дополнительные услуги управляющей компании и&nbsp;партнеров;</li>
                            <li>принимать показания приборов учета в&nbsp;приложении и&nbsp;веб версии</li>
                            <li>кабинета собственника на&nbsp;сайте;</li>
                            <li>работать с&nbsp;должниками и&nbsp;снижать дебиторскую задолженность.</li>
                        </ul>
                        <p class="mt-2">Решение подходит для:</p>
                        <ul class="mt-2 list-[initial] list-inside pl-3">
                            <li>управляющих компаний;</li>
                            <li>ресурсоснабжающих компаний;</li>
                        </ul>
                        <p class="mt-2">
                            Система помогает снизить нагрузку на&nbsp;операторов, повысить скорость обработки заявок и&nbsp;улучшить качество
                            обслуживания жителей. Электронный диспетчер интегрируется с&nbsp;CRM, мобильным приложением ЖКХ, телефонией, системой
                            уведомлений и&nbsp;другими цифровыми сервисами.
                        </p>
                        <p class="mt-2">
                            Благодаря автоматизации диспетчерской службы жители получают быстрый и&nbsp;современный сервис, а&nbsp;управляющая
                            компания&nbsp;&mdash; полный контроль над обращениями, исполнителями и&nbsp;качеством работы. Подключается
                            по&nbsp;запросу&nbsp;УК.
                        </p>

                        <div class="mt-5 flex gap-3">
                            <a href="/virtual-dispatcher" class="btn btn-primary btn-s-default relative z-[11]">Подробнее</a>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как быстро передается аварийная заявка?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Критические обращения передаются ответственным службам сразу после регистрации по телефону и приложении.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Кто контролирует выполнение заявок?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            В зависимости от выбранного тарифа, диспетчерская служба отслеживает статусы заявок и контролирует их исполнение до
                            выполнения.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Вы информируете жителей о задолженности?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. Во время приема обращения диспетчер сообщает жителю о наличии и сумме задолженности.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Получают ли жители уведомления по заявкам?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, система может автоматически отправлять уведомления о регистрации, изменении статуса и выполнении заявки в мобильном
                            приложении, по sms и электронной почте.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно ли подключить только прием звонков?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, мы предлагаем разные форматы работы: от приема обращений до полного функционала аварийно-диспетчерской службы.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что делать, если обращений очень много?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Наша система масштабируется под нагрузку и позволяет одновременно обрабатывать большой поток заявок без потери качества
                            сервиса.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
