<section class="mt-[50px] md1:mt-0 md1:bg-grayTwo rounded-b-3xl" id="hero-block">
    <div class="container-desktop flex gap-6 md1:flex-col md1:gap-3">
        <div class="h-full flex-grow">
            <div
                class="bg-purple rounded-primary py-[54px] px-14 md1:p-0 relative md1:rounded-none mmd1:min-h-[488px] md1:min-h-[665px] md3:min-h-0 md3:pb-[77%] overflow-hidden flex flex-col">
                <div class="relative z-20 md1:px-6 md1:pt-6 md1:pb-14 flex flex-col flex-grow">
                    <h1 class="title-1-5 text-white">Аварийно-диспетчерская служба для управляющих компаний и ТСЖ</h1>
                    <p class="mt-7 text-white text-paragraph">
                        Делегируйте работу с заявками от жителей опытным диспетчерам и <br class="md1:hidden" />
                        экономьте до 90%!
                    </p>
                    <div class="mt-auto md1:hidden">
                        <div class="flex gap-3">
                            <a href="#tariffSelection" class="btn btn-primary btn-s-default">Смотреть тарифы</a>
                        </div>
                    </div>
                    <div class="mmd1:hidden mt-10 flex flex-col gap-3">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Оставить заявку
                        </button>
                    </div>
                </div>
                <div class="mmd1:hidden absolute md1:-bottom-[30%] md1_5:-bottom-[20%] md3:-bottom-0 right-0 md1:w-2/3 md2:w-full md3:mt-[15%]">
                    <picture>
                        <source srcset="./img/hero-banner-4.webp" type="image/webp" />
                        <img
                            loading="lazy"
                            src="./img/hero-banner-4.png"
                            class="w-full"
                            width="270"
                            height="317"
                            alt="Аварийно-диспетчерская служба для управляющих компаний и ТСЖ" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="mmd1:w-[416px] flex-shrink-0 relative md1:hidden">
            <div class="swiper h-full" id="swiper-banner">
                <div class="swiper-wrapper h-full items-stretch min-h-[450px]">
                    <div class="swiper-slide h-full md1:h-auto">
                        <div class="banner-slide h-full" style="background-color: #e6e6e6">
                            <picture>
                                <source srcset="./img/hero-banner-3.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/hero-banner-3.png"
                                    class="absolute bottom-0 right-0"
                                    width="416"
                                    height="488"
                                    alt="Аварийно-диспетчерская служба для управляющих компаний и ТСЖ" />
                            </picture>
                            <div class="mt-auto flex flex-wrap gap-2 relative z-20">
                                <div class="tag tag-primary">Скидка 50% на первый месяц</div>
                                <div class="tag tag-primary">Выгодные условия при подключении</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="absolute !bottom-[42px] !left-[42px] z-20 slider-pagination md1:!bottom-8 md1:!left-8"
                    id="swiper-banner-pagination"></div>
            </div>
        </div>
    </div>
    <div class="container-desktop !mt-6 md1:!mt-0">
        <div class="mmd1:bg-grayTwo px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:rounded-none md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Работаем согласно постановлению &#8470;&nbsp;331</h3>
                <p class="leading-[1.875] text-grayDark">Круглосуточно принимаем входящие обращения</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Экономим бюджет управляющей компании</h3>
                <p class="leading-[1.875] text-grayDark">
                    Значительно снижаем расходы на <br class="md1:hidden" />
                    содержание собственной диспетчерской службы
                </p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Формируем доверие и постоянно улучшаем сервис</h3>
                <p class="leading-[1.875] text-grayDark">Наши диспетчера имеют опыт работы в&nbsp;сфере ЖКХ и&nbsp;периодически проходят обучение</p>
            </div>
        </div>
    </div>
</section>
