<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col md1:gap-10">
        <div class="mmd1:w-[400px] flex-shrink-0">
            <h2 class="title-2 mb-8">Как работает диспетчерская</h2>
            <picture>
                <source srcset="./img/avatars.webp" type="image/webp" />
                <img loading="lazy" src="./img/avatars.png" width="182" height="79" class="md1:w-[150px]" alt="Диспетчеры" />
            </picture>
        </div>
        <div class="flex-grow flex flex-col gap-3">
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Поступает входящий звонок</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Житель звонит в вашу управляющую компанию. Звонок примет наш диспетчер и составит заявку, примет показания счетчиков и прочие
                        обращения жителей.
                    </p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Обработка обращения</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Наш диспетчер передает обращение нужному специалисту, а уведомление о принятой заявке поступит собственнику через мобильное
                        приложение или Telegram.
                    </p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-primary pl-12 pr-14 py-9 bg-veryLightBlue md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Выполнение и оценка</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Когда ваш исполнитель завершает работу, он закрывает заявку в мобильном приложении. Диспетчер проверяет статус и подтверждает.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
