<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Как работает сервис</h2>
        <div class="flex gap-8 md1:flex-col md1:gap-10">
            <div class="mmd1:w-[400px] flex-shrink-0">
                <div class="w-max">
                    <picture>
                        <source srcset="./img/avatars-2.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatars-2.png" width="180" height="78" class="md1:w-[150px]" alt="Диспетчеры" />
                    </picture>
                </div>
            </div>
            <div class="flex-grow flex flex-col gap-3">
                <div
                    class="flex items-start gap-8 rounded-32 md1:rounded-2xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                    <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                    <div>
                        <h4 class="title-4 mb-4 md1:text-center">Поступает входящий звонок</h4>
                        <p class="text-paragraph-3 text-grayText md1:text-center">
                            Житель звонит в&nbsp;вашу управляющую компанию. Звонок примет наш диспетчер, который составит заявку или примет обращение.
                        </p>
                    </div>
                </div>
                <div
                    class="flex items-start gap-8 rounded-32 md1:rounded-2xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                    <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                    <div>
                        <h4 class="title-4 mb-4 md1:text-center">Происходит обработка обращения</h4>
                        <p class="text-paragraph-3 text-grayText md1:text-center">
                            Диспетчер вносит заявку в&nbsp;CRM, затем передает заявку специалисту. Уведомление уходит автоматически в&nbsp;мобильное
                            приложение жителя.
                        </p>
                    </div>
                </div>
                <div
                    class="flex items-start gap-8 rounded-32 md1:rounded-2xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md2:flex-col md1:items-center">
                    <span class="w-9 h-9 rounded-full bg-blue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                    <div>
                        <h4 class="title-4 mb-4 md1:text-center">Выполнение и оценка</h4>
                        <p class="text-paragraph-3 text-grayText md1:text-center">
                            Когда исполнитель&nbsp;УК завершает работу, он&nbsp;закрывает заявку в&nbsp;своем мобильном приложении. Диспетчер АДС
                            проверяет и&nbsp;подтверждает.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
