<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Как работает диспетчерская</h2>

        <div class="ml-auto max-w-[757px] flex-grow flex flex-col gap-5 md1:gap-4 relative">
            <div class="absolute top-[186px] left-[16px] -translate-x-full md1:hidden flex flex-col">
                <svg width="51" height="45" viewBox="0 0 51 45" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M0.876465 43.8763L0.882204 30.6722C0.889356 14.2164 14.2352 0.876348 30.691 0.876348H49.8952"
                        stroke="#6081EF"
                        stroke-width="1.75269"
                        stroke-linecap="round" />
                </svg>
                <svg width="52" height="250" viewBox="0 0 52 250" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M51.602 243.62C51.9441 243.278 51.9439 242.723 51.6015 242.381L46.022 236.804C45.6796 236.462 45.1248 236.462 44.7827 236.804C44.4406 237.146 44.4408 237.701 44.7832 238.043L49.7427 243.001L44.7875 247.958C44.4454 248.3 44.4457 248.855 44.7881 249.197C45.1304 249.54 45.6853 249.54 46.0274 249.197L51.602 243.62ZM0.876465 0.000793457L0.00011817 0.00155733L0.278654 213.232L1.155 213.231L2.03135 213.23L1.75281 2.95873e-05L0.876465 0.000793457ZM30.9637 243.001L30.9641 243.877H50.9825L50.9821 243.001L50.9817 242.124H30.9634L30.9637 243.001ZM1.155 213.231L0.278654 213.232C0.300768 230.161 14.0348 243.877 30.9641 243.877L30.9637 243.001L30.9634 242.124C15.0014 242.124 2.0522 229.192 2.03135 213.23L1.155 213.231Z"
                        fill="#6081EF" />
                </svg>
            </div>

            <div class="flex flex-col rounded-32 md1:rounded-2xl p-10 bg-gray md1:p-6">
                <h4 class="title-4 mb-5">Принимаем входящие обращения</h4>
                <p class="text-paragraph-3 text-grayText">
                    Мы&nbsp;обрабатыавем телефонные звонки, заявки из&nbsp;мобильных приложений, заявки с&nbsp;сайтов и&nbsp;меседжеров.
                </p>
                <div class="mt-5 flex items-center gap-4">
                    <picture>
                        <source srcset="./img/avatar-4.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatar-4.png" width="56" height="56" alt="" />
                    </picture>
                    <picture>
                        <source srcset="./img/audio.webp" type="image/webp" />
                        <img loading="lazy" src="./img/audio.png" width="218" height="34" alt="" />
                    </picture>
                </div>
            </div>
            <div class="flex flex-col rounded-32 md1:rounded-2xl p-10 bg-gray md1:p-6">
                <h4 class="title-4 mb-5">Назначаем исполнителей</h4>
                <p class="text-paragraph-3 text-grayText">
                    Фиксируем обращение в&nbsp;системе и&nbsp;направляется ответственному исполнителю с&nbsp;учетом его загрузки привязке
                    к&nbsp;объекту и&nbsp;графика работ.
                </p>
                <div class="mt-5">
                    <picture>
                        <source srcset="./img/avatars-3.webp" type="image/webp" />
                        <img loading="lazy" src="./img/avatars-3.png" width="147" height="56" alt="Исполнители" />
                    </picture>
                </div>
            </div>
            <div class="flex flex-col rounded-32 md1:rounded-2xl p-10 bg-gray md1:p-6">
                <h4 class="title-4 mb-5">Контролируем выполнение заявок</h4>
                <p class="text-paragraph-3 text-grayText">
                    Отслеживаем время исполнения, статусы заявок, напоминаем и&nbsp;подтверждаем выполнение, а&nbsp;жителю направляем уведомление
                    о&nbsp;результате.
                </p>
                <div class="mt-5">
                    <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="btn btn-primary btn-s-default">
                        Подключить
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
