<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <h2 class="title-1-25 md1:px-4">Бот в МАХ для жителей</h2>
        <div class="mt-20 md1:mt-8">
            <div
                class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[500px] flex flex-col flex-grow mmd1:pb-11">
                    <p class="leading-normal text-grayDark">
                        Инструмент для эффективной коммуникации: прием заявок, информирование и&nbsp;поддержка жителей
                    </p>
                    <div class="mt-auto">
                        <div class="mt-12 flex gap-3 md3:flex-col">
                            <button class="btn btn-primary btn-s-default" data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350">Подключить</button>
                        </div>
                    </div>
                </div>

                <picture class="self-end md1:self-center mmd1:mr-[66px]">
                    <source srcset="./img/phone-max.webp" type="image/webp" />
                    <img loading="lazy" src="./img/phone-max.png" width="240" height="345" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
