<section class="mt-[130px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-14">
            <h2 class="title-2 mb-6">Предоставляем комплексное решение</h2>
            <p class="text-paragraph">
                Для эффективной работы мы&nbsp;бесплатно предоставим онлайн-платформу, мобильное приложение <br class="md1:hidden" />
                собственника, мобильное приложение исполнителеля
            </p>
        </div>
        <div class="mt-20 md1:mt-8 flex gap-7 md1:flex-col">
            <a
                href="/crm"
                class="bg-[#5046e5] rounded-primary mmd1:!rounded-ee-none py-9 px-14 md1:p-6 text-white flex-grow relative overflow-hidden flex flex-col group">
                <!-- <h4 class="title-3 !font-bold">Как дома</h4> -->
                <h3 class="title-2 mt-6 md1:mt-4">Платформа</h3>
                <p class="text-paragraph mt-6 mb-auto">
                    Позволяет контролировать все процессы (записи звонков, заявки, платежи, выполнение работ, постановка задач и&nbsp;другие)
                </p>
                <picture>
                    <source srcset="./img/provide-solution-banner.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/provide-solution-banner.jpg"
                        class="mmd1:rounded-ss-3xl mmd1:min-w-[829px] md1:rounded-t-2xl relative -bottom-[calc(36px+3px)] md1:w-full"
                        width="829"
                        height="386"
                        alt="Заявки от жителей" />
                </picture>
                <svg
                    class="provide-solution__arrow-top-right !text-white group-hover:opacity-100 group-hover:translate-x-0 top-10 right-10 md1:top-7 md1:right-7">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
            <div class="mmd1:w-[484px] flex-shrink-0 flex flex-col gap-6">
                <a
                    href="/owner-app2"
                    class="text-left flex flex-col bg-gray pt-9 px-14 pb-10 rounded-primary md1:p-6 min-h-[340px] relative group">
                    <h3 class="title-3-5">
                        Приложение <br />
                        собственника
                    </h3>
                    <p class="text-paragraph mt-6 md1:mt-4">Бесплатное мобильное приложение для связи с управляющей компанией</p>
                    <div class="mt-auto self-end">
                        <div class="btn btn-five btn-five--white btn-s-small mt-16">Подробнее</div>
                    </div>
                    <svg
                        class="provide-solution__arrow-top-right group-hover:opacity-100 group-hover:translate-x-0 top-10 right-10 md1:top-7 md1:right-7">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
                <a
                    href="/employee-app"
                    class="text-left flex flex-col bg-gray pt-9 px-14 pb-10 rounded-primary md1:p-6 min-h-[340px] relative group">
                    <h3 class="title-3-5">
                        Приложение <br />
                        исполнителя
                    </h3>
                    <p class="text-paragraph mt-6 md1:mt-4">Бесплатный сервис для контроля заявок и поставноки задач</p>
                    <div class="mt-auto self-end">
                        <div class="btn btn-five btn-five--white btn-s-small mt-16">Подробнее</div>
                    </div>
                    <svg
                        class="provide-solution__arrow-top-right group-hover:opacity-100 group-hover:translate-x-0 top-10 right-10 md1:top-7 md1:right-7">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>
