<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Комплексное решение для УК</h2>
        <div class="flex gap-5 md1:flex-col">
            <a href="/crm" class="bg-gray rounded-32 md1:rounded-2xl px-10 pt-10 md1:px-6 md1:pt-6 flex-grow relative overflow-hidden flex flex-col">
                <h3 class="title-4">CRM-система</h3>
                <p class="text-paragraph-3 !font-medium mt-5 md1:mt-4 text-grayText">
                    Позволяет контролировать все процессы, от заявок и записи звонков до выполненных работ и постановка задач.
                </p>
                <div class="self-start mb-8">
                    <div class="btn btn-five btn-five--white btn-s-small mt-10">Подробнее</div>
                </div>
                <picture class="mt-auto self-center">
                    <source srcset="./img/provide-solution-banner.webp" type="image/webp" />
                    <img loading="lazy" src="./img/provide-solution-banner.png" width="633" height="365" alt="Заявки от жителей" />
                </picture>
            </a>
            <div class="mmd1:w-[446px] flex-shrink-0 flex flex-col gap-5">
                <a href="/owner-app2" class="text-left flex flex-col bg-gray p-10 rounded-32 md1:rounded-2xl md1:p-6 min-h-[316px] relative">
                    <h3 class="title-4">Мобильное приложение собственника</h3>
                    <p class="text-paragraph-3 !font-medium mt-5 md1:mt-4 text-grayText">
                        Бесплатное мобильное приложение для связи с управляющей компанией
                    </p>
                    <div class="mt-auto self-start">
                        <div class="btn btn-five btn-five--white btn-s-small mt-14">Подробнее</div>
                    </div>
                </a>
                <a href="/employee-app" class="text-left flex flex-col bg-gray p-10 rounded-32 md1:rounded-2xl md1:p-6 min-h-[316px] relative">
                    <h3 class="title-4">Мобильное приложение исполнителя</h3>
                    <p class="text-paragraph-3 !font-medium mt-5 md1:mt-4 text-grayText">Бесплатный сервис для контроля заявок и поставноки задач</p>
                    <div class="mt-auto self-start">
                        <div class="btn btn-five btn-five--white btn-s-small mt-14">Подробнее</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
