<section class="mt-[128px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-14 mmd1:max-w-[1012px]">
            <h2 class="title-2 mb-6">Реальная экономия без потери качества</h2>
            <p class="text-paragraph">
                Мы&nbsp;проанализировали работу более 200 управляющих компаний и&nbsp;ТСЖ и&nbsp;выяснили, что переход на&nbsp;удалённую
                аварийно-диспетчерерскую службу, позволяет сократить расходы до&nbsp;90%&nbsp;&mdash; без потери качества обслуживания.
            </p>
            <button
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350"
                class="mt-14 btn btn-primary btn-s-default">Рассчитать стоимость</button>
        </div>
    </div>
</section>
