<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25 mb-10 md1:mb-6">
            Почему УК&nbsp;переходят <br class="md1:hidden" />
            на&nbsp;удалённую АДС
        </h2>
        <p class="text-paragraph mmd1:max-w-[780px]">
            Мы&nbsp;проанализировали работу более 100 управляющих компаний. Оказалось, что удалённая АДС позволяет повысить качество предоставляемых
            услуг и&nbsp;сократить затраты.
        </p>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:grid-cols-2 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <p class="text-paragraph-3 !font-medium mb-3">Сокращение затрат на АДС</p>
                <h4 class="title-3">до 80%</h4>
            </article>
            <article class="bg-gray rounded-20 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <p class="text-paragraph-3 !font-medium mb-3">Стабильный сервис</p>
                <h4 class="title-3">Круглосуточно</h4>
            </article>
            <article class="bg-gray rounded-20 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <p class="text-paragraph-3 !font-medium mb-3">Контроль качества</p>
                <h4 class="title-3">Стандарт</h4>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Подключить
        </button>
    </div>
</section>
