<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25 mb-10 md1:mb-6">Что вы&nbsp;получаете</h2>
        <p class="text-paragraph mmd1:max-w-[814px]">
            Полный набор инструментов для удобного и&nbsp;эффективного управления, снижение нагрузки на&nbsp;сотрудников и&nbsp;рост удовлетворенности
            жильцов.
        </p>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Доверие жителей</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Повышение рейтинга УК</p>
            </article>
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Порядок</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Заявки не теряются</p>
            </article>
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Контроль</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Статусы и исполнители К</p>
            </article>
        </div>
    </div>
</section>
