<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25 mb-10 md1:mb-6">Что вы&nbsp;получаете</h2>
        <p class="text-paragraph mmd1:max-w-[814px]">
            Полный набор инструментов для удобного и&nbsp;эффективного управления, снижение нагрузки на&nbsp;сотрудников и&nbsp;рост удовлетворенности
            жильцов.
        </p>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Доверие жителей</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Повышение рейтинга УК</p>
            </article>
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Порядок</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Заявки не теряются</p>
            </article>
            <article class="bg-gray rounded-32 px-10 py-8 md1:px-8 md1:py-6 flex flex-col">
                <h3 class="title-3">Контроль</h3>
                <p class="text-paragraph-2 text-grayDark mt-3">Статусы и исполнители</p>
            </article>
        </div>
        <div
            class="mt-5 md1:mt-4 bg-orangeLight rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col md2:items-start">
            <div class="mmd1:max-w-[401px] flex flex-col flex-grow">
                <h2 class="text-paragraph !text-white !leading-[1.4]">Не используем роботов для обработки звонков, только реальные диспетчеры</h2>
            </div>
            <button
                type="button"
                class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
    </div>
</section>
