<section id="tariffSelection" class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Тарифы на подключение</h2>
        <div class="grid grid-cols-3 gap-6 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Ночной</span>
                <h3 class="title-3 product-card-tariff__title">от 0,20 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Приём всех заявок с 17:00 до 8:00 по будням, в выходные круглосуточно</p>
                <h4 class="text-paragraph product-card-tariff__price">6000 ₽ в месяц</h4>
                <p class="product-card-tariff__price-descr">до 50 обращений или 250 минут</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый</span>
                <h3 class="title-3 product-card-tariff__title">от 0,30 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок</p>
                <h4 class="text-paragraph product-card-tariff__price">20000 ₽ в месяц</h4>
                <p class="product-card-tariff__price-descr">до 200 обращений или 500 минут</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
            <div class="product-card-tariff product-card-tariff--text-white product-card-tariff--blue">
                <span class="product-card-tariff__mode">Оптимальный</span>
                <h3 class="title-3 product-card-tariff__title">от 0,35 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок и контроль их исполнения.</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-secondary btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
