<section id="tariffSelection" class="mt-[130px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-14">
            <h2 class="title-2 mb-6">Выберите идеальный тариф</h2>
            <p class="text-paragraph">
                Скидка 50% на&nbsp;первый месяц + берем на&nbsp;себя все расходы при переходе от&nbsp;других диспетчерских.
                <br class="md1:hidden" />
                Есть различные варианты тарификации, как с&nbsp;фиксированной стоимсотью так и&nbsp;с&nbsp;расчетом за&nbsp;м2&nbsp;или лицевые счета.
            </p>
        </div>
        <div class="mt-[76px] grid grid-cols-3 gap-6 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Ночной</span>
                <h3 class="title-3-5 product-card-tariff__title">от 0,20 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Приём всех заявок с 17:00 до 8:00 по будням, в выходные круглосуточно</p>
                <h4 class="text-paragraph product-card-tariff__price">6000 ₽ в месяц</h4>
                <p class="product-card-tariff__price-descr">до 50 обращений или 250 минут</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">Подключить</button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый</span>
                <h3 class="title-3-5 product-card-tariff__title">от 0,30 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок</p>
                <h4 class="text-paragraph product-card-tariff__price">20000 ₽ в месяц</h4>
                <p class="product-card-tariff__price-descr">до 200 обращений или 500 минут</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">Подключить</button>
                </div>
            </div>
            <div class="product-card-tariff product-card-tariff--profit">
                <span class="product-card-tariff__badge">выгодно</span>
                <span class="product-card-tariff__mode">Оптимальный</span>
                <h3 class="title-3-5 product-card-tariff__title">от 0,35 ₽ за м2</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок и контроль их исполнения.</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-secondary btn-s-default product-card-tariff__btn">Подключить</button>
                </div>
            </div>
        </div>
    </div>
</section>
