<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Почему выбирают нас?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-32 md1:rounded-3xl p-10 mmd1:pb-14 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary">
                    <svg>
                        <use xlink:href="img/sprite.svg#headset"></use>
                    </svg>
                </div>
                <h4 class="title-4 mt-8 md1:mt-6">Снижаем ваши расходы на&nbsp;диспетчерскую</h4>
                <p class="mt-4 leading-normal text-grayDark font-medium">
                    Делегирование работы с&nbsp;заявками снижает расходы&nbsp;УК на&nbsp;содержание собственной диспетчерской до&nbsp;80%. При этом
                    качество обслуживания и&nbsp;скорость обработки заявок увеличиваются.
                </p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl p-10 mmd1:pb-14 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary">
                    <svg>
                        <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                </div>
                <h4 class="title-4 mt-8 md1:mt-6">Повышаем лояльность жителей</h4>
                <p class="mt-4 leading-normal text-grayDark font-medium">
                    Каждое обращение регистрируется, звонки записываются, а&nbsp;подробные отчеты позволяют оценивать эффективность работы
                    диспетчерской службы.
                </p>
            </article>
            <article class="bg-[#5046e5] rounded-32 md1:rounded-3xl p-10 mmd1:pb-14 md1:p-6 flex flex-col">
                <h4 class="title-4 text-white">
                    Быстрый запуск <br class="md1:hidden" />
                    без скрытых затрат
                </h4>
                <p class="mt-4 leading-normal text-white font-medium">
                    Закрепляем ответственного сотрудника, предоставляем все необходимые инструкции и&nbsp;оперативно отвечаем на&nbsp;запросы.
                </p>
                <button
                    type="button"
                    class="btn btn-secondary btn-s-default w-max mt-auto"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Тарифы
                </button>
            </article>
        </div>
    </div>
</section>
