<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как работает CRM-система?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>CRM позволяет централизованно учитывать обращения жителей, заявки, задачи сотрудникам, объекты и исполнителей. Все процессы становятся прозрачными, контролируемыми и фиксируются в единой системе.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Фиксируются ли звонки жителей?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Все обращения фиксируются в системе с указанием даты, времени, категории, статуса и ответственного исполнителя. При необходимости доступны записи разговоров и журнал действий.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно ли отслеживать работу сотрудников?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. Система позволяет отслеживать сроки обработки заявок, действия сотрудников и качество исполнения, формируя отчёты для руководства.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Интегрируется ли система с другими решениями?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Возможна интеграция с телефонией, корпоративными системами, 1С и другими сервисами по запросу.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как быстро можно внедрить систему?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Сроки внедрения зависят от требований, но базовый запуск возможен в краткие сроки с последующей адаптацией под  процессы УК.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
