<section class="mt-[50px] md1:mt-0 md1:bg-[#edecfc] rounded-b-3xl" id="hero-block">
    <div class="container-desktop">
        <div
            class="bg-[#5046e5] rounded-primary mmd1:rounded-br-none md1:rounded-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
            <div class="mmd1:max-w-[525px] flex flex-col flex-grow">
                <h1 class="title-1 text-white">CRM-система для управляющих компаний</h1>
                <div class="mt-auto">
                    <div class="mt-[76px] flex gap-3 md3:flex-col md1:mt-12">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Подключить
                        </button>
                        <a href="https://crm.kakdoma.life/" class="btn btn-five btn-five--white-border btn-s-default">Демо доступ</a>
                    </div>
                </div>
            </div>

            <picture>
                <source srcset="./img/crm-hero-banner.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/crm-hero-banner.png"
                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                    width="634"
                    height="431"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container-desktop !mt-6 md1:!-mt-2 relative">
        <div class="px-14 py-[54px] pb-[46px] grid grid-cols-4 gap-10 rounded-primary md1:grid-cols-1 md1:p-6 mmd1:bg-[#edecfc]">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Автоматизация процессов УК</h3>
                <p class="leading-[1.875]">Предоставляем для работы современное програмное обеспечение</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Быстрая обработка обращений</h3>
                <p class="leading-[1.875]">Заявки направляются нужным специалистам, что снижает нагрузку на диспетчерскую</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Push-уведомления о начиследниях</h3>
                <p class="leading-[1.875]">Вовремя сообщайте о&nbsp;событиях и&nbsp;начислениях за&nbsp;ЖКУ</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Рост собираемости платежей</h3>
                <p class="leading-[1.875]">Улучшайте финансовые показатели управляющей компании</p>
            </div>
        </div>
    </div>
</section>
