<section class="mt-[121px] md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-14 mmd1:max-w-[1184px]">
            <h2 class="title-2">
                Инструменты для <br class="md1:hidden" />
                эффективной работы
            </h2>
            <div class="mt-24 md1:mt-12 flex flex-col gap-5 md1:gap-16">
                <!-- 1 -->
                <div class="flex gap-[114px] md1:flex-col-reverse md1:gap-6">
                    <div class="mmd1:mt-[128px] mmd1:max-w-[430px]">
                        <h3 class="title-3-5">Работа с заявками</h3>
                        <p class="text-paragraph mt-5 text-grayDark md1:mt-4">
                            Лучший сервис для обработки обращений от собственников и арендаторов.
                        </p>
                        <div class="flex gap-2 mt-[80px] md1:mt-9">
                            <button class="btn btn-five btn-s-default">Подключить</button>
                        </div>
                    </div>
                    <div
                        class="flex-grow flex-center-all rounded-[30px] md1:rounded-3xl px-8 py-16 md1:p-8 md3:p-4"
                        style="background-color: rgba(80, 70, 229, 0.2)">
                        <picture>
                            <source srcset="./img/crm-tools-1.webp" type="image/webp" />
                            <img loading="lazy" src="./img/crm-tools-1.png" width="579" height="472" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
                <!-- 2 -->
                <div class="flex gap-[114px] md1:flex-col-reverse md1:gap-6">
                    <div class="mmd1:mt-[128px] mmd1:max-w-[430px]">
                        <h3 class="title-3-5">Магазин платных услуг</h3>
                        <p class="text-paragraph mt-5 text-grayDark md1:mt-4">
                            Возможности для УК предлагать собственные платные услуги и получить дополнительный источник продаж.
                        </p>
                        <div class="flex gap-2 mt-[80px] md1:mt-9">
                            <button class="btn btn-primary btn-s-default">Подключить</button>
                        </div>
                    </div>
                    <div
                        class="flex-grow flex-center-all rounded-[30px] md1:rounded-3xl px-8 py-16 md1:p-8 md3:p-4"
                        style="background-color: rgba(80, 70, 229, 0.4)">
                        <picture>
                            <source srcset="./img/crm-tools-2.webp" type="image/webp" />
                            <img loading="lazy" src="./img/crm-tools-2.png" width="579" height="472" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
                <!-- 3 -->
                <div class="flex gap-[114px] md1:flex-col-reverse md1:gap-6">
                    <div class="mmd1:mt-[128px] mmd1:max-w-[430px]">
                        <h3 class="title-3-5">Список пропусков</h3>
                        <p class="text-paragraph mt-5 text-grayDark md1:mt-4">
                            Система для сотрудников охраны на КПП с фиксацией доступов и сохраниением истории посещений.
                        </p>
                        <div class="flex gap-2 mt-[80px] md1:mt-9">
                            <button class="btn btn-primary btn-s-default">Подключить</button>
                            <button class="btn btn-five btn-s-default">Создать пропуск</button>
                        </div>
                    </div>
                    <div
                        class="flex-grow flex-center-all rounded-[30px] md1:rounded-3xl px-8 py-16 md1:p-8 md3:p-4"
                        style="background-color: rgba(80, 70, 229, 0.6)">
                        <picture>
                            <source srcset="./img/crm-tools-3.webp" type="image/webp" />
                            <img loading="lazy" src="./img/crm-tools-3.png" width="579" height="472" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
                <!-- 4 -->
                <div class="flex gap-[114px] md1:flex-col-reverse md1:gap-6">
                    <div class="mmd1:mt-[128px] mmd1:max-w-[430px]">
                        <h3 class="title-3-5">Прием платежей</h3>
                        <p class="text-paragraph mt-5 text-grayDark md1:mt-4">
                            Push-уведомления о задолженности. Возможность оплаты счетов за ЖКУ и капитальный ремонт онлайн.
                        </p>
                        <div class="flex gap-2 mt-[80px] md1:mt-9">
                            <button class="btn btn-primary btn-s-default">Подключить</button>
                        </div>
                    </div>
                    <div
                        class="flex-grow flex-center-all rounded-[30px] md1:rounded-3xl px-8 py-16 md1:p-8 md3:p-4"
                        style="background-color: rgba(80, 70, 229, 0.8)">
                        <picture>
                            <source srcset="./img/crm-tools-4.webp" type="image/webp" />
                            <img loading="lazy" src="./img/crm-tools-4.png" width="579" height="472" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
                <!-- 5 -->
                <div class="flex gap-[114px] md1:flex-col-reverse md1:gap-6">
                    <div class="mmd1:mt-[128px] mmd1:max-w-[430px]">
                        <h3 class="title-3-5">Приборы учета</h3>
                        <p class="text-paragraph mt-5 text-grayDark md1:mt-4">
                            История показаний приборов учета. Автоматическая передача показаний. Возможность устанавливать период передачи.
                        </p>
                        <div class="flex gap-2 mt-[80px] md1:mt-9">
                            <button class="btn btn-primary btn-s-default">Подключить</button>
                        </div>
                    </div>
                    <div
                        class="flex-grow flex-center-all rounded-[30px] md1:rounded-3xl px-8 py-16 md1:p-8 md3:p-4"
                        style="background-color: rgba(80, 70, 229, 1)">
                        <picture>
                            <source srcset="./img/crm-tools-5.webp" type="image/webp" />
                            <img loading="lazy" src="./img/crm-tools-5.png" width="579" height="472" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
