<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>

        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Сложно ли внедрить приложение?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Нет. Мы берём на себя весь процесс: настройку, брендирование, публикацию в App Store, RuStore и Google Play.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько времени занимает запуск?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            В среднем запуск занимает от 2 до 4 недель — в зависимости от интеграций и индивидуальных требований.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Кто поддерживает приложение после запуска?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Мы обеспечиваем техническую поддержку, обновления и развитие функционала. Вам не нужно содержать собственную IT-команду.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
