<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class='md1:hidden' />
                и ответы
            </h2>
        </div>








        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что такое приложение сервисной службы?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Это мобильное приложение для сотрудников управляющей компании и подрядчиков, которое помогает принимать, распределять и выполнять заявки жителей в цифровом формате.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие задачи решает приложение?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            - Получение заявок с адресом и описанием проблемы<br/>
                            - Назначение исполнителей<br/>
                            - Контроль сроков выполнении<br/>
                            - Фотофиксация до и после выполнения работ<br/>
                            - Закрытие заявки с комментарием
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как контролируется качество выполнения работ?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Система фиксирует сроки, действия исполнителя и фотоотчёты. Руководство видит аналитику по скорости и качеству работы.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно ли настроить роли и уровни доступа?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. Доступ настраивается индивидуально — для мастеров, диспетчеров, подрядчиков и руководителей.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что видит сотрудник в приложении?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Адрес объекта, описание проблемы, контакты заявителя, сроки выполнения, историю обращений и комментарии диспетчера.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Работает ли приложение без интернета?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, данные могут сохраняться и синхронизироваться при подключении к сети.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
