<section class="mt-[160px] md1:mt-20" id="features-block">
    <div class="container flex gap-[81px]">
        <div class="mmd1:w-[640px] mmd1:h-[640px] flex-shrink-0 bg-[#cdebf1] flex justify-center items-end rounded-[54px] md1:rounded-3xl">
            <picture class="absolute transition-primary-all opacity-100" data-features-image="0">
                <source srcset="./img/owner-app-banner-1.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/owner-app-banner-1.png"
                    class=""
                    width="326"
                    height="568"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
            <picture class="absolute transition-primary-all opacity-100" style="opacity: 0" data-features-image="1">
                <source srcset="./img/owner-app-banner-2.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/owner-app-banner-2.png"
                    class=""
                    width="326"
                    height="568"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
            <picture class="absolute transition-primary-all opacity-100" style="opacity: 0" data-features-image="2">
                <source srcset="./img/owner-app-banner-3.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/owner-app-banner-3.png"
                    class=""
                    width="326"
                    height="568"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
            <picture class="absolute transition-primary-all opacity-100" style="opacity: 0" data-features-image="3">
                <source srcset="./img/owner-app-banner-4.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/owner-app-banner-4.png"
                    class=""
                    width="326"
                    height="568"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
            <picture class="absolute transition-primary-all opacity-100" style="opacity: 0" data-features-image="4">
                <source srcset="./img/owner-app-banner-5.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/owner-app-banner-5.png"
                    class=""
                    width="326"
                    height="568"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
        <div class="flex-grow relative min-w-0">
            <h3 class="title-4-5 mt-[115px] mb-[46px]">Функции приложения</h3>
            <div class="swiper" id="features-block-swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <h2 class="title-2">Создание заявок</h2>
                        <p class="text-paragraph text-[#676767] mt-5">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                    </div>
                    <div class="swiper-slide">
                        <h2 class="title-2">Создание заявок</h2>
                        <p class="text-paragraph text-[#676767] mt-5">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                    </div>
                    <div class="swiper-slide">
                        <h2 class="title-2">Создание заявок</h2>
                        <p class="text-paragraph text-[#676767] mt-5">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                    </div>
                    <div class="swiper-slide">
                        <h2 class="title-2">Создание заявок</h2>
                        <p class="text-paragraph text-[#676767] mt-5">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                    </div>
                    <div class="swiper-slide">
                        <h2 class="title-2">Создание заявок</h2>
                        <p class="text-paragraph text-[#676767] mt-5">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                    </div>
                </div>
            </div>
            <div class="mt-12 flex gap-3">
                <button class="btn-nav btn-nav--prev" id="features-block-prev" aria-label="Предыдущий слайд">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="btn-nav btn-nav--next" id="features-block-next" aria-label="Следующий слайд">
                    <svg>
                        <use xlink:href="img/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>
