<section class="mt-[160px] md1:mt-20" id="data-features-tabs">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1_5:gap-4 md1_5:flex-col justify-between">
        <div class="mmd1_5:max-w-[517px]">
            <h2 class="title-2 mb-8">Возможности</h2>
            <div class="md1_5:overflow-x-auto md1_5:pb-4">
                <ul class="inline-flex flex-col gap-9 md1_5:flex-row md1_5:gap-6 md1_5:shadow-[0_2px_0_0_#0000001a]">
                    <li>
                        <button data-features-tabs-btn="1" class="features-tabs-btn _active">Все под рукой</button>
                        <p data-features-tabs-text="1" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="2" class="features-tabs-btn">Прием платежей</button>
                        <p data-features-tabs-text="2" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.2
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="3" class="features-tabs-btn">Показания счетчиков</button>
                        <p data-features-tabs-text="3" class="features-tabs-text features-tabs-text-anim _active">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat amet harum quod asperiores ratione sit ut, excepturi
                            assumenda inventore voluptates aperiam repellendus dolore unde odit soluta quia fuga ea officiis labore eligendi
                            reiciendis. Aliquam iste beatae veritatis voluptas ullam? Suscipit culpa reiciendis accusamus, eius repellat provident
                            quas. Maiores unde, autem delectus blanditiis exercitationem voluptatum voluptas veniam repellat placeat sunt!
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="4" class="features-tabs-btn">Оформление пропусков</button>
                        <p data-features-tabs-text="4" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.4
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="5" class="features-tabs-btn">Создание заявок</button>
                        <p data-features-tabs-text="5" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.5
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="6" class="features-tabs-btn">Трансляции с камер</button>
                        <p data-features-tabs-text="6" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.6
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <div data-features-tabs-image="1" class="features-tabs-image _active">
                <p class="features-tabs-text mmd1_5:hidden">Лучший сервис для обработки обращений от собственников и арендаторов.</p>
                <picture>
                    <source srcset="./img/owner-app-phones-1.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-1.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="2" class="features-tabs-image">
                <p class="features-tabs-text mmd1_5:hidden">Лучший сервис для обработки обращений от собственников и арендаторов.2</p>
                <picture>
                    <source srcset="./img/owner-app-phones-2.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-2.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="3" class="features-tabs-image">
                <p class="features-tabs-text mmd1_5:hidden">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias fugiat amet harum quod asperiores ratione sit ut, excepturi
                    assumenda inventore voluptates aperiam repellendus dolore unde odit soluta quia fuga ea officiis labore eligendi reiciendis.
                    Aliquam iste beatae veritatis voluptas ullam? Suscipit culpa reiciendis accusamus, eius repellat provident quas. Maiores unde,
                    autem delectus blanditiis exercitationem voluptatum voluptas veniam repellat placeat sunt!
                </p>
                <picture>
                    <source srcset="./img/owner-app-phones-3.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-3.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="4" class="features-tabs-image">
                <p class="features-tabs-text mmd1_5:hidden">Лучший сервис для обработки обращений от собственников и арендаторов.4</p>
                <picture>
                    <source srcset="./img/owner-app-phones-4.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-4.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="5" class="features-tabs-image">
                <p class="features-tabs-text mmd1_5:hidden">Лучший сервис для обработки обращений от собственников и арендаторов.5</p>
                <picture>
                    <source srcset="./img/owner-app-phones-5.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-5.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="6" class="features-tabs-image">
                <p class="features-tabs-text mmd1_5:hidden">Лучший сервис для обработки обращений от собственников и арендаторов.6</p>
                <picture>
                    <source srcset="./img/owner-app-phones-6.webp" type="image/webp" />
                    <img loading="lazy" src="./img/owner-app-phones-6.png" width="577" height="669" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
