<section class="mt-[50px] md1:mt-4">
    <div class="container-desktop">
        <div class="bg-cyan rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:pb-0 gap-12">
            <div class="mmd1:max-w-[435px] flex flex-col flex-grow">
                <h1 class="title-1">Мобильное приложения собственника</h1>
                <div class="mt-auto">
                    <div class="mt-[76px] flex gap-3 md3:flex-col md1:mt-12">
                        <button class="btn btn-primary btn-s-default">Скачать приложение</button>
                    </div>
                </div>
            </div>

            <picture class="mmd1:absolute bottom-0 right-[71px]">
                <source srcset="./img/owner-app-hero-phones.webp" type="image/webp" />
                <img loading="lazy" src="./img/owner-app-hero-phones.png" width="552" height="454" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container-desktop !mt-6">
        <div class="bg-grayTwo px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Имидж современной управляющей компании</h3>
                <p class="leading-[1.875] text-grayDark">Цифровой сервис для собственников становится стандартом для УК</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Снижение нагрузки на диспетчерскую и офис</h3>
                <p class="leading-[1.875] text-grayDark">
                    При наличии мобильного приложения, более 65% собственников выбирают именно этот канал коммуникации
                </p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Автоматизация, прозрачность и контроль для УК</h3>
                <p class="leading-[1.875] text-grayDark">Коммуникация и архив взаимодействия в едином канале</p>
            </div>
        </div>
    </div>
</section>
