<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <h2 class="title-1-25 md1:px-4">Напоминания об&nbsp;оплате ЖКУ</h2>
        <div class="mt-20 md1:mt-8">
            <div
                class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[418px] flex flex-col flex-grow mmd1:pb-11">
                    <p class="leading-normal text-grayDark">30% платежей совершается после своевременного напоминания или уведомления</p>
                    <div class="mt-6 md1:mt-5 flex flex-wrap gap-2">
                        <button class="tag tag-three tag-lg tag-three-link" data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350">Пуш-уведомления</button>
                        <button class="tag tag-three tag-lg tag-three-link" data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350">СМС</button>
                    </div>
                </div>

                <picture class="self-end md1:self-center mmd1:mr-[28px] md1:w-full md1:max-w-[380px]">
                    <source srcset="./img/phone-11.webp" type="image/webp" />
                    <img loading="lazy" src="./img/phone-11.png" class="md1:w-full" width="315" height="349" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
