<section class="bg-grayTwo mt-[160px] md1:mt-20 py-[96px] md1:py-12 rounded-primary">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <div class="mb-14 md1:mb-8">
            <h2 class="title-1-25 mb-6 md1:mb-4">Просто сравните</h2>
            <p class="text-paragraph-2">Голосовой робот может звонить и&nbsp;принимать звонки без остановки.</p>
        </div>

        <div class="flex flex-col">
            <div class="ml-auto flex gap-2 mb-4">
                <p class="w-[320px] h-[91px] flex-center-all rounded-32 md1:rounded-3xl bg-white text-paragraph-2">Обычная диспетчерская</p>
                <p class="w-[320px] h-[91px] flex-center-all rounded-32 md1:rounded-3xl bg-darkBlue text-white text-paragraph-2">
                    Виртуальный диспетчер
                </p>
            </div>
            <div class="flex flex-col gap-2">
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Режим работы:</span>
                    <span class="text-paragraph">До 8 часов в сутки</span>
                    <span class="text-paragraph">24/7 без перерывов</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Обработка звонков:</span>
                    <span class="text-paragraph">10–15 звонков в час</span>
                    <span class="text-paragraph">1 000 звонков в час</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Пропущенные звонки:</span>
                    <span class="text-paragraph">20%</span>
                    <span class="text-paragraph">0%</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Заполнение CRM:</span>
                    <span class="text-paragraph">10-12 заявок в час</span>
                    <span class="text-paragraph">без ограничений</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Выходные:</span>
                    <span class="text-paragraph">2 дня в неделю</span>
                    <span class="text-paragraph">без выходных</span>
                </div>
                <div
                    class="w-full h-[91px] bg-white pl-20 pr-10 rounded-32 md1:rounded-3xl grid items-center grid-cols-[500px_280px_1fr] gap-10 md1:px-8 md1:h-[78px]">
                    <span class="text-paragraph text-grayDark">Отпуск:</span>
                    <span class="text-paragraph">28 дней в год</span>
                    <span class="text-paragraph">без отпуска</span>
                </div>
            </div>
        </div>
    </div>
</section>
