<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-10 md1:mb-6">Как диспетчер общается с жителями</h2>
        <p class="text-paragraph">Реальные записи разговоров диспетчера.</p>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-5 md1:gap-4 md2:grid-cols-1">
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-3xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;1&nbsp;&mdash; Прием заявки</h3>
                <p class="text-paragraph-3 mt-5 md1:mt-4 text-grayText">
                    AI&nbsp;диспетчер ведет диалог с&nbsp;жителем, который хочет создать новую заявку
                </p>
                <div class="mt-10 md1:mt-8 max-w-[285px]" data-audio-src="./audio-example.mp3" data-audio-theme="blue"></div>
            </div>
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-3xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;2&nbsp;&mdash; передача заявки в&nbsp;работу</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-4 text-grayText">
                    AI&nbsp;диспетчер сообщает о&nbsp;заявке исполнителю и&nbsp;подтверждает взятие заявки в&nbsp;работу
                </p>
                <div class="mt-10 md1:mt-8 max-w-[285px]" data-audio-src="https://samplelib.com/mp3/sample-3s.mp3" data-audio-theme="blue"></div>
            </div>
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-3xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;3&nbsp;&mdash; Информирование</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-4 text-grayText">
                    AI&nbsp;диспетчер звонит и&nbsp;сообщает о&nbsp;статусе заявки жителю, после того как стату был изменен на&nbsp;выполнена
                </p>
                <div class="mt-10 md1:mt-8 max-w-[285px]" data-audio-src="https://samplelib.com/mp3/sample-3s.mp3" data-audio-theme="blue"></div>
            </div>
            <div class="flex flex-col bg-gray p-10 pb-14 rounded-32 md1:rounded-3xl md1:p-6">
                <h3 class="title-4">Пример &#8470;&nbsp;4&nbsp;&mdash; Оповещение должников</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-4 text-grayText">
                    AI&nbsp;диспетчер звонит и&nbsp;сообщает жителю о&nbsp;накопившейся задолженности за&nbsp;ЖКУ
                </p>
                <div
                    class="mt-10 md1:mt-8 max-w-[285px]"
                    data-audio-src="https://samplelib.com/mp3/sample-3s.mp3"
                    data-audio-theme="blue"
                    data-audio-visual-only="true"
                    data-graph-path="upload-files-soon"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350"></div>
            </div>
        </div>
    </div>
</section>
