<section class="mt-[160px] md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Как работает электронный диспетчер?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Система автоматически принимает обращения жителей по&nbsp;телефону, в&nbsp;мобильном приложении или через сайт, фиксирует
                            заявку и&nbsp;передаёт её&nbsp;в&nbsp;работу ответственному сотруднику.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что происходит после обращения жителя?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Заявка автоматически регистрируется в&nbsp;системе, получает номер и&nbsp;направляется нужному исполнителю или
                            специалисту.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Может&nbsp;ли система работать без оператора?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, виртуальный диспетчер может полностью автоматизировать приём типовых обращений и&nbsp;снизить нагрузку
                            на&nbsp;сотрудников.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">
                            У&nbsp;нас небольшая компания, хотим внедрить автоназначение и&nbsp;контроль исполителей, справится&nbsp;ли с&nbsp;этим
                            элетронный диспетчер?
                        </h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, мы&nbsp;уже реализовывали такой вариант взаимодействия с&nbsp;жителями, направьте запрос и&nbsp;мы&nbsp;расскажем
                            подробнее.
                        </p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Подробнее
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие обращения может принимать диспетчер?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Аварийные заявки, вопросы по&nbsp;ЖКХ, обращения по&nbsp;услугам, заявкам мастерам, пропускам, домофонам, парковкам
                            и&nbsp;другим.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Подходит&nbsp;ли сервис для крупных&nbsp;ЖК и&nbsp;управляющих компаний?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, система легко масштабируется и&nbsp;подходит как для небольших&nbsp;УК, так и&nbsp;для крупных жилых комплексов
                            и&nbsp;ресурсоснабжающих организаций.
                        </p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Оставить заявку
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что будет, если оператор не&nbsp;ответил на&nbsp;звонок?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Электронный диспетчер автоматически примет обращение и&nbsp;зафиксирует заявку без потери звонка.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Оказываете&nbsp;ли вы&nbsp;услуги контакт-центра</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, мы&nbsp;предлагаем услуги удаленного контакт-центра. Подробнее ознакомиться с&nbsp;услугой и&nbsp;тарифами можно
                            перейдя на&nbsp;страницу с&nbsp;подробным описанием.
                        </p>
                        <div class="!inline-block">
                            <a href="/ads" class="btn btn-primary btn-s-small mt-4 relative z-[11]">Подробнее</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
