<section class="mt-[50px] md1:mt-0 md1:bg-grayTwo rounded-b-3xl" id="hero-block">
    <div class="container-desktop">
        <div
            class="bg-[#c1dcdc] rounded-primary md1:rounded-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex mmd1:justify-between md1:flex-col relative md1:gap-2 md2:gap-6">
            <div class="mmd1:max-w-[519px] flex flex-col flex-grow">
                <h1 class="title-1">Робот диспетчер для управляющих компаний</h1>
                <p class="mt-6 text-paragraph-2">
                    Это полноценный голосовой интерфейс взаимодействия с&nbsp;собственником, который станет стандартом.
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Отправить заявку
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex gap-6 absolute mmd1:-top-[27px] mmd1:right-8 md1:relative">
                <div
                    class="mt-[138px] md1:mt-[110px] md2:mt-[80px] bg-[linear-gradient(89.84deg,#fff_2.9%)] 
                    rounded-[10px] h-[67px] relative mmd2:min-w-[184px] md2:h-[55px] md2:absolute md2:-left-5">
                    <div class="px-[21.5px] flex-center-all w-full h-full md2:px-4">
                        <p class="leading-[1.22] md2:text-[14px]">
                            Я&nbsp;создан для <br />
                            живых диалогов
                        </p>
                    </div>
                    <div class="-rotate-[133px] absolute top-8 -right-[7px] md2:top-6">
                        <svg width="14" height="19" viewBox="0 0 14 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M12.7618 18.6886L4.9707 16.0261L3.72749 15.8335L0.000767246 15.2562L6.72571 1.11825e-05L8.11886 3.70948L9.27444 6.41296L13.5125 17.0765C13.8639 17.9607 13.4202 18.9136 12.7618 18.6886Z"
                                fill="url(#paint0_linear_4062_1845)" />
                            <defs>
                                <linearGradient
                                    id="paint0_linear_4062_1845"
                                    x1="14.3719"
                                    y1="19.2389"
                                    x2="1.71252"
                                    y2="13.6213"
                                    gradientUnits="userSpaceOnUse">
                                    <stop offset="0.548056" stop-color="white" />
                                </linearGradient>
                            </defs>
                        </svg>
                    </div>
                </div>
                <picture>
                    <source srcset="./img/cat.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/cat.png"
                        class="md1:w-[320px] md2:w-[210px] md2:ml-[135px]"
                        width="376"
                        height="539"
                        alt="Электронный диспетчер" />
                </picture>
            </div>
        </div>
    </div>
    <div class="container-desktop !mt-5 md1:!mt-0">
        <div class="mmd1:bg-grayTwo px-14 py-[54px] pb-[46px] grid grid-cols-4 gap-5 rounded-primary md1:rounded-none md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Принимает звонки круглосуточно</h3>
                <p class="leading-[1.875] text-grayDark">Распознает речь и&nbsp;ведет живой диалог с&nbsp;жителем</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Создает заявки автоматически</h3>
                <p class="leading-[1.875] text-grayDark">Указывает категорий и&nbsp;учитывает время исполнения</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Передает заявки в&nbsp;работу и&nbsp;мониторит</h3>
                <p class="leading-[1.875] text-grayDark">Назначает исполнителей и&nbsp;информирует их&nbsp;по&nbsp;телефону</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Снижает затраты на&nbsp;диспетчеризацию</h3>
                <p class="leading-[1.875] text-grayDark">Сокращает расходы на&nbsp;содержание диспетчерской</p>
            </div>
        </div>
    </div>
</section>
