<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <div class="flex gap-5 md1:flex-col md1:gap-8">
            <div class="flex gap-5 mmd1:w-[316px] flex-shrink-0">
                <picture>
                    <source srcset="./img/avatar-5.webp" type="image/webp" />
                    <img loading="lazy" src="./img/avatar-5.png" width="60" height="60" alt="Фото Екатерины" />
                </picture>
                <div class="">
                    <p class="text-paragraph-3 !font-bold cut cut-1 text-[#071030]">Екатерина</p>
                    <p class="text-paragraph-3 !text-[14px] text-[#A3A6A9]">
                        Руководитель <br class="md1:hidden" />
                        АДС “ДОМЛАЙТ”
                    </p>
                </div>
            </div>
            <div class="flex-grow mmd1:max-w-[783px]">
                <p class="title-4-25">
                    Более 5&nbsp;лет мы&nbsp;предоставляем услуги контакт-цетра для ЖКХ и&nbsp;знаем каждую деталь этого процесса. Мы&nbsp;видим, что
                    большая часть обращений жителей связана с&nbsp;типовыми вопросами.
                </p>
                <p class="mt-8 md1:mt-5 text-paragraph-3">
                    Такие обращения электронный диспетчер обрабатывает мгновенно и&nbsp;без ошибок. Поэтому мы&nbsp;уверены: электронный
                    диспетчер&nbsp;&mdash; это новый стандарт обслуживания жителей, который уже сегодня повышает качество сервиса управляющих
                    компаний.
                </p>
            </div>
        </div>
    </div>
</section>
