<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px]">
        <h2 class="title-1-25 md1:px-4">Рассылка уведомлений</h2>
        <div class="mt-20 md1:mt-8">
            <div
                class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[537px] flex flex-col flex-grow mmd1:pb-11">
                    <h2 class="title-4">
                        Автоматическая рассылка <br class="md1:hidden" />
                        Push и&nbsp;SMS уведомлений
                    </h2>
                    <p class="mt-5 text-paragraph-3 text-grayDark">Виртуальный диспетчер направит информацию по&nbsp;заявке жителю</p>
                    <div class="mt-auto">
                        <div class="mt-12 flex gap-3 md3:flex-col">
                            <a href="/owner-account" class="btn btn-five btn-s-default">Подробнее</a>
                        </div>
                    </div>
                </div>

                <picture class="self-end md1:self-center mmd1:mr-[28px]">
                    <source srcset="./img/notification-phone.webp" type="image/webp" />
                    <img loading="lazy" src="./img/notification-phone.png" width="315" height="345" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
