<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-2">Быстрое подключение</h2>
        <div class="mmd1:ml-auto mt-20 md1:mt-8 mmd1:max-w-[753px] flex flex-col gap-5 md1:gap-4">
            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkBlue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Настройка</h4>
                    <p class="text-paragraph-3 md1:text-center">Создание цифрового голосового помощника&nbsp;&mdash; это достаточно сложный проект</p>
                    <button
                        class="btn btn-primary btn-s-small mt-5 md1:mx-auto"
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350">
                        Подключить
                    </button>
                </div>
            </div>
            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkBlue flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Заключить договор</h4>
                    <p class="text-paragraph-3 md1:text-center">
                        После тестового периода мы&nbsp;заключаем договор и&nbsp;приступаем к&nbsp;работе по&nbsp;выбранному вами тарифу. Используем
                        формат договра оферты, так быстрее и&nbsp;проще.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
