<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">
            Виртуальный диспетчер <br class="md1:hidden" />
            это новый стандарт работы&nbsp;УК
        </h2>

        <div class="mt-20 md1:mt-8 grid grid-cols-3 mmd1:gap-x-5 mmd1:gap-y-7 md1:gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="bg-gray rounded-32 p-10 md1:p-6 flex-center-all flex-col">
                <h3 class="title-4-5 !leading-[1.4]">Самостоятельно звонит и информирует жителей о задолженности</h3>
            </article>
            <article class="bg-gray rounded-32 p-10 md1:p-6 flex-center-all flex-col">
                <h3 class="title-4-5 !leading-[1.4]">Примает показания приборов учета и&nbsp;уточняет сроки поверки</h3>
            </article>

            <article class="row-span-2 rounded-32 pt-6 px-10 pb-9 md1:p-6 flex flex-col border border-solid border-[#d8d8d8]">
                    <p class="title-4-5">Живой диалог</p>
                    <a href="tel:84997068428" class="title-3 mt-7"> +7(499) 706-84-28 </a>
                    <p class="title-5 mt-4">Наберите номер прямо сейчас.</p>
                <div class="mt-auto">
                    <div class="mt-10 flex flex-col">
                        <picture>
                            <source srcset="./img/avatar-cat.webp" type="image/webp" />
                            <img loading="lazy" src="./img/avatar-cat.png" width="60" height="60" alt="Фото Электро БРО" />
                        </picture>
                        <p class="mt-2 text-paragraph-2 !font-bold cut cut-1">Электронный диспетчер</p>
                        <p class="text-paragraph-3 !text-[14px] text-[#A3A6A9]">Виртуальный сотрудник УК</p>
                    </div>
                </div>
            </article>
            <article class="bg-gray rounded-32 p-10 md1:p-6 flex-center-all flex-col">
                <h3 class="title-4-5 !leading-[1.4]">Информирует о&nbsp;графике отключения и&nbsp;рассылает уведомления</h3>
            </article>
            <article class="bg-gray rounded-32 p-10 md1:p-6 flex-center-all flex-col">
                <h3 class="title-4-5 !leading-[1.4]">Сообщает об&nbsp;авариях и&nbsp;сроках завершения ремонтных работ</h3>
            </article>
        </div>
        <div
            class="mt-20 md1:mt-10 bg-orangeLight rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col md2:items-start">
            <div class="mmd1:max-w-[591px] flex flex-col flex-grow">
                <h2 class="text-paragraph !text-white !leading-[1.4]">
                    Все под контролем человека, операторы перезвонят в&nbsp;случае если житель положил трубку и&nbsp;не&nbsp;создал заявку
                </h2>
            </div>
            <button
                type="button"
                class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
    </div>
</section>
