<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Тариф</h2>
        <div class="grid grid-cols-3 gap-5 md1:gap-4 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Электронный</span>
                <h3 class="title-4 product-card-tariff__title !mb-8">5000 ₽ в месяц</h3>
                <p class="product-card-tariff__descr">Так&nbsp;же в&nbsp;тариф включается стоимость исходящих минут.</p>

                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-primary btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
            <div class="mmd2:col-span-2 product-card-tariff product-card-tariff--border">
                <h3 class="title-4-5 !leading-[1.56]">
                    Для виртуального диспетчера нет ограничений по&nbsp;времени работы, нет отпусков и&nbsp;выходных. Он&nbsp;работает эффективно при
                    любой нагрузке, по&nbsp;этому мы&nbsp;предлагаем единый тариф.
                </h3>

                <div class="mt-auto">
                    <div class="mt-12 flex flex-col">
                        <picture>
                            <source srcset="./img/avatar-5.webp" type="image/webp" />
                            <img loading="lazy" src="./img/avatar-5.png" width="50" height="50" alt="Фото Екатерины" />
                        </picture>
                        <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Екатерина</p>
                        <p class="mt-1 font-medium leading-[1.24] text-[14px] text-[#A3A6A9]">
                            Руководитель аварийно-диспетчерской службы <br class="md1:hidden" />
                            &laquo;КАК ДОМА&raquo;
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
