<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Плюсы подключения</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Повышение качества сервиса&nbsp;УК</h4>
                <p class="mt-5 leading-normal">Онлайн-инструмент повышает доверие собственников и&nbsp;уровень сервиса управляющей компании.</p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Меньше телефоных обращений</h4>
                <p class="mt-5 leading-normal">Сокращение телефонных обращений за&nbsp;счёт предоставления информации в&nbsp;онлайн-формате.</p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Без установки приложения</h4>
                <p class="mt-5 leading-normal">Личный кабинет работает в&nbsp;браузере на&nbsp;компьютере, планшете и&nbsp;смартфоне.</p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">История взаимодействия</h4>
                <p class="mt-5 leading-normal">Храним историю всех обращений собственника в&nbsp;управляющую компанию.</p>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Подключить
        </button>
    </div>
</section>
