<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как работает сервис?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Наш сервис интегрирован с&nbsp;Единой диспетчерской службой eds.mosreg.ru. Мы&nbsp;отслеживаем появление новых заявок
                            на&nbsp;портале eds.mosreg.ru и&nbsp;автоматически принимаем их&nbsp;в&nbsp;работу.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие вы&nbsp;оповещаете о&nbsp;новых заявках?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Мы&nbsp;направляем оповещения в&nbsp;меседжер Telegram и&nbsp;по&nbsp;необходимости, на&nbsp;электронную почту.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько сотрудников можно подключить?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Для одной компании вы&nbsp;можете подключить любое количество сотрудников без ограничений и&nbsp;увеличесния стоимости.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно&nbsp;ли подключить сразу несколько управляющих организаций</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, это возможно. Оповещения будут направляться на&nbsp;указанные номера телефонов.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Почему у&nbsp;ваших конкурентов дороже, а&nbsp;услуга не&nbsp;отличается?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Мы&nbsp;создали сервис для клиентов и&nbsp;в&nbsp;данный момент он&nbsp;не&nbsp;требует дополнительных доработок
                            и&nbsp;постоянного внимания. По&nbsp;этому мы&nbsp;предлагаем его по&nbsp;такой стоимости.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
