<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25">Возможности личного кабинета</h2>
        <div class="mt-20 md1:mt-8 slider-tabs" data-slider-tabs>
            <div class="ml-[35px] slider-tabs__btns" data-tabs-container>
                <button class="slider-tabs__btn text-paragraph-3 !font-bold" data-slide="0">Понятный интерфейс</button>
                <button class="slider-tabs__btn text-paragraph-3 !font-bold" data-slide="1">Счета и квитанции</button>
                <button class="slider-tabs__btn text-paragraph-3 !font-bold" data-slide="2">Счетчики</button>
                <button class="slider-tabs__btn text-paragraph-3 !font-bold" data-slide="3">Заявки</button>
                <button class="slider-tabs__btn text-paragraph-3 !font-bold" data-slide="4">Пропуска</button>
            </div>

            <div class="swiper rounded-32" data-slider-tabs-swiper>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div
                            class="bg-grayTwo rounded-32 mmd1:rounded-br-none pt-[60px] p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                            <div class="mmd1:max-w-[356px] flex flex-col flex-grow">
                                <p class="text-paragraph-3 text-grayDark">
                                    Простой и понятный интерфейс для жителей, все обращения, оплаты и сервисы в одном месте.
                                </p>
                                <div class="mt-auto">
                                    <div class="mt-12">
                                        <button
                                            data-graph-path="create-bid"
                                            data-graph-animation="fadeInUp"
                                            data-graph-speed="350"
                                            class="btn btn-primary btn-s-default">
                                            Демо доступ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/owner-acc-features-1.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/owner-acc-features-1.png"
                                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                                    width="680"
                                    height="411"
                                    alt=""
                                    role="presentation"
                                    aria-hidden="true" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="bg-grayTwo rounded-32 mmd1:rounded-br-none pt-[60px] p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                            <div class="mmd1:max-w-[356px] flex flex-col flex-grow">
                                <p class="text-paragraph-3 text-grayDark">
                                    Все начисления, квитанции и история оплат доступны онлайн, быстро, удобно и без бумажных документов.
                                </p>
                                <div class="mt-auto">
                                    <div class="mt-12">
                                        <button
                                            data-graph-path="create-bid"
                                            data-graph-animation="fadeInUp"
                                            data-graph-speed="350"
                                            class="btn btn-primary btn-s-default">
                                            Демо доступ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/owner-acc-features-2.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/owner-acc-features-2.png"
                                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                                    width="680"
                                    height="411"
                                    alt=""
                                    role="presentation"
                                    aria-hidden="true" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="bg-grayTwo rounded-32 mmd1:rounded-br-none pt-[60px] p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                            <div class="mmd1:max-w-[356px] flex flex-col flex-grow">
                                <p class="text-paragraph-3 text-grayDark">
                                    Передавайте показания счетчиков онлайн и контролируйте потребление ресурсов без обращений в УК.
                                </p>
                                <div class="mt-auto">
                                    <div class="mt-12">
                                        <button
                                            data-graph-path="create-bid"
                                            data-graph-animation="fadeInUp"
                                            data-graph-speed="350"
                                            class="btn btn-primary btn-s-default">
                                            Демо доступ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/owner-acc-features-3.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/owner-acc-features-3.png"
                                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                                    width="680"
                                    height="411"
                                    alt=""
                                    role="presentation"
                                    aria-hidden="true" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="bg-grayTwo rounded-32 mmd1:rounded-br-none pt-[60px] p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                            <div class="mmd1:max-w-[356px] flex flex-col flex-grow">
                                <p class="text-paragraph-3 text-grayDark">
                                    Создавайте заявки онлайн, отслеживайте их статус и получайте уведомления о выполнении прямо в личном кабинете.
                                </p>
                                <div class="mt-auto">
                                    <div class="mt-12">
                                        <button
                                            data-graph-path="create-bid"
                                            data-graph-animation="fadeInUp"
                                            data-graph-speed="350"
                                            class="btn btn-primary btn-s-default">
                                            Демо доступ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/owner-acc-features-4.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/owner-acc-features-4.png"
                                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                                    width="680"
                                    height="411"
                                    alt=""
                                    role="presentation"
                                    aria-hidden="true" />
                            </picture>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div
                            class="bg-grayTwo rounded-32 mmd1:rounded-br-none pt-[60px] p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                            <div class="mmd1:max-w-[356px] flex flex-col flex-grow">
                                <p class="text-paragraph-3 text-grayDark">
                                    Создавайте гостевые и постоянные пропуска онлайн, быстрый доступ на территорию без звонков и бумажных заявок.
                                </p>
                                <div class="mt-auto">
                                    <div class="mt-12">
                                        <button
                                            data-graph-path="create-bid"
                                            data-graph-animation="fadeInUp"
                                            data-graph-speed="350"
                                            class="btn btn-primary btn-s-default">
                                            Демо доступ
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/owner-acc-features-5.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/owner-acc-features-5.png"
                                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                                    width="680"
                                    height="411"
                                    alt=""
                                    role="presentation"
                                    aria-hidden="true" />
                            </picture>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
