<section class="mt-[160px] md1:mt-20" id="data-features-tabs">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-[100px] md1:gap-7 md1:flex-col justify-between">
        <div class="features-tabs-images features-tabs-images--blue features-tabs-images--square">
            <div data-features-tabs-image="1" class="features-tabs-image _active">
                <picture>
                    <source srcset="./img/owner-account-features-1.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/owner-account-features-1.jpg"
                        width="492"
                        height="369"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="2" class="features-tabs-image">
                <picture>
                    <source srcset="./img/owner-account-features-2.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/owner-account-features-2.jpg"
                        width="492"
                        height="289"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="3" class="features-tabs-image">
                <picture>
                    <source srcset="./img/owner-account-features-3.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/owner-account-features-3.jpg"
                        width="492"
                        height="349"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="4" class="features-tabs-image">
                <picture>
                    <source srcset="./img/owner-account-features-4.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/owner-account-features-4.jpg"
                        width="492"
                        height="358"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <div data-features-tabs-image="5" class="features-tabs-image">
                <picture>
                    <source srcset="./img/owner-account-features-5.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/owner-account-features-5.jpg"
                        width="492"
                        height="372"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
        </div>
        <div class="mmd1:hidden order-2">
            <p data-features-tabs-text="1" class="features-tabs-text features-tabs-text-anim _active">
                Лучший сервис для обработки обращений от собственников и арендаторов.
            </p>
            <p data-features-tabs-text="2" class="features-tabs-text features-tabs-text-anim">
                Оплата коммунальных и дополнительных услуг управляющей компании
            </p>
            <p data-features-tabs-text="3" class="features-tabs-text features-tabs-text-anim">
                Создание разовых, временных и постоянныйх пропусков для ваших гостей
            </p>
            <p data-features-tabs-text="4" class="features-tabs-text features-tabs-text-anim">
                Отправляйте информацию в управляющую компанию из приложения
            </p>
            <p data-features-tabs-text="5" class="features-tabs-text features-tabs-text-anim">
                Передавайте показания счетчиков из приложения для точного начисления ЖКУ
            </p>
        </div>
        <div class="mmd1:mt-9 mmd1:max-w-[517px] md1:order-1">
            <h2 class="title-2 mb-8">Возможности личного кабинета</h2>
            <div class="md1:overflow-x-auto md1:pb-4">
                <ul class="inline-flex flex-col gap-9 md1:flex-row md1:gap-6 md1:shadow-[0_2px_0_0_#0000001a]">
                    <li>
                        <button data-features-tabs-btn="1" class="features-tabs-btn _active">Все под рукой</button>
                        <p data-features-tabs-text="1" class="features-tabs-text features-tabs-text-anim _active">
                            Лучший сервис для обработки обращений от собственников и арендаторов.
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="2" class="features-tabs-btn">Прием платежей</button>
                        <p data-features-tabs-text="2" class="features-tabs-text features-tabs-text-anim">
                            Оплата коммунальных и дополнительных услуг управляющей компании
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="3" class="features-tabs-btn">Показания счетчиков</button>
                        <p data-features-tabs-text="3" class="features-tabs-text features-tabs-text-anim">
                            Создание разовых, временных и постоянныйх пропусков для ваших гостей
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="4" class="features-tabs-btn">Оформление пропусков</button>
                        <p data-features-tabs-text="4" class="features-tabs-text features-tabs-text-anim">
                            Отправляйте информацию в управляющую компанию из приложения
                        </p>
                    </li>
                    <li>
                        <button data-features-tabs-btn="5" class="features-tabs-btn">Создание заявок</button>
                        <p data-features-tabs-text="5" class="features-tabs-text features-tabs-text-anim">
                            Передавайте показания счетчиков из приложения для точного начисления ЖКУ
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
