<section class="mt-20 md1:mt-8">
    <div class="container">
        <div class="breadcrumbs">
            <svg class="breadcrumbs__icon">
                <use xlink:href="img/sprite.svg#house"></use>
            </svg>
            <ul class="breadcrumbs__list">
                <li class="breadcrumbs__item">
                    <a href="#">Главная</a>
                </li>
                <li class="breadcrumbs__item">
                    <span>Новости</span>
                </li>
            </ul>
        </div>
        <div class="mt-10 md1:mt-8">
            <h1 class="title-2 mb-6 md1:mb-5">Мобильное приложение собственника</h1>
            <time datetime="2022-12-13" class="text-grayDark font-medium">13.12.2022</time>
            <div class="mt-[50px] md1:mt-8 text-paragraph-2 news-page-content">
                <p>
                    По инициативе собственника помещения в многоквартирном доме по адресу: Московская обл., г. Королёв, ул. Пионерская, д. 13, корп.
                    5, Бояринцевой Евгении Владимировны (собственник кв. 418), будет проводиться внеочередное общее собрание собственников помещений в
                    Многоквартирном доме по адресу: Московская обл., г. Королёв, ул. Пионерская, д. 13, корп. 5 (далее – Многоквартирный дом).
                    <br />
                    Дата проведения очной части Общего собрания: «28» ноября 2025 г.
                    <br />
                    Время проведения очной части Общего собрания: 19 часов 30 минут.
                    <br />
                    Место проведения очной части Общего собрания: во дворе многоквартирного дома по адресу: Московская обл., г. Королёв, ул.
                    Пионерская, д. 13, корп. 5, у подъезда № 3.
                    <br />
                    Форма проведения внеочередного Общего собрания: очно-заочное голосование.
                    <br />
                    Период проведения общего собрания: с 19 часов 30 минут «28» ноября 2025 г. по 22 часа 00 минут «11» февраля 2026 г.
                    <br />
                    Дата и время окончания приёма решений Собственников по вопросам, поставленным на голосование: 22 часа 00 минут «11» февраля 2026
                    г.
                    <br />
                    Место (адрес), куда должны передаваться заполненные решения Собственников: инициатору собрания лично либо его представителю.
                    <br />
                    ПОВЕСТКА ДНЯ ОБЩЕГО СОБРАНИЯ:
                    <br />
                    1. Об избрании председателя и секретаря внеочередного общего собрания собственников помещений в Многоквартирном доме.
                    <br />

                    2. Об избрании счетной комиссии.
                    <br />
                    3. Признать невыполнение управляющей организацией Общество с ограниченной ответственностью «БЛЕСК-СЕРВИС» (ОГРН 1125018002185, ИНН
                    5018150550) условий договора управления Многоквартирным домом.
                    <br />
                    4. О расторжении договора управления Многоквартирным домом с управляющей организацией Общество с ограниченной ответственностью
                    «БЛЕСК-СЕРВИС» (ОГРН 1125018002185, ИНН 5018150550).
                    <br />
                    5. О выборе уполномоченного лица для направления в Общество с ограниченной ответственностью «БЛЕСК-СЕРВИС» (ОГРН 1125018002185,
                    ИНН 5018150550) уведомления о принятом решении.
                    <br />
                    6. О выборе в качестве управляющей организации Многоквартирным домом Общества с ограниченной ответственностью «М-ПРОПЕРТИ» (ОГРН
                    1157746533636, ИНН 7707343580).
                    <br />
                    7. Об утверждении условий договора управления Многоквартирным домом и заключении договора управления Многоквартирным домом с
                    управляющей организацией Общество с ограниченной ответственностью «М-ПРОПЕРТИ» (ОГРН 1157746533636, ИНН 7707343580) на
                    утвержденных условиях сроком на 1 год.
                    <br />
                    8. Об утверждении перечня обязательных работ и (или) услуг по управлению Многоквартирным домом, услуг и работ по содержанию и
                    ремонту общего имущества в Многоквартирном доме и размера платы за них в соответствии со ставками, установленными Администрацией
                    городского округа Королёв Московской области.
                    <br />
                    9. Об утверждении дополнительной услуги «Консьерж» для собственников жилых помещений Многоквартирного дома и платы за неё в
                    размере 750,00 руб. с квартиры в мес.
                </p>
            </div>
            <div class="mt-20 md1:mt-12">
                <h2 class="title-2">Файлы</h2>
                <ul class="mt-[50px] md1:mt-8 faq faq--default w-full flex flex-col gap-4">
                    <li class="faq__item">
                        <a href="https://pdfobject.com/pdf/sample.pdf" target="_blank" class="faq__btn">
                            <div class="flex items-center gap-3">
                                <svg class="w-25 h-25 text-purpleSecond">
                                    <use xlink:href="img/sprite.svg#file-text"></use>
                                </svg>
                                <h3 class="title-5">График.pdf</h3>
                            </div>
                            <svg class="ml-3 faq__arrow">
                                <use xlink:href="img/sprite.svg#download"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
