<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Что входит в стоимость</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-4 gap-y-5 md2:grid-cols-1 md1:gap-4">
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Личный кабинет собственника</h4>
            </div>
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Раскрытие информации о компании</h4>
            </div>
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Раздел для публикации документов</h4>
            </div>
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Фотогалерея</h4>
            </div>
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Оплата ЖКУ на сайте</h4>
            </div>
            <div class="features-item-link features-item-link--border">
                <svg class="features-item-link__icon" stroke="none">
                    <use xlink:href="img/sprite.svg#circle-check"></use>
                </svg>
                <h4 class="title-4-5">Интеграция с системой учета 1С</h4>
            </div>
        </div>
        <button
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350"
            class="btn btn-primary btn-s-default md3:w-full w-max mt-20 md1:mt-8 mx-auto">Заказать сайт</button>
    </div>
</section>
