<section class="mt-[50px] md1:mt-0 md1:bg-blueLightest rounded-b-3xl">
    <div class="container-desktop">
        <div
            class="bg-[#191919] rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none gap-12 overflow-hidden md1:gap-10 md1:pb-0 md1:px-0">
            <div class="flex flex-col flex-grow md1:px-6">
                <h1 class="title-1 text-white">
                    Готовый сайт <br class="md1:hidden" />
                    управляющей <br class="md1:hidden" />
                    компании
                </h1>
                <p class="mt-6 text-white text-paragraph">Бесплатное подключение за 24 часа</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Заказать сайт
                        </button>
                    </div>
                </div>
            </div>
            <picture class="md1:self-end absolute md1:relative bottom-0 right-0">
                <source srcset="./img/website-for-uk-banner.webp" type="image/webp" />
                <img loading="lazy" src="./img/website-for-uk-banner.png" width="571" height="451" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container-desktop !mt-6 md1:!mt-0">
        <div class="mmd1:bg-blueLightest px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:rounded-none md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Полное соответсвие тербованиям ЖКХ и&nbsp;ГИС</h3>
                <p class="leading-[1.875] text-black">Своевременно предоставляйте собвственникам сведения о&nbsp;работе&nbsp;УК</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Без подрядчиков и&nbsp;дизайнеров</h3>
                <p class="leading-[1.875] text-black">Готовое современное решение, вместо дорогой разработки</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">
                    Быстрый запуск и <br class="md1:hidden" />
                    &nbsp;поддержка
                </h3>
                <p class="leading-[1.875] text-black">Запуск сайта за&nbsp;24&nbsp;часа, поддержка и&nbsp;обновления включены</p>
            </div>
        </div>
    </div>
</section>
