<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Примеры готовых шаблонов</h2>
        <p class="mt-6 md1:mt-4 text-paragraph">На сайте будет размещена вся необходимая информация для собственнов и арендаторов</p>
        <div class="mt-28 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <div class="border-[3px] border-solid border-[#f3f4f7] p-[10px] md1:p-1.5 rounded-32 md1:rounded-3xl flex-center-all">
                <picture>
                    <source srcset="./img/product-solutions-banner-1.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/product-solutions-banner-1.png"
                        width="563"
                        height="381"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <div class="border-[3px] border-solid border-[#f3f4f7] p-[10px] md1:p-1.5 rounded-32 md1:rounded-3xl flex-center-all">
                <picture>
                    <source srcset="./img/product-solutions-banner-2.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/product-solutions-banner-2.png"
                        width="563"
                        height="381"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
