<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-5 mb-6">Выберите идеальный тариф</h2>
        <p class="text-paragraph">Скидка&nbsp;50% на&nbsp;первый месяц или три месяца бесплано при переходе от&nbsp;других сервисов.</p>
        <div class="mt-20 grid grid-cols-2 gap-6 md1:mt-8 md2:grid-cols-1 md1:gap-4">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый шаблон</span>
                <h3 class="title-3 product-card-tariff__title">2499 ₽ в месяц</h3>
                <p class="product-card-tariff__descr">Входит весь перечень услуг обновления и поддержка</p>
                <h4 class="text-paragraph product-card-tariff__price">15 тыс. ₽ в год</h4>
                <p class="product-card-tariff__price-descr">При единовременной оплате за период 1 год</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
                <ul class="product-card-tariff__info">
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Всё из тарифа «Базовый»</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Расширенная структура сайта</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Индивидуальная настройка дизайна</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Дополнительные формы и разделы</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Масшабировние</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Перенос контента</span>
                    </li>
                </ul>
            </div>
            <div class="product-card-tariff product-card-tariff--text-white product-card-tariff--purple">
                <span class="product-card-tariff__mode">Индивидуальный</span>
                <h3 class="title-3 product-card-tariff__title">2499 ₽ в месяц</h3>
                <p class="product-card-tariff__descr">Входит весь перечень услуг обновления и поддержка</p>
                <h4 class="text-paragraph product-card-tariff__price">Дизайн от 10 тыс. ₽</h4>
                <p class="product-card-tariff__price-descr">Единоразовая оплата</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-secondary btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
                <ul class="product-card-tariff__info">
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Готовый сайт для УК</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Формы обратной связи</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Хостинг и техническое обслуживание</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Адаптация под мобильные устройства</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Резервные копии</span>
                    </li>
                    <li class="product-card-tariff__info-item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Регулярные бновления</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
