<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">Выберите подходящий тариф</h2>
        <div class="grid grid-cols-3 gap-5 md1:gap-4 md1:mt-8 md1:grid-cols-2 md2:grid-cols-1">
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Индивидуальный</span>
                <h3 class="title-3 product-card-tariff__title !mb-8">по запросу</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Всё из тарифа «Базовый»</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Расширенная структура сайта</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Индивидуальный дизайн</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Мобильное приложения</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Онлайн-оплата на сайте</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Модуль интеграции с 1С</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подробнее
                    </button>
                </div>
            </div>
            <div class="product-card-tariff">
                <span class="product-card-tariff__mode">Базовый</span>
                <h3 class="title-3 product-card-tariff__title !mb-8">от 2100₽ в месяц</h3>
                <ul class="product-card-tariff__info !mt-0">
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Готовый сайт для УК</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Формы обратной связи</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Хостинг и тех. обслуживание</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Адаптация под мобильные устройства</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Резервные копии</span>
                    </li>
                    <li class="product-card-tariff__info-item product-card-tariff__info-item--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                        </svg>
                        <span>Обновления и тех. поддержка</span>
                    </li>
                </ul>
                <div class="mt-auto">
                    <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>

            <div class="product-card-tariff !bg-blueLightest">
                <h3 class="title-4-5 !leading-[1.56]">
                    Берём на&nbsp;себя запуск и&nbsp;настройку&nbsp;— вы&nbsp;получаете готовый инструмент для работы с&nbsp;жителями
                    за&nbsp;1&nbsp;день
                </h3>

                <div class="mt-16 md1:mt-10 flex flex-col">
                    <picture>
                        <source srcset="./img/avatar-6.webp" type="image/webp">
                        <img loading="lazy" src="./img/avatar-6.png" width="50" height="50" alt="Фото Марии">
                    </picture>
                    <p class="mt-5 text-paragraph-2 !font-bold cut cut-1">Мария</p>
                    <p class="mt-1 font-medium leading-[1.24] text-[14px]">
                        Руководитель отдела продаж <br class="md1:hidden">
                        “КАК ДОМА”
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
