<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">
            Запустите сайт управляющей <br class="md1:hidden" />
            компании уже сегодня
        </h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blueLight mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#image"></use>
                    </svg>
                </div>
                <h4 class="title-4">Легко обновлять</h4>
                <p class="mt-5 leading-normal text-grayDark">
                    Приложение может работать автономно, без доступа к&nbsp;сети интернет в&nbsp;изолированных помещениях и&nbsp;при отключениях
                </p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blueLight mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#check-circle"></use>
                    </svg>
                </div>
                <h4 class="title-4">Постоянная поддержка</h4>
                <p class="mt-5 leading-normal text-grayDark">
                    Контроль нахождения на&nbsp;обьекте, определение границ объекта, контроль визитов и&nbsp;времени работы
                </p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blueLight mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#file-text"></use>
                    </svg>
                </div>
                <h4 class="title-4">Быстрое подключение</h4>
                <p class="mt-5 leading-normal text-grayDark">
                    Приложение может работать автономно, без доступа к&nbsp;сети интернет в&nbsp;изолированных помещениях и&nbsp;при отключениях
                </p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blueLight mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#file-plus"></use>
                    </svg>
                </div>
                <h4 class="title-4">Выгодные условия</h4>
                <p class="mt-5 leading-normal text-grayDark">
                    Контроль нахождения на&nbsp;обьекте, определение границ объекта, контроль визитов и&nbsp;времени работы
                </p>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Оставить заявку
        </button>
    </div>
</section>
