<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Ключевые преимущества?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Контроль въезда и&nbsp;выезда транспортных средств</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Учет перемещения транспортных средств</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Контроль размещения транспорта и&nbsp;парковочных мест</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Управление доступом сотрудников и&nbsp;подрядчиков</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Фото и&nbsp;видео фиксация событий на&nbsp;территории</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex flex-col">
                <h4 class="title-4">Снижение операционных затрат и&nbsp;отчетность</h4>
            </article>
        </div>
    </div>
</section>
