<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Кому подходит сервис?</h2>
        <div class="mt-20 md1:mt-8 flex items-center gap-[10px] flex-wrap max-w-[1100px]">
            <div class="tag tag-four tag-big-lg">Коттеджные посёлки</div>
            <div class="tag tag-four tag-big-lg">Жилые комплексы</div>
            <div class="tag tag-four tag-big-lg">Бизнес-центры</div>
            <div class="tag tag-four tag-big-lg">Логистические и складские комплексы</div>
            <div class="tag tag-four tag-big-lg">Отели</div>
            <div class="tag tag-four tag-big-lg">Парковки и стоянки</div>
            <div class="tag tag-four tag-big-lg">Строительные площадки</div>
            <div class="tag tag-four tag-big-lg">Производственные компании</div>
        </div>
    </div>
</section>
