<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Система контроля доступа</h2>

        <div class="mt-20 md1:mt-8">
            <div class="grid grid-cols-2 gap-5 md1:gap-4 md3:grid-cols-1">
                <div
                    class="bg-grayTwo rounded-32 px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex flex-col gap-12 relative overflow-hidden md1:gap-8">
                    <div class="mmd1:max-w-[513px] flex flex-col flex-grow">
                        <h2 class="title-4">Автоматизация прохода</h2>
                        <p class="mt-6 md1:mt-5 leading-normal text-grayDark">
                            Системы контроля и&nbsp;управления доступом со&nbsp;считывателями (QR-кодов, PIN-кодов, NFC-карт, BLE-ключей).
                        </p>
                    </div>

                    <picture class="self-end md1:self-center mmd1:-mr-[16px]">
                        <source srcset="./img/bureau-of-passes.webp" type="image/webp" />
                        <img loading="lazy" src="./img/bureau-of-passes.png" width="255" height="205" alt="" role="presentation" aria-hidden="true" />
                    </picture>
                </div>
                <div
                    class="bg-grayTwo rounded-32 px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex flex-col gap-12 relative overflow-hidden md1:gap-8">
                    <div class="mmd1:max-w-[513px] flex flex-col flex-grow">
                        <h2 class="title-4">Автоматизация проезда</h2>
                        <p class="mt-6 md1:mt-5 leading-normal text-grayDark">
                            Доступ жителей и&nbsp;гостей на&nbsp;территорию коттеджного поселка можно организовать при помощи системы распознавания
                            автомобильных номеров
                        </p>
                    </div>

                    <picture class="self-end md1:self-center mmd1:-mr-[16px]">
                        <source srcset="./img/barrier-access.webp" type="image/webp" />
                        <img loading="lazy" src="./img/barrier-access.png" width="219" height="170" alt="" role="presentation" aria-hidden="true" />
                    </picture>
                </div>
            </div>
            <div class="mt-20 md1:mt-8 grid grid-cols-4 gap-5 md1:gap-4 md1:grid-cols-2 md3:grid-cols-1">
                <article class="info-card">
                    <div class="info-card__icon info-card__icon--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#barrier"></use>
                        </svg>
                    </div>
                    <h3 class="title-4 info-card__title">Шлагбаумы</h3>
                    <p class="info-card__descr">Оборудованные&nbsp;камерами, контроллерами,&nbsp;датчиками</p>
                </article>
                <article class="info-card">
                    <div class="info-card__icon info-card__icon--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#door"></use>
                        </svg>
                    </div>
                    <h3 class="title-4 info-card__title">Двери и калитки</h3>
                    <p class="info-card__descr">С&nbsp;различными видами считывателей</p>
                </article>
                <article class="info-card">
                    <div class="info-card__icon info-card__icon--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#turnstiles"></use>
                        </svg>
                    </div>
                    <h3 class="title-4 info-card__title">Турникеты</h3>
                    <p class="info-card__descr">Оборудованные&nbsp;камерами, контроллерами,&nbsp;датчиками</p>
                </article>
                <article class="info-card">
                    <div class="info-card__icon info-card__icon--dark">
                        <svg>
                            <use xlink:href="img/sprite.svg#gates"></use>
                        </svg>
                    </div>
                    <h3 class="title-4 info-card__title">Ворота</h3>
                    <p class="info-card__descr">Любых видов, рольставни, откатные и&nbsp;другие</p>
                </article>
            </div>
        </div>
    </div>
</section>
