<section class="mt-[160px] md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Нужно&nbsp;ли менять установленное оборудование</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Нет. Чаще всего мы&nbsp;адаптируем ваше оборудование для работы с&nbsp;системой распознавания и&nbsp;электронным журналом
                            .
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Есть&nbsp;ли ограничения по&nbsp;установке</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Нет. Сейчас в&nbsp;90% случаев, установленное оборудование поддерживает соременные системы удаленного доступа.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Разграничение потока на&nbsp;несколько КПП</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да. Если у&nbsp;вас несколько КПП, вы&nbsp;можете направить легковой транспорт через основной вьезд,а вывоз мустора
                            организовать через дополнительный.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">У&nbsp;нас уже установлена подобная система, как переключиться на&nbsp;ваш электронный журнал</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Благодаря наличию API, мы&nbsp;можем управлять любым оборудованием, которое управляется контроллерами и&nbsp;напрямую.</p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Оставить заявку
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Осуществляете&nbsp;ли вы&nbsp;монтаж оборудования</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Мы&nbsp;пользуемся услугами профессиональной команды монтажников. Предоставляем гарантию на&nbsp;выполненные работы
                            и&nbsp;осуществляем техническое обслуживание.
                        </p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Оставить заявку
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можете&nbsp;ли вы&nbsp;провести аудит нашего оборудования</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. При первичном осмотре определим степень износа и&nbsp;при необходимости произведем ремонт вашего оборудования.</p>
                    </div>
                </li>
                <li class="faq__item faq__item--green">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можете&nbsp;ли вы&nbsp;взять на&nbsp;обслуживание наше оборудование без подключения к&nbsp;системе</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да. Мы&nbsp;знаем, что очень важно иметь профессиональную команду сервисных инженеров, которые оперативно отреагируют
                            на&nbsp;возможные неисправности.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
