<section class="mt-[50px] md1:mt-0 md1:bg-grayTwo mmd1:rounded-b-3xl" id="hero-block">
    <div class="container-desktop">
        <div
            class="bg-gray rounded-primary md1:rounded-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex relative md1:gap-10 md1:flex-col mmd1:overflow-hidden">
            <div class="mmd1:max-w-[687px] flex flex-col flex-grow">
                <h1 class="title-1-25">Система управления коттеджным <span class="text-purpleSecond">поселком</span></h1>
                <p class="mt-6 text-paragraph">Создавайте безопасные и комфортные условий для жизни.</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Оставить заявку
                        </button>
                    </div>
                </div>
            </div>

            <picture>
                <source srcset="./img/cottage.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/cottage.png"
                    class="absolute md1:relative bottom-0 md1:-bottom-[0.5px] -right-2"
                    width="531"
                    height="449"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container-desktop !mt-5 md1:!-mt-2 relative">
        <div
            class="px-14 py-[54px] pb-[46px] grid grid-cols-4 gap-5 rounded-primary md1:grid-cols-1 md1:p-6 mmd1:border mmd1:border-solid mmd1:border-[#8e8e96]">
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Увеличение ценности ваших объектов</h3>
                <p class="text-grayDark leading-[1.875]">
                    Благодаря внедрению <br class="md1:hidden" />
                    элементов автоматизации
                </p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Актуальная база собственников</h3>
                <p class="text-grayDark leading-[1.875]">Имейте всегда под рукой актуальный реестр</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Доверительные отношения с&nbsp;жителями</h3>
                <p class="text-grayDark leading-[1.875]">
                    Прозрачность и&nbsp;качество <br class="md1:hidden" />
                    сервиса укрепляют доверие
                </p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Снижение дебиторской задолженности</h3>
                <p class="text-grayDark leading-[1.875]">За&nbsp;счет сервиса уведомлений, и&nbsp;возможности оплаты онлайн</p>
            </div>
        </div>
    </div>
</section>
