.btn {
    transition: all $transitionSpeed $transitionFunction;
    @apply flex-center-all font-medium rounded-[20px] px-8;
}

.btn-primary {
    @apply bg-black text-white;

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-darkPressed;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-darkPressed;
        }
    }
}

.btn-secondary {
    @apply bg-white text-black;

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-darkPressed text-white;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-darkPressed text-white;
        }
    }
}

.btn-third {
    @apply bg-green text-white;

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-darkPressed;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-darkPressed;
        }
    }
}

.btn-four {
    @apply bg-[#323232] border border-solid border-white text-white;

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-darkPressed;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-darkPressed;
        }
    }
}

.btn-five {
    @apply border-[1.5px] border-solid text-black border-black;

    &.btn-five--white {
        @apply bg-white;
    }
    &.btn-five--white-border {
        @apply text-white border-white;
    }

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-darkPressed text-white border-darkPressed;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-darkPressed text-white border-darkPressed;
        }
    }
}

.btn-green {
    @apply bg-greenLight text-white;

    @media (min-width: $desktop-min) {
        &:hover {
            @apply bg-white text-darkPressed;
        }
    }
    @media (max-width: $desktop) {
        &:active {
            @apply bg-white text-darkPressed;
        }
    }
}

.btn-s-small {
    @apply h-[51px];
}

.btn-s-default {
    @apply h-[56px];
}

.btn-s-big {
    @apply h-[60px];
}
