.checkbox {
    position: relative;
    --size: 22px;
    --size-inner: 16px;
    --color: var(--black);

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + .checkbox__label .checkbox__mark-check {
            transform: scale(1);
        }

        &.just-validate-error-field {
            + .checkbox__label {
                .checkbox__mark {
                    border-color: var(--red);
                }
                .checkbox__text {
                    color: var(--red);
                }
            }
        }
    }

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__mark {
        flex: 0 0 var(--size);
        width: var(--size);
        height: var(--size);
        border: 1px solid var(--color);
        border-radius: 5px;
        transition: border $transitionSpeed $transitionFunction;

        @apply flex-center-all;
    }

    &__mark-check {
        background-color: var(--color);
        flex: 0 0 var(--size-inner);
        width: var(--size-inner);
        height: var(--size-inner);
        border-radius: 5px;
        transform: scale(0);
        transition: transform $transitionSpeed $transitionFunction;
    }

    &__text {
        color: var(--color);
        transition: color $transitionSpeed $transitionFunction;

        @apply text-[14px] font-medium leading-[1.35] ml-5;
        a {
            @apply underline font-medium;
            &:hover {
                color: var(--blue);
            }
        }
        @media (max-width: $desktop) {
            @apply ml-4;
        }
    }

    .just-validate-error-label {
        display: none;
    }
}

.checkbox-gray {
    --color: #aaa;
}
