.checkbox {
    position: relative;
    --size: 22px;
    --size-inner: 20px;
    --color: var(--black);
    user-select: none;

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;

        &:checked + .checkbox__label {
            .checkbox__mark {
                background-color: var(--hover-primary);
                border-color: var(--hover-primary);
            }
            .checkbox__mark-check {
                visibility: visible;
                opacity: 1;
            }
        }

        &.just-validate-error-field {
            + .checkbox__label {
                .checkbox__mark {
                    border-color: var(--red);
                }
                .checkbox__text {
                    color: var(--red);
                }
            }
        }
    }

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__mark {
        flex: 0 0 var(--size);
        width: var(--size);
        height: var(--size);
        border: 1px solid var(--color);
        border-radius: 5px;
        transition: all $transitionSpeed $transitionFunction;

        @apply flex-center-all;
    }

    &__mark-check {
        flex: 0 0 var(--size-inner);
        width: var(--size-inner);
        height: var(--size-inner);
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: 0;
        visibility: hidden;
    }

    &__text {
        color: var(--color);
        transition: color $transitionSpeed $transitionFunction;

        @apply text-[14px] font-medium leading-[1.35] ml-5;
        a {
            @apply underline font-medium;
            &:hover {
                color: var(--hover-primary);
            }
        }
        @media (max-width: $desktop) {
            @apply ml-4;
        }
    }

    .just-validate-error-label {
        display: none;
    }
}

.checkbox-gray {
    --color: #aaa;
}
