.form-input {
    @apply block;
    .just-validate-error-label {
        color: var(--red) !important;
        @apply block font-medium mt-2 ml-2;
    }
}

.input {
    @apply px-7 leading-[1.4] text-[16px] font-medium w-full;
    &::placeholder {
        @apply text-grayLight;
    }
}

.input-primary {
    @apply border border-[#babcd1] border-solid text-black;
}

.input-secondary {
    @apply bg-white text-black;
}

.input-s-default {
    @apply h-[56px] rounded-20;
}

.input-s-big {
    @apply h-[60px] rounded-20;
}

.input-s-veryBig {
    @apply h-[65px] rounded-20 text-[18px];
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/* Для Internet Explorer */
input[type="search"]::-ms-clear {
    display: none;
}
