.tag {
    @apply flex-center-all rounded-[55px] h-[54px] px-5 md1:rounded-3xl md1:h-[38px] md1:px-4 md1:text-[14px] font-medium;
}

.tag-primary {
    @apply text-white;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.2);
}

.tag-secondary {
    @apply bg-white text-black border border-solid border-black;
}

.tag-three {
    @apply text-black border border-solid border-[currentColor] w-max font-medium;
}

.tag-four {
    @apply text-white bg-black w-max font-medium;
}

.tag-big {
    @apply h-[70px] md1:h-[50px];
}
.tag-big-lg {
    @apply h-[70px] md1:h-[50px] px-8;
}

.tag-small {
    @apply h-[34px] px-4;
}
