<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Дополнительные услуги и сервисы</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 mmd1:pr-8 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--dark mb-12 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#headset"></use>
                    </svg>
                </div>
                <h4 class="title-4">Диспетчеризация шлагбаумов</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Принимаем звонки с вызывных панелей шлагбаумов и контролируем доступ на территорию гостей и спецтранспорта
                </p>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--dark mb-12 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#headset"></use>
                    </svg>
                </div>
                <h4 class="title-4">Техническое обслуживание</h4>
                <p class="mt-5 leading-normal text-grayDark font-medium">
                    Регулярное плановое обслуживание и&nbsp;срочный ремонт шлагбаумов всех видов
                </p>
            </article>
        </div>
    </div>
</section>
