<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Сервисы атоматизации КПП</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3 mb-20 md1:mb-12">Мобильное бюро пропусков</h4>

                <picture class="self-center mt-auto">
                    <source srcset="./img/product-solutions-image-2.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/product-solutions-image-2.png"
                        width="484"
                        height="415"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-[#EDECFC] rounded-32 md1:rounded-3xl pt-10 pl-10 md1:pt-6 md1:pl-6 flex flex-col">
                <h4 class="title-3 mb-20 md1:mb-12">Личный кабинет и журнал событий</h4>

                <picture class="self-end mt-auto">
                    <source srcset="./img/automation-gearboxes.webp" type="image/webp" />
                    <img loading="lazy" src="./img/automation-gearboxes.png" width="496" height="416" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Отправить заявку
        </button>
    </div>
</section>
