<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Варианты установки</h2>
        <div class="mt-20 md1:mt-8 flex items-center gap-[10px] flex-wrap max-w-[1100px]">
            <div class="tag tag-four tag-big-lg">Дворы жилых домов</div>
            <div class="tag tag-four tag-big-lg">Офисные парковки</div>
            <div class="tag tag-four tag-big-lg">Общественные парковки</div>
            <div class="tag tag-four tag-big-lg">Логистические комплексы</div>
            <div class="tag tag-four tag-big-lg">Складские комплексы</div>
            <div class="tag tag-four tag-big-lg">Школы</div>
            <div class="tag tag-four tag-big-lg">Медицинские учреждения</div>
            <div class="tag tag-four tag-big-lg">⚡️ Индивидуальная доработка под ваш объект</div>
        </div>
    </div>
</section>
