<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class='md1:hidden' />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-4">
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Что такое экосистема сервисов для ЖКХ?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Это единая цифровая платформа, которая объединяет собственников, управляющие компании и подрядчиков в одной системе. Все ключевые процессы, от заявок до онлайн-платежей,  работают согласованно и прозрачно.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Кому подходит?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Сервис подходит управляющим компаниям, застройщикам и девелоперам. Каждый  использует масшабируемый набор удобных инструментов.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие задачи решает экосистема?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Экосистема помогает принимать и обрабатывать заявки от жителей, автоматизирует работу диспетчерской, ведет учёт и контроль плановых работ, улучшает коммуникацию, повышает прозрачность и качество сервиса управляющей компании.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Из каких сервисов состоит экосистема?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Экосистема включает взаимосвязанные сервисы:<br/>- мобильное приложение собственника,<br/>- мобильное приложение сервисной службы,<br/>- web-версия личного кабинета собственника,<br/>- CRM-система управляющей компании,<br/>- сайт управляющей компании,<br/>и другие полезные сервисы , которые можно подключать поэтапно.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно ли внедрять экосистему постепенно?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. Экосистема масштабируемая — вы можете начать с одного сервиса и подключать остальные по мере необходимости, без остановки текущей работы.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Насколько сложно внедрение?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Внедрение проходит быстро и без остановки текущей работы. Команда КАК ДОМА берёт на себя настройку, обучение и сопровождение.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Возможна ли адаптация под конкретный объект?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да. Экосистема гибко настраивается под особенности объекта, жилого комплекса или индивидуальные процессы управляющей компании.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как начать пользоваться?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Оставьте заявку на сайте, и мы подберём оптимальную конфигурацию сервисов под ваши задачи и формат управления.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
