<section class="mt-[128px] md1:mt-20">
    <div class="container">
        <div class="border border-solid border-[#d4e3fb] rounded-primary pt-[60px] pb-11 px-11 md1:p-8">
            <h2 class="title-2">Дополнительные <span class="text-lightBlue">направления и сервисы</span></h2>
            <div class="mt-[51px] md1:8 flex gap-20 md1:flex-col">
                <div class="mmd1:w-[500px]">
                    <div class="features-item">
                        <div class="title-4 features-item__title">Готовый сайт УК</div>
                        <p class="features-item__descr">Полноценный уже готовый сайт, всего за 24 часа</p>
                    </div>
                    <div class="features-item">
                        <div class="title-4 features-item__title">Магазин платных услуг</div>
                        <p class="features-item__descr">Возможности предлагать собственные платные услуги</p>
                    </div>
                    <div class="features-item">
                        <div class="title-4 features-item__title">Аварийно-диспетчерская служба</div>
                        <p class="features-item__descr">Круглосуточный прием обращения от собственников</p>
                    </div>
                </div>
                <div class="mmd1:w-[500px]">
                    <div class="features-item">
                        <div class="title-4 features-item__title">Отслеживание заявок ЕДС</div>
                        <p class="features-item__descr">Круглосуточный мониторинг и прием в работу заявок</p>
                    </div>
                    <div class="features-item">
                        <div class="title-4 features-item__title">Охрана и заказ пропусков</div>
                        <p class="features-item__descr">CRM для сотрудников охраны на КПП</p>
                    </div>
                    <div class="features-item">
                        <div class="title-4 features-item__title">Управление в меседжерах</div>
                        <p class="features-item__descr">Подача заявок, оформления пропусков в меседжере</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
