<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">
            Дополнительные <br class="md1:hidden" />
            направления и&nbsp;сервисы
        </h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-4 gap-y-5 md3:grid-cols-1">
            <a href="#" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--stroke" stroke="none">
                    <use xlink:href="img/sprite.svg#monitor"></use>
                </svg>
                <h4 class="title-4-5">Готовый сайт управляющей компании</h4>
            </a>
            <a href="/cloud-pass-service" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--stroke">
                    <use xlink:href="img/sprite.svg#shield"></use>
                </svg>
                <h4 class="title-4-5">Мобильное бюро пропусков</h4>
            </a>
            <a href="#" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--stroke">
                    <use xlink:href="img/sprite.svg#shopping-cart"></use>
                </svg>
                <h4 class="title-4-5">Магазин платных услуг</h4>
            </a>
            <a href="#" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--stroke">
                    <use xlink:href="img/sprite.svg#message-square"></use>
                </svg>
                <h4 class="title-4-5">Управление в меседжерах</h4>
            </a>
            <a href="/ads" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--fill">
                    <use xlink:href="img/sprite.svg#headset"></use>
                </svg>
                <h4 class="title-4-5">Аварийно-диспетчерская служба</h4>
            </a>
            <a href="#" class="features-item-link">
                <svg class="features-item-link__icon features-item-link__icon--stroke">
                    <use xlink:href="img/sprite.svg#users"></use>
                </svg>
                <h4 class="title-4-5">Личный кабинет собственника</h4>
            </a>
        </div>
    </div>
</section>
