<section class="mt-[50px] md1:mt-0 md1:bg-grayTwo rounded-b-3xl" id="hero-block">
    <div class="container-desktop flex gap-6 md1:flex-col md1:gap-3">
        <div class="h-full flex-grow">
            <div
                class="bg-lightBlue rounded-primary py-[54px] px-14 md1:p-0 mmd1:min-h-[488px] md1:min-h-[520px] relative md1:rounded-none flex flex-col overflow-hidden">
                <div class="relative z-20 md1:flex md1:flex-col md1:flex-grow md1:px-6 md1:pt-6 md1:pb-16">
                    <h1 class="title-1 text-white">
                        Экосистема <br class="md1:hidden" />
                        сервисов для ЖКХ
                    </h1>
                    <p class="mt-6 text-white text-paragraph">
                        Онлайн-платформа, мобильное приложение собственника, <br class="md1:hidden" />
                        мобильное приложение исполнителеля, сайт для УК, ГИС ЖКХ
                    </p>
                    <div class="mmd1:hidden mt-8 flex flex-wrap gap-2">
                        <div class="tag tag-primary">Мобильные приложение</div>
                        <div class="tag tag-primary">CRM-система</div>
                        <div class="tag tag-primary">Готовый сайт УК</div>
                        <div class="tag tag-primary">Магазин платный услуг</div>
                    </div>
                    <div class="mt-auto md1:hidden">
                        <div class="mt-[76px] flex gap-3">
                            <button
                                data-graph-path="create-bid"
                                data-graph-animation="fadeInUp"
                                data-graph-speed="350"
                                class="btn btn-secondary btn-s-default">
                                Подключить
                            </button>
                            <a href="https://crm.kakdoma.life/" class="btn btn-five btn-five--white-border btn-s-default">Демо доступ</a>
                        </div>
                    </div>
                    <div class="mmd1:hidden mt-[14%] flex flex-col gap-3">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Оставить заявку
                        </button>
                    </div>
                </div>
                <div class="mmd1:hidden -bottom-[20.5%] absolute right-0 z-10 md1:w-3/4 md2:w-full">
                    <picture>
                        <source srcset="./img/hero-banner-1.webp" type="image/webp" />
                        <img loading="lazy" src="./img/hero-banner-1.png" class="w-full" width="416" height="488" alt="Экосистема сервисов для ЖКХ" />
                    </picture>
                </div>
            </div>
        </div>
        <div class="mmd1:w-[416px] flex-shrink-0 relative md1:hidden">
            <div class="swiper h-full" id="swiper-banner">
                <div class="swiper-wrapper h-full items-stretch min-h-[450px]">
                    <div class="swiper-slide h-full md1:h-auto">
                        <div class="banner-slide banner-slide--parallax h-full" style="background-color: #e8eef5">
                            <div class="banner-slide__parallax banner-parallax">
                                <div data-depth="0.25" class="parallax-layer" style="padding: 168px 0 0 64px">
                                    <div
                                        class="flex-center-all gap-5 bg-[#f7f7f7] shadow-[0_22px_58px_0_rgba(137,121,104,0.2)] h-[72px] px-6 rounded-[20px]">
                                        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.0001 37.3333C8.87458 37.3333 0.666748 29.1255 0.666748 19C0.666748 8.87449 8.87458 0.666656 19.0001 0.666656C29.1256 0.666656 37.3334 8.87449 37.3334 19C37.3334 29.1255 29.1256 37.3333 19.0001 37.3333ZM16.8422 22.9233L11.7731 17.8505L9.83342 19.7902L15.5516 25.512C15.8954 25.8557 16.3616 26.0488 16.8477 26.0488C17.3339 26.0488 17.8001 25.8557 18.1439 25.512L29.0559 14.6037L27.1089 12.6567L16.8422 22.9233Z"
                                                fill="#26AD50" />
                                        </svg>
                                        <div class="flex flex-col items-center text-center">
                                            <span class="text-[20px] text-[#141414] font-medium">+ 3500 ₽</span>
                                            <span class="mt-1 font-medium text-[9px] text-grayMedium">Оплата ЖКУ</span>
                                        </div>
                                    </div>
                                </div>
                                <div data-depth="0.3" class="parallax-layer" style="padding: 327px 0px 0px 157px">
                                    <div
                                        class="flex-center-all gap-4 bg-[#f7f7f7] shadow-[0_22px_58px_0_rgba(137,121,104,0.2)] h-[67px] px-5 rounded-[20px]">
                                        <svg width="37" height="37" viewBox="0 0 37 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M18.3333 36.6667C8.20783 36.6667 0 28.4588 0 18.3333C0 8.20783 8.20783 0 18.3333 0C28.4588 0 36.6667 8.20783 36.6667 18.3333C36.6667 28.4588 28.4588 36.6667 18.3333 36.6667Z"
                                                fill="#2C7EFF" />
                                            <path
                                                d="M20.314 12.529C20.1211 12.7257 20.0131 12.9902 20.0131 13.2656C20.0131 13.5411 20.1211 13.8056 20.314 14.0023L21.9977 15.686C22.1944 15.8789 22.4589 15.9869 22.7344 15.9869C23.0098 15.9869 23.2743 15.8789 23.471 15.686L27.4384 11.7187C27.9676 12.888 28.1278 14.1909 27.8977 15.4536C27.6677 16.7164 27.0582 17.879 26.1506 18.7866C25.243 19.6942 24.0804 20.3036 22.8177 20.5337C21.5549 20.7637 20.2521 20.6035 19.0827 20.0744L11.8109 27.3461C11.3923 27.7648 10.8245 28 10.2324 28C9.64032 28 9.0725 27.7648 8.65385 27.3461C8.2352 26.9275 8 26.3597 8 25.7676C8 25.1755 8.2352 24.6077 8.65385 24.1891L15.9256 16.9173C15.3965 15.7479 15.2363 14.4451 15.4663 13.1823C15.6964 11.9196 16.3058 10.757 17.2134 9.84937C18.121 8.94179 19.2836 8.33235 20.5464 8.10227C21.8091 7.8722 23.112 8.03242 24.2813 8.56158L20.3245 12.5184L20.314 12.529Z"
                                                fill="#2C7EFF"
                                                stroke="white"
                                                stroke-width="1.66667"
                                                stroke-linecap="round"
                                                stroke-linejoin="round" />
                                        </svg>
                                        <div class="flex flex-col items-center text-center">
                                            <span class="text-[15px] text-[#141414] font-medium">Новая заявка</span>
                                            <span class="mt-1 font-medium text-[9px] text-grayMedium">Исполнитель назначен</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/hero-banner-1_3.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/hero-banner-1_3.png"
                                    class="absolute bottom-0 right-0"
                                    width="416"
                                    height="488"
                                    alt="Аварийно-диспетчерская служба для управляющих компаний и ТСЖ" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div
                    class="absolute !bottom-[42px] !left-[42px] z-20 slider-pagination md1:!bottom-8 md1:!left-8"
                    id="swiper-banner-pagination"></div>
            </div>
        </div>
    </div>

    <div class="container-desktop !mt-6 md1:!mt-0">
        <div class="mmd1:bg-grayTwo px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:rounded-none md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Имидж современной управляющей компании</h3>
                <p class="leading-[1.875] text-grayDark">Цифровой сервис для собственников становится стандартом для УК</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Снижение дебиторской задолженности</h3>
                <p class="leading-[1.875] text-grayDark">За счёт автоматизации процессов и системы оповещений</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Доверительные отношения с жителями</h3>
                <p class="leading-[1.875] text-grayDark">Коммуникация и архив взаимодействия доступны в едином канале</p>
            </div>
        </div>
    </div>
</section>
