<section class="mt-[50px] md1:mt-4" id="hero-block">
    <div class="container-desktop flex gap-6 md1:flex-col md1:gap-3">
        <div class="h-full flex-grow">
            <div class="bg-lightBlue rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col">
                <h1 class="title-1 text-white">
                    Экосистема <br class="md1:hidden" />
                    сервисов для ЖКХ
                </h1>
                <p class="mt-6 text-white text-paragraph">
                    Онлайн-платформа, мобильное приложение собственника, <br class="md1:hidden" />
                    мобильное приложение исполнителеля, сайт для УК, ГИС ЖКХ
                </p>
                <div class="mt-auto">
                    <div class="mt-[76px] flex gap-3 md3:flex-col">
                        <button class="btn btn-secondary btn-s-default">Подключить</button>
                        <button class="btn btn-five btn-five--white-border btn-s-default">Демо доступ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mmd1:w-[416px] flex-shrink-0 relative">
            <div class="swiper h-full" id="swiper-banner">
                <div class="swiper-wrapper h-full items-stretch min-h-[450px]">
                    <div class="swiper-slide h-full md1:h-auto">
                        <div class="banner-slide h-full" style="background-color: var(--light-blue)">
                            <div
                                class="absolute top-[168px] left-[64px] z-10 flex-center-all gap-4 bg-[#f7f7f7] shadow-[0_22px_58px_0_rgba(137,121,104,0.2)] h-[72px] px-6 rounded-[20px]">
                                <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        fill-rule="evenodd"
                                        clip-rule="evenodd"
                                        d="M19.0001 37.3333C8.87458 37.3333 0.666748 29.1255 0.666748 19C0.666748 8.87449 8.87458 0.666656 19.0001 0.666656C29.1256 0.666656 37.3334 8.87449 37.3334 19C37.3334 29.1255 29.1256 37.3333 19.0001 37.3333ZM16.8422 22.9233L11.7731 17.8505L9.83342 19.7902L15.5516 25.512C15.8954 25.8557 16.3616 26.0488 16.8477 26.0488C17.3339 26.0488 17.8001 25.8557 18.1439 25.512L29.0559 14.6037L27.1089 12.6567L16.8422 22.9233Z"
                                        fill="#26AD50" />
                                </svg>
                                <div class="flex flex-col items-center text-center font-Inter">
                                    <span class="text-[20px] text-[#141414] font-medium">+ 3500 ₽</span>
                                    <span class="mt-1 font-medium text-[9px] text-[#6e6e6e]">Оплата ЖКУ</span>
                                </div>
                            </div>
                            <div
                                class="absolute bottom-[92px] right-[64px] z-10 flex-center-all gap-4 bg-[#f7f7f7] shadow-[0_22px_58px_0_rgba(137,121,104,0.2)] h-[72px] px-6 rounded-[20px]">
                                <picture>
                                    <source srcset="./img/avatar.webp" type="image/webp" />
                                    <img loading="lazy" src="./img/avatar.png" class="image" width="38" height="38" alt="Исполнитель" />
                                </picture>
                                <div class="flex flex-col items-center text-center font-Inter">
                                    <span class="text-[15px] text-[#141414] font-medium">Новая заявка</span>
                                    <span class="mt-1 font-medium text-[9px] text-[#6e6e6e]">Исполнитель назначен</span>
                                </div>
                            </div>
                            <picture>
                                <source srcset="./img/hero-banner-1.webp" type="image/webp" />
                                <img
                                    loading="lazy"
                                    src="./img/hero-banner-3.png"
                                    class="absolute bottom-0 right-0"
                                    width="416"
                                    height="488"
                                    alt="Аварийно-диспетчерская служба для управляющих компаний и ТСЖ" />
                            </picture>
                        </div>
                    </div>
                </div>
                <div
                    class="absolute !bottom-[42px] !left-[42px] z-20 slider-pagination md1:!bottom-8 md1:!left-8"
                    id="swiper-banner-pagination"></div>
            </div>
        </div>
    </div>
    <div class="container-desktop !mt-6">
        <div class="bg-grayTwo px-14 py-[54px] pb-[46px] grid grid-cols-3 gap-10 rounded-primary md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Имидж современной управляющей компании</h3>
                <p class="leading-[1.875] text-grayDark">Цифровой сервис для собственников становится стандартом для УК</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Снижение дебиторской задолженности</h3>
                <p class="leading-[1.875] text-grayDark">За счёт автоматизации процессов и системы оповещений</p>
            </div>
            <div>
                <h3 class="title-4 !leading-[1.4] mb-5 md1:mb-3">Доверительные отношения с жителями</h3>
                <p class="leading-[1.875] text-grayDark">Коммуникация и архив взаимодействия доступны в едином канале</p>
            </div>
        </div>
    </div>
</section>
