<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">
            Берем на&nbsp;себя задачи <br class="md1:hidden" />
            по&nbsp;внедрению
        </h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <article class="task-card">
                <svg class="task-card__icon">
                    <use xlink:href="img/sprite.svg#download"></use>
                </svg>
                <h3 class="title-3 mb-7-5">Перенесем данные</h3>
                <ul class="task-card__items">
                    <li class="task-card__item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>
                        <p>Перенесем справочники, лицевые счета, списки объектов и&nbsp;другую информацию</p>
                    </li>
                    <li class="task-card__item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>
                        <p>Настроим базовые интеграции со&nbsp;сторонними системами и&nbsp;сервисами если необходимо</p>
                    </li>
                </ul>
                <button
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350"
                    class="btn btn-primary btn-s-small mt-[50px]">Подключить</button>
            </article>
            <article class="task-card">
                <svg class="task-card__icon">
                    <use xlink:href="img/sprite.svg#coffee"></use>
                </svg>
                <h3 class="title-3 mb-7-5">Настроим процессы</h3>
                <ul class="task-card__items">
                    <li class="task-card__item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>
                        <p>Пригласим сотрудников и&nbsp;разграничим для них права доступа</p>
                    </li>
                    <li class="task-card__item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>
                        <p>Научим сострудников пользоваться мобильными приложениями</p>
                    </li>
                    <li class="task-card__item">
                        <svg>
                            <use xlink:href="img/sprite.svg#check"></use>
                        </svg>
                        <p>В&nbsp;течении всего времени будем сопровождать и&nbsp;отвечать на&nbsp;вопросы связанные с&nbsp;работой системы</p>
                    </li>
                </ul>
            </article>
        </div>
    </div>
</section>
