<section class="mt-[160px] md1:mt-20">
    <div class="container flex gap-6 md1:flex-col">
        <div class="mmd1:w-[636px] flex-shrink-0">
            <h2 class="title-1 mmd1:ml-[56px] mb-[121px] md1:mb-6">Платформа</h2>
            <div class="grid grid-cols-2 gap-6 md2:grid-cols-1">
                <a href="#" class="product-card">
                    <div class="product-card__badge product-card__badge--white">жителям</div>
                    <div class="product-card__content">
                        <h4 class="title-4 product-card__title">Мобильное приложение собственника</h4>
                        <p class="product-card__descr">Бесплатное мобильное приложение для связи с управляющей компанией</p>
                    </div>
                    <svg class="product-card__arrow">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
                <a href="#" class="product-card">
                    <div class="product-card__badge product-card__badge--white">мастерам</div>
                    <div class="product-card__content">
                        <h4 class="title-4 product-card__title">Мобильное приложение исполнителя</h4>
                        <p class="product-card__descr">Бесплатный сервис для контроля заявок и постановки задач</p>
                    </div>
                    <svg class="product-card__arrow">
                        <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex-grow platform-card">
            <picture>
                <source srcset="./img/platform-image.webp" type="image/webp" />
                <img loading="lazy" src="./img/platform-image.jpg" class="w-full md1:pb-[120px]" width="621" height="373" alt="Заявки от жителей" />
            </picture>
            <div class="platform-card__content">
                <div class="h-[34px] text-white font-medium flex-center-all self-start rounded-[55px] px-4 blur-[20px] bg-[rgba(255,255,255,0.2)]">
                    для ук и тсж
                </div>
                <div>
                    <h3 class="title-4 platform-card__title">CRM-система</h3>
                    <p class="platform-card__descr">Автоматизация рабочих процессов</p>
                </div>
                <svg class="platform-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </div>
        </div>
    </div>
</section>
