<section class="mt-24 md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <div class="bg-lightBlue rounded-primary p-14 md1:p-8 text-white flex">
            <div class="mmd1:max-w-[430px]">
                <h2 class="title-2 mb-7">Используйте АДС и экономьте до 80%</h2>
                <p class="mb-4 text-paragraph">Аварийно-диспетчерская служба для вашей управляющей компании</p>
                <p class="text-paragraph">
                    Мы примем все заявки от собственников и <br class="md1:hidden" />
                    проконтролируем исполнителей
                </p>
                <div class="mt-[102px] flex gap-[13px] md3:flex-col">
                    <button class="btn btn-primary btn-s-default">Подключить</button>
                    <button class="btn btn-secondary btn-s-default">Смотреть тарифы</button>
                </div>
            </div>
            <div class="flex-grow">
                <div class="banner-slide h-full w-[370px] ml-auto" style="background-color: #95beff">
                    <picture>
                        <source srcset="./img/hero-banner-3.webp" type="image/webp" />
                        <img
                            loading="lazy"
                            src="./img/hero-banner-3.png"
                            class="absolute bottom-0 right-0"
                            width="370"
                            height="434"
                            alt="Используйте АДС  и экономьте до 80%" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
