<section class="mt-[128px] md1:mt-20 bg-gray rounded-primary pt-[80px] pb-[98px] md1:p-8">
    <div class="container mmd1:max-w-[1184px] mmd1:p-0">
        <h2 class="title-2 flex items-center gap-4">
            Настроим систему всего за неделю
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="29" fill="none">
                <path
                    d="M13.5 2a1.5 1.5 0 0 0-3 0h3Zm-2.56 25.956a1.5 1.5 0 0 0 2.12 0l9.547-9.546a1.5 1.5 0 1 0-2.122-2.122L12 24.774l-8.485-8.486a1.5 1.5 0 1 0-2.122 2.122l9.546 9.546ZM12 2h-1.5v24.895h3V2H12Z"
                    fill="#000" />
            </svg>
        </h2>
        <div class="mt-14 md1:mt-8 flex rounded-primary overflow-hidden">
            <div class="bg-lightBlue w-[306px] flex-shrink-0 md1:hidden" aria-label="Декоративный элемент"></div>
            <div class="flex-grow py-12 px-14 bg-white">
                <h4 class="title-3-5 mb-6">Берем все вопросы внедрения на себя</h4>
                <p class="text-paragraph">
                    Не тратьте своё время на организацию подключения. Мы перенесем данные, обучим сотрудников и настроим сервис под ваши задачи.
                </p>
                <button class="btn btn-primary btn-s-default mt-16 md1:mt-6">Подключить</button>
            </div>
        </div>
    </div>
</section>
