<footer class="footer mt-[95px]">
    <div class="container">
        <div class="footer__items">
            <div>
                <img src="./img/logo.svg" width='137' height='36' alt="КАК ДОМА" />
                <p class="mt-[25px]">Текст в процессе</p>
            </div>
            <div>
                <h4 class="text-[18px] leading-[1.22] font-bold mb-6">Информация</h4>
                <ul>
                    <li>
                        <a class="footer__link link-primary" href="/">О компании</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4 class="text-[18px] leading-[1.22] font-bold mb-6">Продукты</h4>
                <ul>
                    <li>
                        <a class="footer__link link-primary" href="/">Экосистема для ЖКХ</a>
                    </li>
                    <li>
                        <a class="footer__link link-primary" href="/">Диспетчерская служба</a>
                    </li>
                    <li>
                        <a class="footer__link link-primary" href="/">Контроль доступа</a>
                    </li>
                    <li>
                        <a class="footer__link link-primary" href="/">Доверительное управление</a>
                    </li>
                </ul>
            </div>
            <div>
                <h4 class="text-[18px] leading-[1.22] font-bold mb-6">Контакты</h4>
                <ul>
                    <li>
                        <a class="footer__link link-primary" href="/">Форма обратной связи</a>
                    </li>
                    <li>
                        <a class="footer__link link-primary" href="tel:+74957707000">+7 (495) 770-70-00</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__app">
            <h4 class="leading-[1.375] font-bold mr-14">Мобильные приложения</h4>
            <div class="flex gap-3">
                <div class="w-[50px] h-[50px] rounded-2xl bg-[rgba(0,0,0,0.06)]"></div>
                <div class="w-[50px] h-[50px] rounded-2xl bg-[rgba(0,0,0,0.06)]"></div>
                <div class="w-[50px] h-[50px] rounded-2xl bg-[rgba(0,0,0,0.06)]"></div>
            </div>
        </div>
        <div class="footer__bottom">
            <span>© 2025 ООО «КАК ДОМА» </span>
            <a href="/" class="link-primary">Политика конфиденциальности</a>
            <a href="/" class="link-primary">Согласие на обработку персональных данных</a>
        </div>
    </div>
</footer>
