<header class="header">
    <div class="container flex items-center h-full relative">
        <a href="/">
            <img src="./img/logo.svg" class="logo" width="137" height="36" alt="КАК ДОМА" />
        </a>
        <div class="nav" data-menu>
            <ul data-one-spoller data-spollers="1296,max" class="md1:w-full flex items-center gap-4 md1:flex-col mmd1:h-full">
                <li class="nav-dropdown">
                    <a href="#" class="link-primary nav-dropdown__link _spoller-active" data-spoller>
                        <span>@linkName</span>
                        <svg class="w-2.5 h-2.5 text-[currentColor]">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                    <div class="nav-dropdown__container container">
                        <div class="nav-dropdown__content">
                            <div class="nav-dropdown__sidebar">
                                <h4 class="font-semibold mb-4 mmd1:ml-[11px] md1:hidden">Сервисы ЖКХ</h4>
                                <ul class="nav-dropdown__list">
                                    <li class="nav-dropdown__subitem">
                                        <a href="/ecosystem" class="link-primary">Экосистема сервисов для ЖКХ</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">CRM - система для УК и ТСЖ</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Приложение для собственников</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Приложение для сотрудников</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Личный кабинет собственника</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Сайт управляющей компании</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Маркет дополнительных услуг</a>
                                    </li>
                                    <li class="nav-dropdown__subitem">
                                        <a href="#" class="link-primary">Онлайн оплата ЖКУ</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="nav-dropdown__items">
                                <div class="nav-dropdown__item">
                                    <h4 class="font-semibold mb-4 mmd1:ml-[11px]">Контроль доступа</h4>
                                    <ul class="nav-dropdown__item-links">
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Сервис оформления пропусков</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Распознавание автомобильных номеров</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Установка шлагбаумов</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">IP - домофония </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-dropdown__item">
                                    <h4 class="font-semibold mb-4 mmd1:ml-[11px]">Управление арендой</h4>
                                    <ul class="nav-dropdown__item-links">
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Доверительное управление арендой квартир и аппартаментов</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Сервис удаленного заселения</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="nav-dropdown__item">
                                    <h4 class="font-semibold mb-4 mmd1:ml-[11px]">Диспетческая служба</h4>
                                    <ul class="nav-dropdown__item-links">
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Аварийно-диспетчерская служба для УК и ТСЖ</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary">Диспетчеризация шлагбаумов</a>
                                        </li>
                                        <li class="nav-dropdown__subitem">
                                            <a href="#" class="link-primary"
                                                >Прием в работу заявок ЕДС МО <span class="text-greenLight">eds.mosreg.ru</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nav-dropdown__banner swiper self-start nav-dropdown-slider w-[300px] min-h-[400px]">
                                <div class="swiper-wrapper h-full items-stretch">
                                    <div class="swiper-slide h-full md1:h-auto">
                                        <article class="bg-purpleSecond flex flex-col h-[370px] px-6 py-8 rounded-2xl">
                                            <div class="flex-center-all blue-[20px] bg-[rgba(255,255,255,0.5)] rounded-xl w-11 h-11 mb-auto">
                                                <svg class="w-[22px] h-[22px]">
                                                    <use xlink:href="img/sprite.svg#barrier"></use>
                                                </svg>
                                            </div>
                                            <h3 class="title-4 mmd1:text-[22px] !text-white">Для транспортных компаний</h3>
                                            <p class="text-white leading-[1.5625] mt-3">Учет автотранспорта с распределенной структурой хранения</p>
                                        </article>
                                    </div>
                                    <div class="swiper-slide h-full md1:h-auto">
                                        <article class="bg-gray flex flex-col h-[370px] px-6 pb-8 pt-[67px] rounded-2xl">
                                            <picture class="self-center mb-auto">
                                                <source srcset="./img/hands.webp" type="image/webp" />
                                                <img
                                                    loading="lazy"
                                                    src="./img/hands.png"
                                                    width="202"
                                                    height="102"
                                                    alt=""
                                                    role="presentation"
                                                    aria-hidden="true" />
                                            </picture>
                                            <h3 class="title-4 mmd1:text-[22px]">Гибкость решений</h3>
                                            <p class="leading-[1.5625] mt-3">Возможны индивидуальные доработки под ваши задачи</p>
                                        </article>
                                    </div>
                                </div>
                                <div
                                    class="slider-pagination slider-pagination--dark !top-5 !bottom-0 !left-5 z-20 relative nav-dropdown-slider-pagination"></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="flex items-center gap-6 md1:w-full md1:mt-auto">
                <a href="tel:84997068428" class="link-primary md1:hidden">8 (499) 706-84-28</a>
                <button
                    class="btn btn-primary btn-s-default md1:w-full"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Оставить заявку
                </button>
            </div>
        </div>

        <a href="tel:84997068428" class="ml-auto mmd1:hidden" aria-label="Позвонить по номеру 8 (499) 706-84-28">
            <svg class="w-6 h-6 text-blue">
                <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
        </a>

        <button class="ml-6 burger mmd1:hidden" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
