<header class="header">
    <div class="container flex items-center h-full">
        <a href="#">
            <img src="./img/logo.svg" class="logo" width="137" height="36" alt="КАК ДОМА" />
        </a>
        <div class="nav" data-menu>
            <ul data-one-spoller data-spollers="1296,max" class="md1:w-full flex items-center gap-4 md1:flex-col">
                <li class="nav-dropdown">
                    <a href="#" class="link-primary nav-dropdown__link" data-spoller>
                        <span>@linkName</span>
                        <svg class="w-2.5 h-2.5 fill-[currentColor]">
                            <use xlink:href="img/sprite.svg#arrow-down"></use>
                        </svg>
                    </a>
                    <ul class="nav-dropdown__list">
                        <li class="nav-dropdown__subitem">
                            <a href="#" class="link-primary">Экосистема для ЖКХ</a>
                        </li>
                        <li class="nav-dropdown__subitem">
                            <a href="#" class="link-primary">Аварийно-диспетчерская служба</a>
                        </li>
                        <li class="nav-dropdown__subitem">
                            <a href="#" class="link-primary">Системы контроля доступа</a>
                        </li>
                        <li class="nav-dropdown__subitem">
                            <a href="#" class="link-primary">Датчики и интернет вещей</a>
                        </li>
                        <li class="nav-dropdown__subitem">
                            <a href="#" class="link-primary">Доверительное управление</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="flex items-center gap-6 md1:w-full md1:mt-auto">
                <a href="tel:88007000000" class="link-primary md1:hidden">8 800 700 00 00</a>
                <button
                    class="btn btn-primary btn-s-default md1:w-full"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Оставить заявку
                </button>
            </div>
        </div>

        <a href="tel:88007000000" class="ml-auto mmd1:hidden" aria-label="Позвонить по номеру 8 800 700 00 00">
            <svg class="w-6 h-6 fill-blue">
                <use xlink:href="img/sprite.svg#call"></use>
            </svg>
        </a>

        <button class="ml-6 burger mmd1:hidden" aria-label="Открыть меню" aria-expanded="false" data-burger>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
