<div class="graph-modal">
    <button class="btn-reset js-modal-close graph-modal__close z-[9999999]" aria-label="Закрыть модальное окно"></button>

    <div
        class="graph-modal__container graph-modal-container-fadeInUp mmd3:w-[560px] rounded-[40px] px-[45px] pt-[51px] pb-[63px]"
        role="dialog"
        aria-modal="true"
        data-graph-target="create-bid">
        <div class="graph-modal__content">
            <h3 class="title-3 mb-6 !text-[28px]">Оставьте заявку</h3>
            <p class="text-[20px] leading-normal">Мы предоставим доступ для тестирования системы или поможем подобрать продукт</p>
            <p>input1</p>
            <p>input2</p>
            <p>input3</p>
            <p>input4</p>
            <button class='mt-[25px] btn btn-third w-full'>
                Отправить заявку
            </button>
        </div>
    </div>
</div>
