<section class="mt-11">
    <div class="container-desktop">
        <h1 class="title-2 text-center">Контакты</h1>

        <div class="mt-20 md1:mt-8 bg-gray rounded-primary px-14 py-[52px] md1:p-6">
            <div class="grid grid-cols-2 gap-6 md1:gap-5 md2:grid-cols-1">
                <a href="tel:84994447085" class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-20 group">
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#phone"></use>
                        </svg>
                        <h4 class="font-medium">Телефон</h4>
                    </div>
                    <div class="mt-6">
                        <span class="group-hover:text-hoverPrimary transition-primary-all">+7 499 444-70-85</span>
                    </div>
                </a>
                <a href="mailto:uk@uk1.ru" class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-20 group">
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#directbox-notif"></use>
                        </svg>
                        <h4 class="font-medium">E-mail</h4>
                    </div>
                    <div class="mt-6">
                        <span class="group-hover:text-hoverPrimary transition-primary-all">uk@uk1.ru</span>
                    </div>
                </a>
                <div class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-20 group">
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#clock"></use>
                        </svg>
                        <h4 class="font-medium">Часы работы офиса</h4>
                    </div>
                    <div class="mt-6 flex flex-col gap-1 leading-[1.6]">
                        <div class="flex items-center gap-5">
                            <span class="w-14">Пн-Чт</span>
                            <span>09:00-18:00</span>
                        </div>
                        <div class="flex items-center gap-5">
                            <span class="w-14">Пт</span>
                            <span>09:00-16:45</span>
                        </div>
                        <div class="flex items-center gap-5">
                            <span class="w-14">Сб, вс</span>
                            <span>выходные дни</span>
                        </div>
                    </div>
                </div>
                <div class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-20 group">
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#location"></use>
                        </svg>
                        <h4 class="font-medium">Адрес</h4>
                    </div>
                    <div class="mt-6 leading-[1.6]">
                        г. Москва,
                        <br />
                        ул. Селезневская, дом 19/2
                    </div>
                </div>
                <div class="px-14 pt-10 pb-12 bg-white md1:p-6 rounded-32 md1:rounded-20 col-span-2">
                    <div class="flex items-center gap-4">
                        <svg class="w-6 h-6 text-purpleSecond">
                            <use xlink:href="img/sprite.svg#receipt-text"></use>
                        </svg>
                        <h4 class="font-medium">Реквизиты организации</h4>
                    </div>
                    <div class="mt-6 flex items-end gap-60 leading-[1.6]">
                        <div class="flex flex-col gap-1">
                            <div class="flex items-center gap-8">
                                <span class="w-32">ИНН</span>
                                <span>7707413245</span>
                            </div>
                            <div class="flex items-center gap-8">
                                <span class="w-32">КПП</span>
                                <span>770701001</span>
                            </div>
                            <div class="flex items-center gap-8">
                                <span class="w-32">Банк</span>
                                <span>ПАО СБЕРБАНК</span>
                            </div>
                            <div class="flex items-center gap-8">
                                <span class="w-32">Расчётный счет</span>
                                <span>40702810638000232153</span>
                            </div>
                            <div class="flex items-center gap-8">
                                <span class="w-32">БИК</span>
                                <span>044525225</span>
                            </div>
                            <div class="flex items-center gap-8">
                                <span class="w-32">Кор. счет</span>
                                <span>30101810400000000225</span>
                            </div>
                        </div>
                        <div>
                            <h4 class="font-medium">Руководитель:</h4>
                            <p>Дубинкина Инна Егоровна</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
