<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <h2 class="title-1-25 md1:px-4">Автоматизация прохода</h2>

        <div class="mt-20 md1:mt-8 flex flex-col gap-5 md1:gap-4">
            <div
                class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                <div class="mmd1:max-w-[513px] flex flex-col flex-grow mmd1:pb-11">
                    <h2 class="title-4">Оборудование КПП</h2>
                    <p class="mt-5 leading-normal text-grayDark">
                        Системы контроля и&nbsp;управления доступом со&nbsp;считывателями (QR-кодов, PIN-кодов, NFC-карт, BLE-ключей).
                    </p>
                </div>

                <picture class="self-end md1:self-center mmd1:mr-[66px]">
                    <source srcset="./img/control-system.webp" type="image/webp" />
                    <img loading="lazy" src="./img/control-system.png" width="351" height="351" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
</section>
