<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop">
        <div
            class="bg-cyan rounded-32 md1:rounded-3xl mmd1:rounded-br-none py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative mmd1:overflow-hidden md1:gap-10 md1:pb-0">
            <div class="mmd1:max-w-[440px] flex flex-col flex-grow">
                <span class="text-paragraph mb-5 !font-medium">CRM-система</span>
                <h1 class="title-1-5">Автоматизация для КПП</h1>
                <p class="mt-5 leading-normal">Простая и понятная программа с быстрым поиском</p>
                <div class="mt-auto">
                    <button class="btn btn-primary btn-s-default mt-[88px] md1:mt-12">+ Добавить пропуск</button>
                </div>
            </div>

            <picture>
                <source srcset="./img/cloud-pass-service-banner.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/cloud-pass-service-banner.png"
                    class="absolute md1:relative -bottom-1 right-0 rounded-tl-[24px] md1:rounded-tr-[24px]"
                    width="675"
                    height="459"
                    alt=""
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
