<section class="mt-[50px] md1:mt-0 md1:bg-cyan mmd1:rounded-b-3xl">
    <div class="container-desktop">
        <div
            class="bg-darkCyan rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none md1:pb-0 gap-12 md1:overflow-hidden">
            <div class="flex flex-col flex-grow">
                <h1 class="title-1 text-white">
                    Облачный сервис <br class="md1:hidden" />
                    оформления пропусков
                </h1>
                <p class="mt-6 text-white text-paragraph">Автоматизация и&nbsp;управление доступом под ключ</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>
            <div class="mmd1:absolute mmd1:bottom-0 mmd1:right-[125px] md1:mx-auto md1:relative md1:-bottom-14 md1:-mt-14">
                <div class="cloud-pass-service-parallax">
                    <div data-depth="0.25" class="parallax-layer" style="padding: 294px 0px 0 0px; margin-left: -81px">
                        <picture class="flex-shrink-0">
                            <source srcset="./img/new-pass-avatar-1.webp" type="image/webp" />
                            <img
                                loading="lazy"
                                src="./img/new-pass-avatar-1.png"
                                width="120"
                                height="120"
                                alt=""
                                role="presentation"
                                aria-hidden="true" />
                        </picture>
                    </div>
                    <div data-depth="0.3" class="parallax-layer" style="padding: 76px 0px 0px 227px">
                        <picture class="flex-shrink-0">
                            <source srcset="./img/new-pass-avatar-2.webp" type="image/webp" />
                            <img
                                loading="lazy"
                                src="./img/new-pass-avatar-2.png"
                                width="150"
                                height="150"
                                alt=""
                                role="presentation"
                                aria-hidden="true" />
                        </picture>
                    </div>
                </div>
                <picture>
                    <source srcset="./img/new-pass-phone.webp" type="image/webp" />
                    <img loading="lazy" src="./img/new-pass-phone.png" width="293" height="514" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </div>
        </div>
    </div>
    <div class="container-desktop !mt-5 md1:!mt-0">
        <div class="mmd1:bg-cyan px-14 py-[54px] pb-[46px] grid grid-cols-4 gap-5 md1:gap-10 rounded-primary md1:rounded-none md1:grid-cols-1 md1:p-6">
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Полная автоматизация бюро пропусков</h3>
                <p class="leading-[1.875] md1:leading-normal">Избавьтесь от&nbsp;звонков на&nbsp;пункты охраны и&nbsp;ручного заполнения</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Не&nbsp;требует замены оборудования</h3>
                <p class="leading-[1.875] md1:leading-normal">Максимум эффективности без лишних затрат</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Интеграция с&nbsp;системой распознавания</h3>
                <p class="leading-[1.875] md1:leading-normal">Автоматический вход/выход, въезд и&nbsp;выезд</p>
            </div>
            <div>
                <h3 class="title-4-25 mb-4 md1:mb-3">Индивидуальные решения</h3>
                <p class="leading-[1.875] md1:leading-normal">Модернизируем сервис под запрос клиента</p>
            </div>
        </div>
    </div>
</section>
