<section class="mt-[160px] md1:mt-24">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-2 mb-5">Как проходит подключение</h2>
        <p class="text-paragraph">
            Мы&nbsp;развернем готовую систему под &laquo;ключ&raquo; на&nbsp;вашем объекте за&nbsp;7&nbsp;дней, <br class="md1:hidden" />
            чтобы вы&nbsp;сразу использовали максимум возможностей
        </p>
        <div class="mmd1:ml-auto mt-20 md1:mt-8 mmd1:max-w-[753px] flex flex-col gap-4">
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Оставьте заявку</h4>
                    <p class="text-paragraph-2 md1:text-center">Мы свяжемся с вами уточним все детали</p>
                    <button
                        class="btn btn-primary btn-s-small mt-6 md1:mx-auto"
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350">
                        Оставить заявку
                    </button>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Бесплатно выезжаем на объект</h4>
                    <p class="text-paragraph-2 md1:text-center">В&nbsp;рабочее время, кроме выходных и&nbsp;праздничных дней</p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Формируем коммерческое предложение</h4>
                    <p class="text-paragraph-2 md1:text-center">
                        Подписываем договор и&nbsp;приступаем к&nbsp;настройке. Если необходимо осуществляем монтаж
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
