<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-2">Как работает сервис</h2>
        <div class="mmd1:ml-auto mt-20 md1:mt-8 mmd1:max-w-[753px] flex flex-col gap-5 md1:gap-4">
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Житель создает пропуск</h4>
                    <p class="text-paragraph-3 text-grayDark md1:text-center">
                        Пропуск можно создать в&nbsp;приложении или онлайн версии кабинета. Так&nbsp;же можно направить ссылку в&nbsp;меседжер чтоб
                        курьер или гости самостоятельно заполнили данные
                    </p>
                    <button class="btn btn-primary btn-s-small mt-4 md1:mx-auto">Создать пропуск</button>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Пропуcк сразу передается охране</h4>
                    <p class="text-paragraph-3 text-grayDark md1:text-center">
                        Для удобства отслеживания в&nbsp;кабинете охраны есть звуковые и&nbsp;графические уведомления о&nbsp;новых пропусках
                    </p>
                </div>
            </div>
            <div class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-darkCyan flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 mb-4 md1:text-center">Проверка в&nbsp;момент прибытия гостя</h4>
                    <p class="text-paragraph-3 text-grayDark md1:text-center">
                        Охрана проверяет наличие пропуска и&nbsp;предосатвляет доступ на&nbsp;охраняемую территорию.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
