<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Виды пропусков</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md2:grid-cols-2 md3:grid-cols-1">
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Разовый</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Гость сможет попасть на&nbsp;территорию один раз на&nbsp;одном КПП</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Временный</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Не&nbsp;ограничивает кол-во посещений, действует в&nbsp;указанный период</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-4">Черный список</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Система автоматически ограничит доступ для нарушителей</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Постоянный</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Полный доступ на&nbsp;объект без ограницения кол-ва посещений</p>
            </article>
            <article class="rounded-32 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Приглашения</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">Гость сможет сам заполнить данные и&nbsp;приехать в&nbsp;удобное время</p>
            </article>
        </div>
    </div>
</section>
