<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Автоматизация проезда</h2>

        <div class="mt-20 md1:mt-8 grid grid-cols-2 md2:grid-cols-1 gap-5 md1:gap-4">
            <div
                class="mmd2:col-span-2 bg-grayTwo rounded-32 mmd1:rounded-br-none p-11 md1:p-6 mmd1:min-h-[471px] flex flex-col relative overflow-hidden md1:gap-10 md1:pb-0">
                <div class="mmd1:max-w-[465px] flex flex-col flex-grow">
                    <h2 class="title-4">Система распознавания автомобильных номеров</h2>
                    <p class="mt-5 text-paragraph-3 text-grayDark">
                        Автоматизируйте проезд на&nbsp;территорию вашего жилого комплекса, поселка или коммерческого объекта.
                    </p>
                    <div class="mt-auto">
                        <div class="mt-12 flex gap-3 md3:flex-col">
                            <button
                                data-graph-path="create-bid"
                                data-graph-animation="fadeInUp"
                                data-graph-speed="350"
                                class="btn btn-five btn-s-default">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </div>

                <picture>
                    <source srcset="./img/paid-services-banner-2.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/paid-services-banner-2.png"
                        class="absolute md1:relative -bottom-1 -right-1 rounded-tl-[24px] md1:rounded-tr-[24px]"
                        width="573"
                        height="411"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </div>
            <article class="rounded-20 p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Простое подключение</h3>
                <p class="text-paragraph-3 text-grayDark mt-4 md1:mt-3">
                    Работает с&nbsp;популярными системами распознавания: CVS, TRASSIR, SIGUR и&nbsp;другими системами
                </p>
            </article>
            <article class="rounded-20 p-10 md1:p-6 flex flex-col border border-solid border-[#e0e0e0]">
                <h3 class="title-4">Установка &laquo;под ключ&raquo;</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3">
                    Всё настроим за&nbsp;вас&nbsp;&mdash; облачная система будет распознавать номера с&nbsp;первого дня подключения
                </p>
            </article>
        </div>
    </div>
</section>
