<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Продуктовые решения</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-4 md3:grid-cols-1">
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 pb-16 md1:pt-6 md1:px-6 flex flex-col md1:pb-6">
                <h4 class="title-3">Мобильное бюро пропусков</h4>
                <p class="mt-5 mb-14 leading-normal text-grayMedium">
                    Позволяет перевести все заявки в&nbsp;электронный вид, контролировать и&nbsp;управлять ими онлайн
                </p>
                <picture class="self-center mt-auto">
                    <source srcset="./img/product-solutions-image.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/product-solutions-image.png"
                        width="516"
                        height="326"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3">Распознавание номеров</h4>
                <p class="mt-5 mb-10 leading-normal text-grayMedium">
                    Автоматизирует учёт автомобилей на&nbsp;территории, повышает безопасность и&nbsp;пропускную способность
                </p>
                <picture class="self-center mt-auto">
                    <source srcset="./img/product-solutions-phone.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/product-solutions-phone.png"
                        width="293"
                        height="411"
                        alt=""
                        role="presentation"
                        aria-hidden="true" />
                </picture>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Оставить заявку
        </button>
    </div>
</section>
