<section class="mt-[128px] relative md1:mt-20">
    <div class="container">
        <div class="bg-gray rounded-[48px] px-14 py-[60px] relative md1:rounded-3xl md1:p-8 overflow-hidden">
            <div class="max-w-[840px]">
                <h2 class="title-1 !text-[28px]">Внедряем ИИ-технологии в коммуникации</h2>
                <p class="mt-6 text-paragraph">
                    AI-консьерж это полноценный голосовой интерфейс взаимодействия с&nbsp; <br />
                    собственником который станет стандартом. Дом &laquo;говорит&raquo; и &laquo;заботится&raquo;.
                </p>
                <button
                    class="btn btn-primary btn-s-default mt-[76px]"
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350">
                    Оставить заявку
                </button>
            </div>
            <picture>
                <source srcset="./img/robot-hand.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/robot-hand.png"
                    class="absolute -bottom-[42px] -right-[45px] md1:hidden"
                    width="540"
                    height="351"
                    alt="Внедряем ИИ-технологии в коммуникации" />
            </picture>
        </div>
    </div>
</section>
