<section class="mt-[160px] md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>

        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Что входит в&nbsp;состав цифровой платформы для управляющих компаний?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Платформа объединяет CRM для управляющих компаний, мобильные приложения для жителей и&nbsp;сотрудников, сервис
                            аварийно-диспетчерской службы, онлайн-оплату ЖКУ, сервис оформления пропусков, маркетплейс услуг, электронный диспетчер
                            и&nbsp;другие инструменты автоматизации ЖКХ.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Для каких организаций подходит платформа?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Платформа подходит управляющим компаниям и&nbsp;ТСЖ, ресурсоснабжающим организациям, девелоперам, сервисным компаниям
                            и&nbsp;компаниям управляющим коммерческой недвижимостью.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие задачи решает платформа?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Экосистема сервисов для ЖКХ позволяет:</p>
                        <ul class="mt-2 list-[initial] list-inside pl-3">
                            <li>работать с&nbsp;обращениями жителей;</li>
                            <li>автоматизировать работу управляющей компании;</li>
                            <li>принимать онлайн-платежи ЖКУ;</li>
                            <li>контролировать работу сотрудников;</li>
                            <li>продавать дополнительные услуги управляющей компании и&nbsp;партнеров;</li>
                            <li>принимать показания приборов учета в&nbsp;приложении и&nbsp;веб версии</li>
                            <li>кабинета собственника на&nbsp;сайте;</li>
                            <li>работать с&nbsp;должниками и&nbsp;снижать дебиторскую задолженность.</li>
                        </ul>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько времени занимает внедрение?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Срок подключения зависит от&nbsp;выбранных сервисов. Чаще всего, запуск основных модулей занимает от&nbsp;одного
                            до&nbsp;нескольких дней.
                        </p>
                        <div class="mt-5">
                            <button
                                data-graph-path="create-bid"
                                data-graph-animation="fadeInUp"
                                data-graph-speed="350"
                                class="btn btn-primary btn-s-default relative z-[11]">
                                Подключить
                            </button>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как платформа помогает снизить расходы управляющей компании?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Автоматизация помогает сократить затраты на&nbsp;обработку обращений, информирование жителей, содержание собственной
                            команды диспетчеров и&nbsp;выполнение рутинных задач.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Какие результаты получают управляющие компании после внедрения?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Снижение нагрузки на&nbsp;сотрудников, снижение расходов до&nbsp;80% на&nbsp;отдельные процессы, повышение качества
                            обслуживания жителей, рост собираемости платежей и&nbsp;полный контроль всех процессов ЖКХ.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько стоит автоматизация ЖКХ для управляющей компании?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Стоимость автоматизации зависит от&nbsp;выбранных модулей, количества лицевых счетов и&nbsp;подключаемых сервисов.
                            Большинство решений внедряется поэтапно без крупных первоначальных затрат. При запуске сервисов оплаты и&nbsp;сервиса
                            продажи дополнительных услуг онлайн, дополнительный доход полностью окупает затраты на&nbsp;автоматизацию.
                        </p>
                        <div class="mt-5">
                            <button
                                data-graph-path="create-bid"
                                data-graph-animation="fadeInUp"
                                data-graph-speed="350"
                                class="btn btn-primary btn-s-default relative z-[11]">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Есть&nbsp;ли решение для небольших&nbsp;УК и&nbsp;ТСЖ?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, решение адаптируется под размер управляющей компании и&nbsp;помогает сокращать расходы до&nbsp;80% на&nbsp;отдельные
                            процессы.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно&nbsp;ли внедрять сервисы поэтапно?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да. Вы&nbsp;можете начать с&nbsp;аварийно-диспетчерской службы, CRM, мобильного приложения или электронного диспетчера,
                            а&nbsp;затем постепенно подключать остальные сервисы платформы по&nbsp;мере развития цифровой экосистемы.
                        </p>
                        <div class="mt-5">
                            <button
                                data-graph-path="create-bid"
                                data-graph-animation="fadeInUp"
                                data-graph-speed="350"
                                class="btn btn-primary btn-s-default relative z-[11]">
                                Подробнее
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
