<section class="mt-[132px] md1:mt-20">
    <div class="container-desktop">
        <div class="bg-dark rounded-[48px] py-[54px] px-14 md1:p-8 md1:rounded-3xl">
            <div class="flex gap-14 md1:flex-col md1:gap-8">
                <div class="flex-grow">
                    <h1 class="title-1 text-white">Поможем подобрать продукты для вашего бизнеса</h1>
                    <p class="mt-6 text-paragraph text-white">Наши менеджеры проведут презентацию и&nbsp;ответят на&nbsp;все возникшие вопросы</p>
                </div>
                <div class="mmd1:w-[470px] flex-shrink-0">
                    <form action="#" id="form-bid" class="mmd1:p-[42px] mmd1:rounded-[42px] mmd1:bg-[rgba(255,255,255,0.08)]">
                        <div class="flex flex-col gap-4">
                            <label class="form-input">
                                <input type="text" name="name" class="input input-secondary input-s-default" placeholder="Имя" />
                            </label>
                            <label class="form-input">
                                <input type="text" name="email" class="input input-secondary input-s-default" placeholder="Электронная почта" />
                            </label>
                            <label class="form-input">
                                <input type="tel" name="tel" class="input input-secondary input-s-default" placeholder="Телефон" />
                            </label>
                        </div>
                        <button type="submit" class="mt-4 btn btn-third btn-s-default w-full js-modal-close">Отправить заявку</button>
                        <div class="mt-4 checkbox checkbox-gray">
                            <input id="c_agreement_2" name="agreement" class="checkbox__input" type="checkbox" />
                            <label for="c_agreement_2" class="checkbox__label">
                                <span class="checkbox__text">
                                    Заполняя форму, вы соглашаетесь на
                                    <a href="#" class="link-primary inline">обработку персональных данных</a>
                                </span>
                            </label>
                        </div>
                    </form>

                    <!-- const formBid = document.querySelector("#form-bid");
                    formBid.addEventListener("submit", e => {
                        if (e.target.classList.contains("is-valid")) {
                            console.log("submit");
                            const formData = new FormData(formBid);
                            for (let pair of formData.entries()) {
                                console.log(pair[0] + ": " + pair[1]);
                            }
                        }
                    }); -->
                </div>
            </div>
            <div
                class="mt-14 md1:mt-8 bg-[rgba(255,255,255,0.08)] rounded-[48px] py-[54px] px-14 md1:p-6 md1:rounded-xl flex justify-between gap-6 md1:flex-col">
                <h4 class="title-4 text-white">Не хотите ждать звонка?</h4>
                <div class="mmd1:w-[413px]">
                    <a href="tel:88006004657" class="link-primary title-4 text-white"> 8 (800) 600 46 57 </a>
                    <p class="mt-4 text-paragraph text-white">
                        Свяжитесь с нами — ответим на все <br />
                        вопросы
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
