<section class="mt-[160px] md1:mt-20" id="our-solutions">
    <div class="container">
        <h2 class="title-2 mmd1:ml-[56px] mb-[90px] md1:mb-8">Наши решения уже используют</h2>
        <div class="swiper" id="swiper-solutions">
            <div class="swiper-wrapper">
                <a href="#" class="swiper-slide complex-card">
                    <div class="ibg complex-card__image">
                        <picture>
                            <source srcset="./img/card-1.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-1.jpg" width="306" height="322" alt="ЖК Небо" class="w-full bg-gray rounded-[32px]" />
                        </picture>
                    </div>
                    <div class="ml-4 mt-4">
                        <p class="complex-card__title">ЖК Лайнер Восток</p>
                        <p class="complex-card__subtitle">Москва</p>
                    </div>
                </a>
                <a href="#" class="swiper-slide complex-card">
                    <div class="ibg complex-card__image">
                        <picture>
                            <source srcset="./img/card-2.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-2.jpg" width="306" height="322" alt="ЖК Небо" class="w-full bg-gray rounded-[32px]" />
                        </picture>
                    </div>
                    <div class="ml-4 mt-4">
                        <p class="complex-card__title">ЖК Лайнер Запад</p>
                        <p class="complex-card__subtitle">Москва</p>
                    </div>
                </a>
                <a href="#" class="swiper-slide complex-card">
                    <div class="ibg complex-card__image">
                        <picture>
                            <source srcset="./img/card-3.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-3.jpg" width="306" height="322" alt="ЖК Небо" class="w-full bg-gray rounded-[32px]" />
                        </picture>
                    </div>
                    <div class="ml-4 mt-4">
                        <p class="complex-card__title">ЖК Прайм Тайм</p>
                        <p class="complex-card__subtitle">Москва</p>
                    </div>
                </a>
                <a href="#" class="swiper-slide complex-card">
                    <div class="ibg complex-card__image">
                        <picture>
                            <source srcset="./img/card-4.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-4.jpg" width="306" height="322" alt="ЖК Небо" class="w-full bg-gray rounded-[32px]" />
                        </picture>
                    </div>
                    <div class="ml-4 mt-4">
                        <p class="complex-card__title">ЖК Небо</p>
                        <p class="complex-card__subtitle">Москва</p>
                    </div>
                </a>
                <a href="#" class="swiper-slide complex-card">
                    <div class="ibg complex-card__image">
                        <picture>
                            <source srcset="./img/card-2.webp" type="image/webp" />
                            <img loading="lazy" src="./img/card-2.jpg" width="306" height="322" alt="ЖК Небо" class="w-full bg-gray rounded-[32px]" />
                        </picture>
                    </div>
                    <div class="ml-4 mt-4">
                        <p class="complex-card__title">ЖК Лайнер Запад</p>
                        <p class="complex-card__subtitle">Москва</p>
                    </div>
                </a>
            </div>
        </div>

        <div class="mt-12 flex-center-all gap-3">
            <button class="btn-nav btn-nav--prev" id="our-solutions-prev" aria-label="Предыдущий слайд">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="btn-nav btn-nav--next" id="our-solutions-next" aria-label="Следующий слайд">
                <svg>
                    <use xlink:href="img/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>
