<section class="our-growth mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25 mb-[25px] md1:mb-8">Автоматизируем работу УК</h2>
        <div class="flex gap-8 md1:flex-col items-center">
            <div class="mmd1:w-[639px] md1:flex-grow">
                <div class="mmd1:w-[486px] mmd1:h-[232px] relative flex items-center justify-center mmd1:-ml-8">
                    <span class="our-growth__number">>100</span>
                </div>
                <span class="block mmd1:ml-[38px] text-paragraph md1:text-center">
                    более ста управляющих компаний <br />
                    используют платформу
                </span>
            </div>
            <div class="mmd1:w-[496px] md1:flex md1:flex-col md1:items-center">
                <p class="text-paragraph-2 md1:text-center tracking-normal">
                    Помогаем управляющим компаниям <a href="#" class="text-[#36b65e] mmd1:hover:text-dark transition-colors">улучшать</a> качество
                    своего сервиса, экономить ресурсы и&nbsp;выстраивать доверительные отношения с&nbsp;жителями.
                </p>
                <button
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350"
                    class="btn btn-primary btn-s-default mmd1:mt-[68px] md1:mt-6 md1:w-3/4">
                    Стать клиентом
                </button>
            </div>
        </div>

        <div class="mt-20 md1:mt-8 grid grid-cols-3 md2:grid-cols-1 gap-5 md1:gap-4">
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-3">&gt;500&nbsp;000</h3>
                <p class="text-paragraph-2 pt-3 mt-auto text-grayDark">Лицевых счетов</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-3">&gt;3&nbsp;000</h3>
                <p class="text-paragraph-2 pt-3 mt-auto text-grayDark">Домов на&nbsp;платформе</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-3">&gt;1&nbsp;000&nbsp;000</h3>
                <p class="text-paragraph-2 pt-3 mt-auto text-grayDark">Приборов учета</p>
            </article>
        </div>
    </div>
</section>
