<section class="our-growth mt-[134px] md1:mt-20">
    <div class="our-growth__container container">
        <h2 class="title-2 mb-[25px] md1:mb-8">Мы активно растём</h2>
        <div class="flex mmd1:items-end gap-8 md1:flex-col md1:items-center">
            <div class="mmd1:w-[639px] md1:flex-grow">
                <div class="mmd1:w-[486px] mmd1:h-[215px] relative mmd1:ml-[26px] mmd1:mt-6">
                    <span class="our-growth__number">384</span>
                    <svg
                        width="78"
                        height="79"
                        viewBox="0 0 78 79"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="absolute top-[5px] -left-[50px] md1:hidden">
                        <path
                            d="M39 0.142822L48.2935 29.8493L78 39.1428L48.2935 48.4363L39 78.1428L29.7065 48.4363L0 39.1428L29.7065 29.8493L39 0.142822Z"
                            fill="url(#paint0_linear_2147_667)" />
                        <defs>
                            <linearGradient
                                id="paint0_linear_2147_667"
                                x1="39"
                                y1="0.142822"
                                x2="-45.2903"
                                y2="122.175"
                                gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FF5F33" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <svg
                        width="45"
                        height="45"
                        viewBox="0 0 45 45"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="absolute -top-[25px] right-[48px] md1:hidden">
                        <path
                            d="M22.5 0L27.8616 16.8663L45 22.1429L27.8616 27.4194L22.5 44.2857L17.1384 27.4194L0 22.1429L17.1384 16.8663L22.5 0Z"
                            fill="url(#paint0_linear_2147_668)" />
                        <defs>
                            <linearGradient id="paint0_linear_2147_668" x1="22.5" y1="0" x2="-25.0815" y2="69.9978" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FF5F33" />
                            </linearGradient>
                        </defs>
                    </svg>
                    <svg
                        width="62"
                        height="63"
                        viewBox="0 0 62 63"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                        class="absolute bottom-[13px] right-[157px] md1:hidden">
                        <path
                            d="M31 0.142822L38.3871 23.7557L62 31.1428L38.3871 38.53L31 62.1428L23.6129 38.53L0 31.1428L23.6129 23.7557L31 0.142822Z"
                            fill="url(#paint0_linear_2147_669)" />
                        <defs>
                            <linearGradient id="paint0_linear_2147_669" x1="31" y1="0.142822" x2="-20.5" y2="85.1428" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#FF5F33" />
                            </linearGradient>
                        </defs>
                    </svg>
                </div>
                <span class="block mmd1:ml-[31px] text-paragraph md1:text-center">
                    объект под нашим чутким <br />
                    присмотром
                </span>
            </div>
            <div class="mmd1:w-[496px] md1:flex md1:flex-col md1:items-center">
                <p class="text-paragraph md1:text-center">
                    Сотрудничаем с&nbsp;управляющими компаниями и девелоперами. Увеличиваем доходность бизнеса и&nbsp;помогаем
                    с&nbsp;автоматизацией.
                </p>
                <button
                    data-graph-path="create-bid"
                    data-graph-animation="fadeInUp"
                    data-graph-speed="350"
                    class="btn btn-primary btn-s-default mmd1:mt-[110px] md1:mt-6 md1:w-3/4">Стать клиентом</button>
            </div>
        </div>
    </div>
</section>
