<section class="mt-[160px] md1:mt-20">
    <div class="container">
        <h2 class="title-1-25 mmd1:ml-[56px] mb-20 md1:mb-8">Популярные продукты</h2>
        <div class="flex flex-col gap-6">
            @include('../components/crm-banner.html')
            @include('../components/mobile-app-banner.html')
            @include('../components/security-services-banner.html')
            @include('../components/contact-center-banner.html')
        </div>
        <a href="/ecosystem" class="btn btn-primary btn-s-default mmd3:min-w-[450px] md3:w-full w-max mt-20 md1:mt-8 mx-auto">
            Все сервисы
        </a>
    </div>
</section>
