<section class="mt-[128px] md1:mt-20">
    <div class="container">
        <h2 class="title-2 mmd1:ml-[56px] mb-20 md1:mb-8">Продуктовые направления</h2>
        <div class="grid grid-cols-4 gap-6 md1:gap-5 md1:grid-cols-2 md3:grid-cols-1">
            <a href="#" class="product-card">
                <div class="product-card__badge">
                    <svg>
                        <use xlink:href="img/sprite.svg#monitor"></use>
                    </svg>
                    <span>Платформа</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-4 product-card__title">Экосистема сервисов для ЖКХ</h4>
                    <p class="product-card__descr">Готовый сайт УК, кабинет собственника, мобильные приложения, ГИС ЖКХ</p>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
            <a href="#" class="product-card product-card--green">
                <div class="product-card__badge">
                    <svg>
                        <use xlink:href="img/sprite.svg#headset"></use>
                    </svg>
                    <span>Контакт-центр</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-4 product-card__title">Аварийно диспетчерская служба</h4>
                    <p class="product-card__descr">Принимаем звонки и обрабатываем заявки от собственников</p>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
            <a href="#" class="product-card">
                <div class="product-card__badge">
                    <svg>
                        <use xlink:href="img/sprite.svg#shield"></use>
                    </svg>
                    <span>Доступ на объект</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-4 product-card__title">Системы контроля доступа</h4>
                    <p class="product-card__descr">Управление всеми видами турникетов, дверными замками, шлагбаумами</p>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
            <a href="#" class="product-card product-card--white">
                <div class="product-card__badge">
                    <svg>
                        <use xlink:href="img/sprite.svg#umbrella"></use>
                    </svg>
                    <span>Сервис</span>
                </div>
                <div class="product-card__content">
                    <h4 class="title-4 product-card__title">Датчики и интернет вещей</h4>
                    <p class="product-card__descr">Приложения и сервисы, которые анализируют данные и управляют устройствами</p>
                </div>
                <svg class="product-card__arrow">
                    <use xlink:href="img/sprite.svg#arrow-right-top"></use>
                </svg>
            </a>
        </div>
    </div>
</section>
