<section class="mt-[128px]">
    <div class="container">
        <h2 class="title-2 mmd1:ml-[56px] mb-[90px]">Продуктовые направления (В РАЗРАБОТКЕ)</h2>
        <div class="grid grid-cols-4 gap-6">
            <div class="product-card">
                <div>онлайн-платформа</div>
                <h4 class="title-4">Экосистема сервисов для ЖКХ</h4>
                <p class="product-card__descr">Готовый сайт УК, кабинет собственника, мобильные приложения, ГИС ЖКХ</p>
            </div>
        </div>
    </div>
</section>
