<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25 mb-20 md1:mb-8">
            Все для быстрого старта <br class="md1:hidden" />
            и&nbsp;продуктивной работы
        </h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 gap-5 md1:gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="row-span-2 rounded-32 md1:rounded-2xl p-10 md1:p-6 min-h-[250px] flex flex-col bg-[#f75f32] relative overflow-hidden">
                <h3 class="title-3 text-white">Доступ к&nbsp;сервису за&nbsp;1&nbsp;день</h3>
                <p class="text-paragraph-3 text-white mt-4 md1:mt-3">
                    Заявки, платежи, уведомления, мобильные приложения и&nbsp;услуги управляющей компании.
                </p>
                <img
                    loading="lazy"
                    src="./img/curved-line-3.svg"
                    class="absolute left-[35%] bottom-5 md1:left-auto md1:right-0 md1:-bottom-4"
                    width="166"
                    height="138"
                    alt="" />
            </article>
            <article class="rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col bg-grayTwo relative overflow-hidden">
                <h3 class="title-4">Поддержка 24/7</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3 text-grayDark">Гарантируем бесперебойную работу, надежность и&nbsp;доступность сервиса.</p>
            </article>
            <article class="rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col bg-grayTwo relative overflow-hidden">
                <h3 class="title-4">Внедрение</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3 text-grayDark">Переведём на&nbsp;наше решение без сбоев, с&nbsp;сохранением данных.</p>
            </article>
            <article class="rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col bg-grayTwo relative overflow-hidden">
                <h3 class="title-4">Регулярные обновления</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3 text-grayDark">На&nbsp;основе ваших запросов, трендов рынка и&nbsp;нашей аналитики.</p>
            </article>
            <article class="rounded-32 md1:rounded-2xl p-10 md1:p-6 flex flex-col border border-solid border-black relative overflow-hidden">
                <h3 class="title-4">Интеграции API</h3>
                <p class="text-paragraph-3 mt-4 md1:mt-3">Обеспечим интеграцию разных приложений и&nbsp;программ.</p>
            </article>
        </div>
        <div
            class="mt-[100px] md1:mt-10 bg-[#5046e5] rounded-32 md1:rounded-3xl overflow-hidden p-10 md1:px-6 md1:py-8 flex items-center justify-between relative gap-12 md2:gap-6 md2:flex-col md2:items-start">
            <div class="flex-grow">
                <h2 class="text-white">
                    <span class="title-2 mmd1:text-[38px]">100%</span>
                    <span class="text-paragraph mmd1:text-[22px]">клиентов остаются с нами</span>
                </h2>
            </div>
            <button
                type="button"
                class="btn btn-secondary btn-s-default mmd2:!min-w-max md2:w-full"
                data-graph-path="create-bid"
                data-graph-animation="fadeInUp"
                data-graph-speed="350">
                Оставить заявку
            </button>
        </div>
    </div>
</section>
