<section class="bg-gray mt-[160px] md1:mt-20 py-[100px] md1:py-8">
    <div class="container-desktop mmd1:max-w-[1186px] !px-0">
        <div class="grid grid-cols-2 gap-5 md1:gap-4 md1:grid-cols-1">
            <div class="flex flex-col p-10 pr-[60px] md1:p-6 rounded-32 md1:rounded-2xl bg-white mmd1:min-h-[530px] md1:min-h-[300px]">
                <h2 class="title-2 mmd1:text-[38px]">
                    Контакт-центр <br class="md1:hidden" />
                    для управляющих <br class="md1:hidden" />
                    компаний
                </h2>
                <p class="mt-6 md1:mt-5 leading-[1.4]">
                    Профессиональная аварийно-диспетчерская служба для ЖКХ под ключ, берем на&nbsp;себя прием заявок и&nbsp;работу с&nbsp;жителями.
                    Снижаем расходы на&nbsp;АДС до&nbsp;80%.
                </p>
                <div class="mt-auto self-start">
                    <div class="mt-14">
                        <a href="/ads" class="btn btn-five btn-s-default">Подробнее</a>
                    </div>
                </div>
            </div>
            <div
                class="flex flex-col p-10 pr-[60px] md1:p-6 rounded-32 md1:rounded-2xl bg-[#5046e5] mmd1:min-h-[530px] md1:min-h-[400px] bg-contain bg-no-repeat bg-[top_24px_left_56px] md3:bg-[top_56px_left_0px]"
                style="background-image: url(&quot;./img/dispatcher-3.webp&quot;)">
                <div class="mt-auto">
                    <h2 class="title-3 mmd1:text-[32px] !text-white">
                        Поможем <br class="md1:hidden" />
                        подобрать тариф <br class="md1:hidden" />
                        для вас
                    </h2>

                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-secondary btn-s-default mt-[30px] md1:mt-5">
                        Расчитать тариф
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
