<section class="work-cities-block mt-[128px] overflow-hidden md1:mt-20">
    <div class="container">
        <div class="mmd1:ml-[56px] mb-[60px] md1:mb-12">
            <h2 class="title-2">Работаем по всей России</h2>
            <p class="mt-6 text-paragraph">Помогаем нашим клиентам обеспечивать высокий уровень сервиса</p>
        </div>
    </div>
    <div class="container mmd1:max-w-[2900px] overflow-hidden">
        <div class="flex flex-col gap-[15px]">
            <div class="marquee3k ticker-slider" data-speed="0.2">
                <div>
                    <div class="tag tag-secondary">Москва</div>
                    <div class="tag tag-secondary">Екатеринбудг</div>
                    <div class="tag tag-secondary">Нижний новгород</div>
                    <div class="tag tag-secondary">Красноярск</div>
                    <div class="tag tag-secondary">Пермь</div>
                    <div class="tag tag-secondary">Челябинск</div>
                    <div class="tag tag-secondary">Уфа</div>
                    <div class="tag tag-secondary">Самара</div>
                    <div class="tag tag-secondary">Ростов-на-Дону</div>
                    <div class="tag tag-secondary">Краснодар</div>
                </div>
            </div>
            <div class="marquee3k ticker-slider" data-speed="0.2" data-reverse="true">
                <div>
                    <div class="tag tag-secondary">Набережные Челны</div>
                    <div class="tag tag-secondary">Кемерово</div>
                    <div class="tag tag-secondary">Ставрополь</div>
                    <div class="tag tag-secondary">Томск</div>
                    <div class="tag tag-secondary">Ярославль</div>
                    <div class="tag tag-secondary">Владивосток</div>
                    <div class="tag tag-secondary">Иркутск</div>
                    <div class="tag tag-secondary">Хабаровск</div>
                    <div class="tag tag-secondary">Казань</div>
                    <div class="tag tag-secondary">Санкт-Петербург</div>
                </div>
            </div>
        </div>
    </div>
</section>
