<section class="mt-20">
    <div class="container-desktop mmd1:max-w-[1184px] mmd1:!p-0">
        <div class="bg-[rgba(0,190,161,0.1)] rounded-primary py-[61px] px-14 md1:px-6 md1:py-8 flex relative gap-12 overflow-hidden">
            <div class="flex flex-col flex-grow mmd1:max-w-[547px] md1:max-w-[600px] relative z-20">
                <span class="tag tag-three tag-small mb-10">Дополнительные возможности</span>
                <h1 class="title-1-5">
                    Личный кабинет <br />
                    собственника
                </h1>
                <p class="mt-6 leading-normal">
                    При подключнии личного кабинета, количество обращений в&nbsp;ЕДС МО&nbsp;снижается. Собственники направляют заявки напряму
                    в&nbsp;УК.
                </p>
                <div class="mt-14 flex gap-3 md3:flex-col md1:mt-12">
                    <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="btn btn-primary btn-s-default">
                        Подробнее
                    </button>
                </div>
            </div>
            <picture class="absolute mmd1:bottom-[90px] mmd1:right-10 md1:top-0 md1:right-0 md2:-top-4 md2:-right-4 z-10">
                <source srcset="./img/message.webp" type="image/webp" />
                <img
                    loading="lazy"
                    src="./img/message.png"
                    width="439"
                    height="337"
                    alt=""
                    class="md1:max-w-[320px] md2:max-w-[160px]"
                    role="presentation"
                    aria-hidden="true" />
            </picture>
        </div>
    </div>
</section>
