<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Как работает сервис?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            Бот интегрирован с&nbsp;Единой диспетчерской службой московской области
                            <span class="text-greenLight">eds.mosreg.ru</span>. Отслеживает появление новых заявок на&nbsp;портале
                            и&nbsp;автоматически принимает&nbsp;их “В работу”.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как вы оповещаете о новых заявках?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Мы направляем оповещения в меседжер Telegram и по необходимости, на электронную почту.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можете&nbsp;ли вы&nbsp;оповещать нас по&nbsp;телефону?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да. За&nbsp;это отвечает электронный диспетчер, он&nbsp;сразу позвонит и&nbsp;сообщит о&nbsp;наличии новой заявки.
                            А&nbsp;при необходимости назначит исполнителя, оповестит его и&nbsp;проверит выпопление.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можете&nbsp;ли вы&nbsp;собирать обратную связь?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да. После выполнения заявки мы&nbsp;можем уточнить у&nbsp;жителя о&nbsp;результатах работ, зафиксируем оценку
                            и&nbsp;проинформируем&nbsp;УК если у&nbsp;жителя остались вопросы.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Сколько сотрудников можно подключить?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Вы&nbsp;можете подключить любое количество сотрудников без увеличесния стоимости.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно&nbsp;ли подключить сразу несколько управляющих организаций?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, это возможно. Оповещения будут направляться на&nbsp;указанные номера телефонов ваших сотрудников.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как быстро можно подключить бот?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Настройка займет 10&nbsp;до&nbsp;30&nbsp;минут. Нам потребуются данные для входа на&nbsp;портал eds.mosreg.ru. Пробный
                            период бсплатно.
                        </p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Протестировать
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как оплатить?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Оплата производится на&nbsp;основании счёта и&nbsp;Договора-оферты, опубликованного на&nbsp;сайте. Оплата счёта является
                            полным и&nbsp;безоговорочным акцептом условий оферты в&nbsp;соответствии со&nbsp;ст.&nbsp;438&nbsp;ГК РФ
                        </p>
                        <button
                            class="btn btn-five btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Договор-оферта
                        </button>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Есть&nbsp;ли тестовый период?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, мы&nbsp;можем предоставить бесплатный тестовый период для тестирования и&nbsp;демонстрации.</p>
                        <button
                            class="btn btn-primary btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Протестировать
                        </button>
                    </div>
                </li>
                <li class="faq__item bg-[#e5f8f5]">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Оказываете&nbsp;ли вы&nbsp;услуги контакт-центра?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>
                            Да, мы&nbsp;предлагаем услуги удаленного контакт-центра. Подробнее ознакомиться с&nbsp;услугой и&nbsp;тарифами можно
                            перейдя на&nbsp;страницу с&nbsp;подробным описанием.
                        </p>
                        <button
                            class="btn btn-primary !bg-greenLight btn-s-small mt-4 relative z-[11]"
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350">
                            Подробнее
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
