<section id="tariffSelection" class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-5 mb-6">Выберите подходящий тариф</h2>
        <div class="mt-20 grid grid-cols-2 gap-6 md1:mt-8 md2:grid-cols-1 md1:gap-4">
            <div class="product-card-tariff mmd1:min-h-[421px]">
                <span class="product-card-tariff__mode">Выгодный</span>
                <h3 class="title-3 product-card-tariff__title">600 ₽ в месяц</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок в работу</p>
                <p class="product-card-tariff__price-descr">При оплате за период от 3х месяцев</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-five btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
            <div class="product-card-tariff product-card-tariff--text-white product-card-tariff--dark mmd1:min-h-[421px]">
                <span class="product-card-tariff__mode">Стандартный</span>
                <h3 class="title-3 product-card-tariff__title">700 ₽ в месяц</h3>
                <p class="product-card-tariff__descr">Круглосуточный прием всех заявок в&nbsp;работу</p>
                <div class="mt-auto">
                    <button
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350"
                        class="btn btn-secondary btn-s-default product-card-tariff__btn">
                        Подключить
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
