<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Возможности сервиса</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 md1:rounded-3xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-3">Быстрый прием в работу</h4>
                <p class="mt-5 leading-normal">
                    Принимаем в&nbsp;работу заявки не&nbsp;позднее 5&nbsp;минут после поступления, не&nbsp;допуская просрочек
                </p>
            </article>
            <article class="bg-gray rounded-20 md1:rounded-3xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-3">Уведомления и оповещения</h4>
                <p class="mt-5 leading-normal">Направляем уведомления о&nbsp;новых обращениях в&nbsp;меседжеры, и&nbsp;по&nbsp;электронной почте</p>
            </article>
            <article class="bg-gray rounded-20 md1:rounded-3xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-3">Напоминания</h4>
                <p class="mt-5 leading-normal">Отслеживаем установленные даты выполнения заявок и&nbsp;вовремя напоминаем</p>
            </article>
            <article class="bg-gray rounded-20 md1:rounded-3xl p-10 md1:p-6 flex flex-col">
                <h4 class="title-3">Закрытие заявок в ЕДС</h4>
                <p class="mt-5 leading-normal">Закрываем заявки в&nbsp;сисеме eds.mosreg.ru, после выполнения и&nbsp;изменение статуста</p>
            </article>
        </div>
    </div>
</section>
