<section class="mt-[160px] md1:mt-20">
    <div class="container-desktop mmd1:max-w-[1186px] !p-0">
        <div class="bg-grayTwo rounded-32 md1:rounded-none px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
            <div class="mmd1:max-w-[420px] flex flex-col flex-grow mmd1:pb-11">
                <h2 class="title-4">Доступно для каждого</h2>
                <p class="mt-5 leading-normal text-grayDark mmd1:max-w-[494px]">
                    Чем больше вы&nbsp;предлагает вариантов для оплаты тем выше собираемость платежей
                </p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button data-graph-path="create-bid" data-graph-animation="fadeInUp" data-graph-speed="350" class="btn btn-primary btn-s-default">
                            Подробнее
                        </button>
                    </div>
                </div>
            </div>

            <picture class="mmd1:mt-9 mmd1:mr-[65px] md1:self-end md1:mr-12 md1:mb-5 md3:-mr-3 md3:mb-3">
                <source srcset="./img/doc.webp" type="image/webp">
                <img loading="lazy" src="./img/doc.png" width="422" height="300" alt="" role="presentation" class="md3:max-w-[300px]" aria-hidden="true">
            </picture>

            <picture class="w-max absolute bottom-0 right-0 z-10 md1:-bottom-4 md1:-right-10 md3:bottom-0">
                <source srcset="./img/cat-paw-2.webp" type="image/webp">
                <img loading="lazy" src="./img/cat-paw-2.png" class="md3:max-w-[160px]" width="243" height="173" alt="" role="presentation" aria-hidden="true">
            </picture>
        </div>
    </div>
</section>
