<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Зачем подключать онлайн-оплату?</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blue mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#users"></use>
                    </svg>
                </div>
                <h4 class="title-3">Платёжная дисциплина</h4>
                <p class="mt-5 leading-normal">Чем проще оплатить услуги УК&nbsp;&mdash; тем выше собираемость и&nbsp;меньше задолженностей</p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blue mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#users"></use>
                    </svg>
                </div>
                <h4 class="title-3">Электронные квитанции</h4>
                <p class="mt-5 leading-normal">
                    Собственники получают электронные квитанции и&nbsp;контролируют начисления в&nbsp;приложении и&nbsp;личной кабинете
                </p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blue mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#users"></use>
                    </svg>
                </div>
                <h4 class="title-3">Единые реестры платежей</h4>
                <p class="mt-5 leading-normal">
                    Ежедневно направляем реестр платежей с&nbsp;разбивкой по&nbsp;типам платежей, услугам и&nbsp;лицевым счетам
                </p>
            </article>
            <article class="bg-gray rounded-2xl p-10 md1:p-6 flex flex-col">
                <div class="circle-icon circle-icon--secondary circle-icon--blue mb-10 md1:mb-8">
                    <svg>
                        <use xlink:href="img/sprite.svg#users"></use>
                    </svg>
                </div>
                <h4 class="title-3">Удобство для собственников</h4>
                <p class="mt-5 leading-normal">
                    Собствениники получают понятный онлайн-инструмент для оплаты ЖКУ и&nbsp;взносов на&nbsp;капитальный ремонт
                </p>
            </article>
        </div>
        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Подключить
        </button>
    </div>
</section>
