<section class="@className md1:mt-20 faq">
    <div class="container mmd1:max-w-[1186px] mmd1:p-0 flex gap-8 md1:flex-col">
        <div class="flex-shrink-0">
            <h2 class="title-1-25">
                Вопросы <br class="md1:hidden" />
                и ответы
            </h2>
        </div>
        <div class="mmd1:max-w-[753px] mmd1:ml-auto flex-grow">
            <ul data-one-spoller data-spollers class="w-full flex flex-col gap-5">
                <li class="faq__item">
                    <button class="faq__btn _spoller-active" data-spoller>
                        <h3 class="title-4">Какие услуги можно оплачивать?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3">
                        <p>
                            — коммунальных услуг;<br/>
                            — содержания жилья;<br/>
                            — парковки;<br/>
                            — домофона;<br/>
                            — дополнительных сервисов управляющей компании.
                        </p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Безопасны ли онлайн-платежи?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, все платежи проходят через защищенные платежные системы с использованием современных стандартов безопасности.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Нужно ли вводить реквизиты каждый раз?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Нет, можно сохранить карту или подключить автоплатеж для быстрой оплаты.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Можно ли оплатить счета по нескольким объектам?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Да, в одном аккаунте можно оплачивать начисления по нескольким квартирам или помещениям.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Где посмотреть историю оплат?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Все платежи и чеки сохраняются в личном кабинете и доступны в любое время.</p>
                    </div>
                </li>
                <li class="faq__item">
                    <button class="faq__btn" data-spoller>
                        <h3 class="title-4">Как быстро отображается оплата?</h3>
                        <svg class="ml-3 faq__arrow">
                            <use xlink:href="img/sprite.svg#arrow-bottom-circle"></use>
                        </svg>
                    </button>
                    <div class="faq__content text-paragraph-3" hidden>
                        <p>Обычно платеж отображается в системе автоматически в течение нескольких минут.</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
