<section class="mt-[50px] md1:mt-0">
    <div class="container-desktop">
        <div class="bg-[#575AD6] rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none md1:pb-0 gap-12">
            <div class="mmd1:max-w-[500px] flex flex-col flex-grow">
                <h1 class="title-1 !text-white">
                    Оплата ЖКУ <br class="md1:hidden" />
                    и капитального ремонта онлайн
                </h1>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-primary btn-s-default">
                            Подключить
                        </button>
                    </div>
                </div>
            </div>

            <picture class="mmd1:absolute -bottom-[100px] right-20 md1:mb-6">
                <source srcset="./img/payment-banner.webp" type="image/webp" />
                <img loading="lazy" src="./img/payment-banner.png" width="536" height="608" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container !mt-5">
        <div class="mmd1:ml-14 pt-[54px] md1:pt-5 max-w-[545px]">
            <h3 class="title-3">Сервис помогает увеличить собираемость платежей до 30%</h3>
        </div>
    </div>
</section>
