<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Cпособы онлайн-оплаты</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-6 md3:grid-cols-1">
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3 mb-20">
                    Оплата в мобильном <br class="md1:hidden" />
                    приложении
                </h4>
                <picture class="self-center mt-auto">
                    <source srcset="./img/payment-phone.webp" type="image/webp" />
                    <img loading="lazy" src="./img/payment-phone.png" width="289" height="365" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 pl-10 md1:pt-6 md1:pl-6 flex flex-col">
                <h4 class="title-3 mb-20">Оплата в личном кабинете собственника</h4>

                <picture class="self-end mt-auto">
                    <source srcset="./img/payment-lc-banner.webp" type="image/webp" />
                    <img loading="lazy" src="./img/payment-lc-banner.png" width="491" height="365" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-[#dde6ff] rounded-32 md1:rounded-3xl p-10 md1:pt-6 md1:px-6 flex flex-col md1:pb-6">
                <h4 class="title-3">Оплата по ссылке</h4>
                <p class="mt-5 mb-20 leading-normal text-black">
                    Ссылку можно сформировать и&nbsp;направить собственнику по&nbsp;элетронной почте, сообщением в&nbsp;меседжере или СМС
                </p>
                <picture class="self-center mt-auto">
                    <source srcset="./img/payment-link.webp" type="image/webp" />
                    <img loading="lazy" src="./img/payment-link.png" width="473" height="260" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
            <article class="bg-gray rounded-32 md1:rounded-3xl pt-10 px-10 md1:pt-6 md1:px-6 flex flex-col">
                <h4 class="title-3 mb-20">Оплата по QR-коду</h4>
                <picture class="self-center mt-auto">
                    <source srcset="./img/payment-qr-phone.webp" type="image/webp" />
                    <img loading="lazy" src="./img/payment-qr-phone.png" width="289" height="365" alt="" role="presentation" aria-hidden="true" />
                </picture>
            </article>
        </div>
    </div>
</section>
