<section class="mt-[50px] md1:mt-6">
    <div class="container">
        <div class="breadcrumbs-secondary mb-14 md1:mb-8">
            <ul class="breadcrumbs-secondary__list">
                <li class="breadcrumbs-secondary__item">
                    <img loading="lazy" src="./img/house-icon.svg" class="breadcrumbs-secondary__icon" width="20" height="20" alt="" />
                </li>
                <li class="breadcrumbs-secondary__item">
                    <a href="#">Блог</a>
                </li>
                <li class="breadcrumbs-secondary__item">
                    <a href="#">Автоматизация</a>
                </li>
                <li class="breadcrumbs-secondary__item">
                    <span>Автоматизация службы</span>
                </li>
            </ul>
        </div>
        <div class="bg-grayTwo h-12 px-5 flex-center-all rounded-xl w-max">
            <span class="text-paragraph-3 !font-semibold">Автоматизация</span>
        </div>

        <div class="mt-6 flex gap-[146px]">
            <div class="mmd1:max-w-[850px] w-full min-w-0">
                <h1 class="title-1-25">
                    <span>Автоматизация службы внутренней доставки заказов в&nbsp;ЖК</span>
                    <span class="text-purpleSecond">Симфония 34</span>
                </h1>
                <div class="mt-6 md1:mt-4">
                    <div class="uppercase text-[13px] text-grayDark font-medium flex gap-4 items-center">
                        <time datetime="2026-03-25" class="">25 марта 2026</time>

                        <div class="flex items-center gap-1.5">
                            <svg class="w-4 h-4 text-black">
                                <use xlink:href="img/sprite.svg#clock"></use>
                            </svg>
                            <span>читать 3 мин</span>
                        </div>
                    </div>
                </div>
                <div class="mt-16 md1:mt-10">
                    <p class="text-paragraph-2">
                        В&nbsp;современных жилых комплексах служба внутренней доставки становится полноценной частью инфраструктуры для жителей.
                        Особенно когда речь идет об&nbsp;обьектах с&nbsp;собственной службой сервиса и&nbsp;большим количеством ежедневных курьерских
                        доставок для резидентов.
                    </p>
                    <div class="mt-20 md1:mt-12">
                        <div class="bg-gray p-10 md1:p-6 flex gap-10 md2:flex-col md2:gap-8 rounded-20">
                            <svg class="w-10 h-10 flex-shrink-0">
                                <use xlink:href="img/sprite.svg#box"></use>
                            </svg>
                            <p class="text-paragraph-2">
                                Сейчас объем посылок, передаваемых через внутреннюю курьерскую службу&nbsp;УК составляет до
                                <span class="font-extrabold">&nbsp;600&nbsp;в сутки.</span> При таком количестве заказов, ручное управление быстро
                                приводит к&nbsp;перегрузке сотрудников, ошибкам при распределении заданий и&nbsp;сложностям с&nbsp;контролем.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="mt-20 md1:mt-12">
                    <h2 class="title-3 !text-[32px] mb-8">Задача</h2>
                    <p class="text-paragraph-2">
                        Основной задачей было создать систему, которая позволила&nbsp;бы автоматизировать цикл внутренней доставки заказов,
                        от&nbsp;их&nbsp;регистрации до&nbsp;передачи получателю. Главная цель это перевод службы доставки из&nbsp;ручного
                        операционного режима в&nbsp;управляемый цифровой процесс.
                    </p>
                </div>
                <div class="mt-20 md1:mt-12">
                    <h2 class="title-3 !text-[32px] mb-8">Как работает система</h2>
                    <p class="text-paragraph-2">Теперь каждое отправление проходит через единый цифровой маршрут:</p>
                    <div class="mt-20 md1:mt-12">
                        <div class="p-10 md1:p-6 border border-purpleSecond rounded-20 flex flex-col gap-7 text-paragraph-2">
                            <div>
                                <span class="font-extrabold">Прием посылки →</span>
                                <span>
                                    Прием посылки происходит автоматически, специалист по приемке сканирует данные на устройстве курьера при помощи
                                    мобильного приложения.
                                </span>
                            </div>
                            <div>
                                <span class="font-extrabold">Регистрация →</span>
                                <span> Система с помощью нейросети привязывает доставку к конкретному адресу и создает заявку. </span>
                            </div>
                            <div>
                                <span class="font-extrabold">Назначение курьера →</span>
                                <span>
                                    Вместо ручного распределения посылок, сотрудники получают задания в личные кабинеты и мобильные приложения. Видят
                                    обзее количество заказов и могут точно распределить нагрузку и свое время.
                                </span>
                            </div>
                            <div>
                                <span class="font-extrabold">Доставка →</span>
                                <span>
                                    Для каждой зарегистрированой посылки, формируется история движения, где фиксируются все действия и статусы.
                                </span>
                            </div>
                            <div>
                                <span class="font-extrabold">Завершение доставки →</span>
                                <span> В момент завершения доставки, курьер производит фотофиксацию в мобильном приложении. </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-20 md1:mt-12">
                    <h2 class="title-3 !text-[32px] mb-8">Уведомления для резидентов</h2>
                    <p class="text-paragraph-2">
                        После изменения статуса система может автоматически уведомлять получателя по&nbsp;смс, push-уведомлением в&nbsp;мобильном
                        приложении и&nbsp;звонком Виртуального консьержа.
                    </p>
                    <br />
                    <br />
                    <p class="text-paragraph-2">Например уведомления:</p>
                    <br />
                    <br />
                    <div class="flex gap-4">
                        <div class="rounded-[5px] w-[5px] bg-purpleSecond flex-shrink-0" aria-hidden="true"></div>
                        <div class="text-paragraph-2">
                            <p class="font-semibold">Внутренняя доставка.</p>
                            <p>Курьер получил отправление и направляется к вам.</p>
                        </div>
                    </div>
                    <br />
                    <br />
                    <p class="text-paragraph-2">После передачи:</p>
                    <br />
                    <br />
                    <div class="flex gap-4">
                        <div class="rounded-[5px] w-[5px] bg-purpleSecond flex-shrink-0" aria-hidden="true"></div>
                        <div class="text-paragraph-2">
                            <p class="font-semibold">Посылка доставлена.</p>
                            <p>Получение подтверждено.</p>
                        </div>
                    </div>
                    <div class="mt-20 md1:mt-12 p-10 h-[234px] flex-center-all bg-[#f1f1f1] rounded-20">
                        <picture>
                            <source srcset="./img/order-at-the-door.webp" type="image/webp" />
                            <img loading="lazy" src="./img/order-at-the-door.png" width="459" height="106" alt="Заказ доставлен" />
                        </picture>
                    </div>
                </div>
                <div class="mt-20 md1:mt-12">
                    <h2 class="title-3 !text-[32px] mb-8">
                        Управляющая компания получила контроль <br class="md1:hidden" />
                        работы службы внутренней доставки
                    </h2>
                    <p class="text-paragraph-2">Для руководителя появляется единая картина работы и&nbsp;можно отслеживать:</p>
                    <br />
                    <br />
                    <ul class="flex flex-col gap-6">
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">количество поступивших доставок;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">количество доставленных;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">активные доставки;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">просроченные доставки;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">среднее время доставки;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">загрузку сотрудников;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">количество доставок по объектам;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">историю операций;</span>
                        </li>
                        <li class="flex gap-4 md1:gap-3">
                            <svg class="mt-[3px] w-[18px] h-[18px] flex-grow-0 flex-shrink-0 basis-[18px] text-purpleSecond">
                                <use xlink:href="img/sprite.svg#check-circle-fill"></use>
                            </svg>
                            <span class="text-paragraph-2 !leading-[1.2]">проблемные и незавершенные доставки.</span>
                        </li>
                    </ul>
                </div>
                <div class="mt-20 md1:mt-12">
                    <div
                        class="bg-grayTwo rounded-32 md1:rounded-3xl px-11 pt-11 md1:px-6 md1:pt-6 mmd1:min-h-[410px] flex mmd1:justify-between md1:flex-col relative overflow-hidden md1:gap-10">
                        <div class="mmd1:max-w-[344px] flex flex-col flex-grow mmd1:pb-11">
                            <h2 class="title-4">
                                Мобильное приложение <br class="md1:hidden" />
                                для курьеров&nbsp;УК
                            </h2>
                            <p class="mt-5 leading-normal text-grayDark max-w-[440px]">
                                Все сотрудники управляющей компании, используют единое приложение, которое адаптируется к&nbsp;роли сотрудника
                            </p>
                            <div class="mt-auto">
                                <div class="mt-12 flex gap-3 md3:flex-col">
                                    <a href="#" class="btn btn-primary btn-s-default min-w-[153px]">Скачать</a>
                                </div>
                            </div>
                        </div>
                        <picture class="self-end md1:self-center mmd1:mr-[31px]">
                            <source srcset="./img/phone-15.webp" type="image/webp" />
                            <img loading="lazy" src="./img/phone-15.png" width="222" height="375" alt="" role="presentation" aria-hidden="true" />
                        </picture>
                    </div>
                </div>
            </div>
            <div class="md1:hidden">
                <div class="sticky top-6 w-full">
                    <picture>
                        <source srcset="./img/building.webp" type="image/webp" />
                        <img loading="lazy" src="./img/building.png" width="300" height="400" alt="" />
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>
