@use "sass:math";

// break points
$desktop: 1296px;
$desktop-min: 1297px;
$tablet-max: 1024px;
$tablet-min: 1025px;

$smallTablet-max: 749px;
$smallTablet-min: 850px;

$mobile-max: 599px;
$mobile-min: 600px;

$smallMobile-max: 480px;
$smallMobile-min: 481px;

// others vars
$transitionSpeed: 0.22s;
$transitionSpeedFast: 0.12s;
$transitionFunction: ease-in-out;
