@import "./$vars.scss";

html {
    box-sizing: border-box;
    height: 100%;
}

body {
    font-family: var(--font-family);
    font-size: var(--default-fz);
    line-height: 1;

    color: var(--black);

    margin: 0;
    min-width: 320px;
    min-height: 100%;
    &::after {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.25);
        backdrop-filter: blur(7.5px);
        z-index: 100;
        opacity: 0;
        visibility: hidden;
        transition:
            opacity 0.32s ease-in-out,
            visibility 0.32s ease-in-out;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: currentColor;
    @media (max-width: $desktop) {
        -webkit-tap-highlight-color: transparent;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}

img {
    display: block;
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

button {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    user-select: none;
}

input {
    -webkit-appearance: none;
    appearance: none;
    border-radius: 0;
    padding: 0;
    border: none;
    outline: none;
}

.site-container {
    overflow: hidden;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: start;
    @media (max-width: $desktop) {
        margin-top: var(--header-height, 55px);
    }
}

img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 0;
    background: 0 0;
    cursor: pointer;
    user-select: none;
}

// =============== Other ===============

.visually-hidden {
    position: absolute;
    overflow: hidden;
    margin: -1px;
    border: 0;
    padding: 0;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
}

.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
}

.container-big {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width-big);
}

.container-desktop {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
    @media (max-width: $desktop) {
        padding: 0;
    }
}

.dis-scroll {
    position: fixed;
    left: 0;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    overscroll-behavior: none;
}

.title-1 {
    font-size: 58px;
    line-height: 1.05;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 36px;
    }
}
.title-1-25 {
    font-size: 52px;
    line-height: 1.05;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 30px;
    }
}

.title-1-5 {
    font-size: 48px;
    line-height: 1.14;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 30px;
    }
}

.title-2 {
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 30px;
    }
}

.title-3 {
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 26px;
    }
}

.title-3-5 {
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 24px;
    }
}

.title-4 {
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 20px;
    }
}

.title-4-5 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 16px;
    }
}

.title-5 {
    font-size: 18px;
    line-height: 1.2;
    font-weight: 600;
    @media (max-width: $desktop) {
        font-size: 16px;
    }
}

.text-paragraph {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    @media (max-width: $desktop) {
        font-size: 16px;
    }
}

.text-paragraph-2 {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.66;
    @media (max-width: $desktop) {
        font-size: 16px;
    }
}

.ticker-slider {
    .marquee3k__wrapper {
        display: inline-flex !important;
        gap: 15px;
        @media (max-width: $desktop) {
            gap: 12px;
        }
    }
    .marquee3k__copy {
        display: inline-flex !important;
        align-items: center;
        gap: 15px;
        @media (max-width: $desktop) {
            gap: 12px;
        }
    }
}

.slider-pagination {
    @apply flex items-center gap-1;
    .swiper-pagination-bullet {
        transition: all $transitionSpeed $transitionFunction;
        margin: 0 !important;
        @apply w-2 h-2 bg-white rounded-3xl opacity-100;
    }

    .swiper-pagination-bullet-active {
        @apply w-6 bg-[rgba(255,255,255,0.5)];
    }
}

.logo {
    width: 137px;
    @media (max-width: $desktop) {
        width: 100px;
    }
}

.logo-property {
    width: 99px;
}

@layer utilities {
    .flex-center-all {
        @apply flex items-center justify-center;
    }
    .rounded-primary {
        @apply rounded-[48px] md1:rounded-3xl;
    }
    .transition-primary-all {
        transition: all $transitionSpeed $transitionFunction;
    }

    .link-primary {
        transition: color $transitionSpeed $transitionFunction;
        font-weight: 500;
        @media (min-width: $desktop-min) {
            &:hover {
                color: var(--hover-primary);
            }
        }
    }

    .link-arrow {
        @apply link-primary flex items-center gap-3;
        svg {
            @apply w-6 h-6;
        }
    }

    .cut {
        display: -webkit-box;
        overflow: hidden;
        -webkit-hyphens: manual;
        hyphens: manual;
        -webkit-box-orient: vertical;
    }

    .cut-1 {
        -webkit-line-clamp: 1;
    }

    .cut-2 {
        -webkit-line-clamp: 2;
    }

    .cut-3 {
        -webkit-line-clamp: 3;
    }
}

[hidden] {
    display: none !important;
}

.ibg {
    position: relative;
}

.ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

.provide-solution__arrow-top-right {
    position: absolute;
    width: 25px;
    height: 25px;
    color: var(--black);

    opacity: 0;
    transform: translate3d(-4px, 4px, 0);
    transition:
        opacity 0.2s ease-out 0.05s,
        transform 0.2s ease-out 0.05s;
    @media (max-width: $desktop) {
        display: none;
    }
}

.btn-tg {
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    background-color: #fff;
    svg {
        width: 16px;
        height: 14px;
    }
}

.action-tg {
    position: fixed;
    bottom: 36px;
    right: 36px;

    display: flex;

    z-index: 20;

    &._active {
        .action-tg-link {
            opacity: 1;
            visibility: visible;
        }
    }
    @media (max-width: $desktop) {
        bottom: 20px;
        right: 20px;
    }
}
.action-tg-link {
    background-color: white;
    box-shadow: 0px 0px 15px 0px #456ac733;
    height: 70px;
    padding: 0 calc(70px + 15px) 0 30px;
    position: absolute;
    top: 0;
    right: 0;

    white-space: nowrap;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 70px;

    font-size: 18px;
    font-weight: 500;
    color: var(--black);

    opacity: 0;
    visibility: hidden;

    transition:
        opacity $transitionSpeed $transitionFunction,
        visibility $transitionSpeed $transitionFunction;

    @media (max-width: $desktop) {
        font-size: 14px;
        height: 48px;
        padding: 0 calc(45px + 15px) 0 30px;
    }
}

.action-tg-btn {
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    background-color: #000;

    position: relative;
    z-index: 1;

    &:not(._active) {
        animation: pulse_1 500ms ease-in-out infinite alternate;
    }

    svg {
        width: 28px;
        height: 28px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);

        transition:
            opacity $transitionSpeed $transitionFunction,
            visibility $transitionSpeed $transitionFunction;

        @media (max-width: $desktop) {
            width: 24px;
            height: 24px;
        }
    }

    .action-tg-btn-tg {
        opacity: 0;
        visibility: hidden;
    }
    &._active {
        .action-tg-btn-message {
            opacity: 0;
            visibility: hidden;
        }

        .action-tg-btn-tg {
            opacity: 1;
            visibility: visible;
        }
    }

    @media (max-width: $desktop) {
        width: 48px;
        height: 48px;
    }
}

@keyframes pulse_1 {
    from {
        opacity: 0.75;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.05);
    }
}

.features-tabs-btn {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    white-space: nowrap;
    color: var(--black);

    &._active {
        cursor: default;
        box-shadow: 0 2px 0 0 currentColor;
    }
    @media (max-width: $desktop) {
        font-size: 20px;
    }
    @media (min-width: $desktop-min) {
        &:hover {
            box-shadow: 0 2px 0 0 currentColor;
        }
    }
    & ~ .features-tabs-text {
        @media (max-width: $tablet-max) {
            display: none;
        }
    }
}

.features-tabs-text {
    font-size: 18px;
    line-height: 1.66667;
    color: var(--black);
}

.features-tabs-text-anim {
    max-height: 0;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
    transform: translate3d(0, -32px, 0);
    transform: translate3d(0, calc(32px * -1), 0);
    transition:
        opacity 0.25s ease-out,
        transform 0.15s ease-out;

    &::before {
        @media (min-width: $desktop-min) {
            content: "";
            display: block;
            height: 22px;
        }
    }
    &._active {
        max-height: 732px;
        opacity: 1;
        overflow: visible;
        overflow: initial;
        transform: translateZ(0);
    }
}

.features-tabs-images {
    @apply mmd1:w-[640px] h-[640px] md1:h-[550px] md1_5:h-[450px] md3:h-[400px] md4:h-[350px] flex-shrink-0 bg-[#cdebf1] flex justify-center items-end rounded-[54px] md1:rounded-3xl relative md1:w-full md1:order-3;
}

.features-tabs-image {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
        opacity 0.35s ease-in-out,
        height 0.35s ease-in-out;
    visibility: hidden;
    display: block;

    .features-tabs-image-text {
        @media (max-width: $tablet-min) {
            display: none;
        }
    }

    &._active {
        height: auto;
        opacity: 1;
        overflow: visible;
        visibility: visible;
    }

    picture {
        @apply absolute transition-primary-all opacity-100 bottom-0 left-1/2 transform -translate-x-1/2;

        img {
            @media (max-width: $desktop) {
                margin: 0 auto;
                max-height: 500px;
                width: 100%;
                height: 100%;
            }

            @media (max-width: $tablet-max) {
                max-height: 400px;
            }

            @media (max-width: $mobile-max) {
                max-height: 350px;
            }
        }
    }
}

.banner-parallax {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}

[data-depth] {
    position: absolute;
    will-change: transform;
    backface-visibility: hidden;
}

.parallax-layer {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    z-index: 99;
}

.cloud-pass-service-parallax {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 20;
}

.news-page-content {
    a {
        transition: color $transitionSpeed $transitionFunction;
        color: var(--hover-primary);
        @media (min-width: $desktop-min) {
            &:hover {
                text-decoration: underline;
            }
        }
    }
}
