:root {
    // base
    --font-family: "Manrope", sans-serif;
    --content-width: 1296px;
    --content-width-big: 1320px;
    --container-offset: 15px;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
    --container-width-big: calc(var(--content-width-big) + (var(--container-offset) * 2));

    --white: #fff;
    --black: #000;
    --dark: #202020;
    --dark-pressed: #1d1d1d;
    --green: #26ad50;
    --green-dark: #448c74;
    --green-light: #00bea1;
    --orange: #f65f31;
    --blue: #3273f5;
    --light-blue: #2c7eff;
    --very-light-blue: #f4f8ff;
    --blue-pale: #f1f6fc;
    --blue-lightest: #d8e8ff;
    --cyan: #cdebf1;
    --light-cyan: #e4f1fe;
    --dark-cyan: #1e6c77;
    --gray: #f6f6f6;
    --gray-two: #f4f4f4;
    --gray-medium: #6e6e6e;
    --gray-dark: #676767;
    --gray-light: #bababa;
    --red: #d31c1c;
    --yellow: #f7bf04;
    --purple: #7f42e1;
    --purple-second: #7d57dc;
    --hover-primary: #448c74;

    --default-fz: 16px;

    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
}
