@tailwind utilities;

@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

@import "./ui/ui";

@import "./base/burger";

@import "./components/header";
@import "./components/footer";

@import "./components/platform-card";
@import "./components/features-item";
@import "./components/features-item-link";
@import "./components/faq";
@import "./components/our-growth";
@import "./components/product-card";
@import "./components/task-card";
@import "./components/banner-slide";
@import "./components/complex-card";
@import "./components/product-card-tariff";
@import "./components/info-card";
@import "./components/news-card";
