<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Оборудование</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-6 md3:grid-cols-1">
            <div
                class="p-8 bg-[rgba(0,190,161,0.2)] rounded-32 md1:rounded-2xl relative min-h-[283px] overflow-hidden transition-all hover:-translate-y-2">
                <h2 class="title-4 max-w-[255px]">Электронные <br class="md1:hidden" /> замки</h2>
                <picture>
                    <source srcset="./img/automation-2.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/automation-2.png"
                        width="160"
                        height="206"
                        class="absolute bottom-0 right-0"
                        alt="Электронные замки" />
                </picture>
            </div>
            <div
                class="p-8 bg-white border border-solid border-[#e0e0e0] rounded-32 md1:rounded-2xl relative min-h-[283px] overflow-hidden transition-all hover:-translate-y-2">
                <h2 class="title-4 max-w-[255px]">Шлюзы <br class="md1:hidden" /> управления</h2>
                <picture>
                    <source srcset="./img/control-gateways.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/control-gateways.png"
                        width="130"
                        height="135"
                        class="absolute bottom-8 right-8"
                        alt="Шлюзы управления" />
                </picture>
            </div>
            <div
                class="p-8 bg-white border border-solid border-[#e0e0e0] rounded-32 md1:rounded-2xl relative min-h-[283px] overflow-hidden transition-all hover:-translate-y-2">
                <h2 class="title-4 max-w-[255px]">Хранение ключей <br class="md1:hidden" /> Key-Box</h2>
                <picture>
                    <source srcset="./img/key-box.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/key-box.png"
                        width="130"
                        height="127"
                        class="absolute bottom-8 right-8"
                        alt="Хранение ключей Key-Box" />
                </picture>
            </div>
            <div
                class="p-8 bg-white border border-solid border-[#e0e0e0] rounded-32 md1:rounded-2xl relative min-h-[283px] overflow-hidden transition-all hover:-translate-y-2">
                <h2 class="title-4 max-w-[255px]">
                    Контролеры <br class="md1:hidden" />
                    и панели доступа
                </h2>
                <picture>
                    <source srcset="./img/controllers-and-panels.webp" type="image/webp" />
                    <img
                        loading="lazy"
                        src="./img/controllers-and-panels.png"
                        width="90"
                        height="158"
                        class="absolute bottom-8 right-8"
                        alt="Контролеры и панели доступа" />
                </picture>
            </div>
        </div>

        <button
            class="btn btn-primary btn-s-default mt-20 md1:mt-8 mx-auto md3:w-full"
            data-graph-path="create-bid"
            data-graph-animation="fadeInUp"
            data-graph-speed="350">
            Подключить
        </button>
    </div>
</section>
