<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">
            Почему арендодатели переходят <br class="md1:hidden" />
            на&nbsp;умные замки
        </h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-3 md2:grid-cols-1 gap-5 md1:gap-4">
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Доступ 24/7</h3>
                <p class="text-paragraph-3 pt-3 mt-auto text-grayDark">Гость сможет попасть на&nbsp;территорию один раз на&nbsp;одном КПП</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Без передачи ключей</h3>
                <p class="text-paragraph-3 pt-3 mt-auto text-grayDark">Не&nbsp;ограничивает кол-во посещений, действует в&nbsp;указанный период</p>
            </article>

            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col border border-solid border-black">
                <h3 class="title-4">Автономность</h3>
                <p class="text-paragraph-3 pt-3 mt-auto text-grayDark">Замки работают автономно, интернет не&nbsp;обязателен</p>
            </article>

            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Блокировка доступа после выезда</h3>
                <p class="text-paragraph-3 pt-3 mt-auto text-grayDark">Полный доступ на&nbsp;объект без ограницения кол-ва посещений</p>
            </article>
            <article class="rounded-32 md1:rounded-3xl p-10 md1:p-6 flex flex-col bg-grayTwo">
                <h3 class="title-4">Удалённое управление объектом</h3>
                <p class="text-paragraph-3 pt-3 mt-auto text-grayDark">Гость сможет сам заполнить данные и&nbsp;приехать в&nbsp;удобное время</p>
            </article>
        </div>
    </div>
</section>
