<section class="mt-[50px] md1:mt-0">
    <div class="container-desktop">
        <div class="bg-greenLight rounded-primary py-[54px] px-14 md1:p-6 mmd1:min-h-[488px] flex flex-col relative md1:rounded-none md1:pb-0 gap-12">
            <div class="mmd1:max-w-[500px] flex flex-col flex-grow">
                <h1 class="title-1 !text-white mmd1:text-[60px]">Система онлайн заселения</h1>
                <p class="mt-6 text-white text-paragraph mmd1:text-[24px]">Удаленное управление доступом</p>
                <div class="mt-auto">
                    <div class="mt-12 flex gap-3 md3:flex-col">
                        <button
                            data-graph-path="create-bid"
                            data-graph-animation="fadeInUp"
                            data-graph-speed="350"
                            class="btn btn-secondary btn-s-default">
                            Попробовать бесплатно
                        </button>
                    </div>
                </div>
            </div>

            <picture class="absolute md1:relative bottom-0 mmd1:right-6 md1:self-end">
                <source srcset="./img/online-check-in-hero.webp" type="image/webp" />
                <img loading="lazy" src="./img/online-check-in-hero.png" width="407" height="524" alt="" role="presentation" aria-hidden="true" />
            </picture>
        </div>
    </div>
    <div class="container !mt-5">
        <div class="mmd1:ml-14 pt-[54px] md1:pt-0 flex gap-32 md1:gap-6 md1:flex-col">
            <div class="max-w-[471px]">
                <h3 class="title-4">Комплект оборудования, монтаж и&nbsp;программное обеспечение для управления доступом онлайн</h3>
            </div>
            <div class="max-w-[513px]">
                <h3 class="title-3">
                    Цифровое гостеприимство <br class="md1:hidden" />
                    это ваше преимущество
                </h3>
            </div>
        </div>
    </div>
</section>
