<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Как работает сервис</h2>
        <div class="mmd1:ml-auto mt-20 md1:mt-8 mmd1:max-w-[753px] flex flex-col gap-5 md1:gap-4">
            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-greenLight flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">1</span>
                <div>
                    <h4 class="title-4 [&:not(:last-child)]:mb-4 md1:text-center">Устанавливаем электронный замок</h4>
                    <p class="text-paragraph-3 md1:text-center">
                        Настраиваем цифровой доступ. Замку не&nbsp;обязательно подключение к&nbsp;интернет. Все замки имеют режимы аварийного
                        открытия, коды, карты и&nbsp;даже аварийные физические ключи.
                    </p>
                    <button
                        class="btn btn-primary btn-s-small mt-5 md1:mx-auto"
                        data-graph-path="create-bid"
                        data-graph-animation="fadeInUp"
                        data-graph-speed="350">
                        Оставить заявку
                    </button>
                </div>
            </div>
            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-greenLight flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">2</span>
                <div>
                    <h4 class="title-4 [&:not(:last-child)]:mb-4 md1:text-center">Гость получает код или ссылку</h4>
                    <p class="text-paragraph-3 md1:text-center">
                        Для арендодателей достпны различные типы передачи доступов. При долгосрочной аренде это обычно карты и&nbsp;NFC, а&nbsp;при
                        краткосрочной это коды, ссылки. Доступно открытие через приложение и&nbsp;по&nbsp;звонку.
                    </p>
                </div>
            </div>
            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-greenLight flex-shrink-0 flex-center-all text-white text-paragraph !font-semibold">3</span>
                <div>
                    <h4 class="title-4 [&:not(:last-child)]:mb-4 md1:text-center">Гость заселяется самостоятельно</h4>
                    <p class="text-paragraph-3 md1:text-center">
                        Доступ остается активным на&nbsp;весь период проживания гостя и&nbsp;по&nbsp;окончанию срока проживания замок блокируется.
                    </p>
                </div>
            </div>

            <div
                class="flex items-start gap-8 rounded-32 md1:rounded-3xl pl-12 pr-14 py-9 bg-gray border border-solid border-black md1:p-6 md1:gap-6 md1:flex-col md1:items-center">
                <span class="w-9 h-9 rounded-full bg-greenLight flex-shrink-0 flex-center-all">
                    <svg class="w-5 h-5 text-white">
                        <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                </span>
                <div>
                    <h4 class="title-4 [&:not(:last-child)]:mb-4 md1:text-center">Собственник контролирует доступ онлайн</h4>
                    <p class="text-paragraph-3 md1:text-center">
                        Информация по&nbsp;заселению всегда доступна в&nbsp;приложении и&nbsp;личном кабинете собственника.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
