<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Где используют сервис</h2>
        <div class="mt-20 md1:mt-8 flex items-center gap-[10px] flex-wrap max-w-[1100px]">
            <div class="tag tag-four tag-big-lg">Квартиры и Аппартаменты</div>
            <div class="tag tag-four tag-big-lg">Офисы и Коворкинги</div>
            <div class="tag tag-four tag-big-lg">Гостевые дома</div>
            <div class="tag tag-four tag-big-lg">Отели</div>
            <div class="tag tag-four tag-big-lg">Аппарт-отели</div>
            <div class="tag tag-four tag-big-lg">Мини-отели</div>
            <div class="tag tag-four tag-big-lg">Загородные дома</div>
            <div class="tag tag-four tag-big-lg">Базы отдыха</div>
            <div class="tag tag-four tag-big-lg">Пансионаты</div>
        </div>
    </div>
</section>