<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1184px] mmd1:!p-0">
        <h2 class="title-1-25">Поддерживаемые точки доступа</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-4 gap-4 md1:grid-cols-2 md3:grid-cols-1">
            <article class="info-card">
                <div class="info-card__icon info-card__icon--green">
                    <svg>
                        <use xlink:href="img/sprite.svg#door"></use>
                    </svg>
                </div>
                <h3 class="title-4 info-card__title">Двери и калитки</h3>
                <p class="info-card__descr">С&nbsp;различными видами считывателей</p>
            </article>
            <article class="info-card">
                <div class="info-card__icon info-card__icon--green">
                    <svg>
                        <use xlink:href="img/sprite.svg#barrier"></use>
                    </svg>
                </div>
                <h3 class="title-4 info-card__title">Шлагбаумы</h3>
                <p class="info-card__descr">Оборудованные камерами, контроллерами, датчиками</p>
            </article>

            <article class="info-card">
                <div class="info-card__icon info-card__icon--green">
                    <svg>
                        <use xlink:href="img/sprite.svg#turnstiles"></use>
                    </svg>
                </div>
                <h3 class="title-4 info-card__title">Турникеты</h3>
                <p class="info-card__descr">Оборудованные камерами, контроллерами, датчиками</p>
            </article>
            <article class="info-card">
                <div class="info-card__icon info-card__icon--green">
                    <svg>
                        <use xlink:href="img/sprite.svg#gates"></use>
                    </svg>
                </div>
                <h3 class="title-4 info-card__title">Ворота</h3>
                <p class="info-card__descr">Любых видов, рольставни, откатные и&nbsp;другие</p>
            </article>
        </div>
    </div>
</section>
