<section class="mt-[160px] md1:mt-20">
    <div class="container mmd1:max-w-[1186px] mmd1:!p-0">
        <h2 class="title-1-25">Почему выбирают нас</h2>
        <div class="mt-20 md1:mt-8 grid grid-cols-2 gap-x-5 gap-y-6 md3:grid-cols-1 md1:gap-4">
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex gap-10 md1:gap-6 items-center">
                <div class="circle-icon circle-icon--secondary circle-icon--greenLight flex-shrink-0">
                    <svg>
                        <use xlink:href="img/sprite.svg#like"></use>
                    </svg>
                </div>
                <h4 class="title-4 mmd1:text-[22px]">Решение задач по&nbsp;подключению любой сложности</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex gap-10 md1:gap-6 items-center">
                <div class="circle-icon circle-icon--secondary circle-icon--greenLight flex-shrink-0">
                    <svg>
                        <use xlink:href="img/sprite.svg#tool"></use>
                    </svg>
                </div>
                <h4 class="title-4 mmd1:text-[22px]">Профессиональная и&nbsp;быстрая настройка</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex gap-10 md1:gap-6 items-center">
                <div class="circle-icon circle-icon--secondary circle-icon--greenLight flex-shrink-0">
                    <svg>
                        <use xlink:href="img/sprite.svg#key"></use>
                    </svg>
                </div>
                <h4 class="title-4 mmd1:text-[22px]">Возможность подключения к&nbsp;вашему оборудованию</h4>
            </article>
            <article class="bg-gray rounded-20 p-10 md1:p-6 flex gap-10 md1:gap-6 items-center">
                <div class="circle-icon circle-icon--secondary circle-icon--greenLight flex-shrink-0">
                    <svg>
                        <use xlink:href="img/sprite.svg#zap"></use>
                    </svg>
                </div>
                <h4 class="title-4 mmd1:text-[22px]">Не&nbsp;привязываем к&nbsp;сервису, вы&nbsp;можете управлять замком сами</h4>
            </article>
        </div>
    </div>
</section>
